<% content_for :page_title, 'Finapp - Ayuda' %>

<%= render 'shared/responsive-nav' %>
<header>
  <nav class="navbar navbar-edu">
    <div class="navbar__container">
      <div class="navbar__logo">
        <%= link_to(root_path) do %>
          <%= image_tag("logo-white.svg", class: "navbar__logo-img", :id => "navbarImage") %>
        <% end %>
      </div>
      <div class="navbar-sign__menu">
        <%= link_to "Educacion", educacion_main_path, class: "navbar-sign__menu-link" %>
        <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
        <% if user_signed_in? %>
          <% if current_user.account? && current_user.account.any_subscription? %>
            <%= link_to "Dashboard", dashboard_index_path, class: "navbar-sign__menu-link" %>
          <% else %>
            <%= link_to "Perfil", profile_path, class: "navbar-sign__menu-link" %>
            <%= link_to "¡Conviertete en Premium!", premium_main_path, class: "navbar-sign__menu-link" %>
          <% end %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, class: "navbar__menu-link button-min-alt" %>
        <% else %>
          <%= link_to "Crear cuenta", new_user_registration_path, class: "navbar-sign__menu-link button-min-alpha" %>
          <%= link_to "Inicia sesión", new_user_session_path, class: "navbar-sign__menu-link button-min-white"  %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<div class="premium__header">
  <div class="row">
    <div class="offset-by-two eight columns">
      <div class="premium__header-intro">
        <h2 class="signals__header-title">
          Centro de ayuda
        </h2>
        <p class="education__header-subtitle">
          Queremos que tengas la mejor experiencia utilizando nuestra plataforma, aqui buscaremos resolver todas tus dudas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="education__outro">
  <div class="container">
    <div class="education__suggest">
      <div class="row">
        <div class="six columns ">
          <h2 class="education__suggest-title">¿Te quedaron preguntas?</h2>
          <p class="education__suggest-text">Si aun tienes dudas, o quisieras saber más sobre ciertos temas, dejanos tu correo y cuentanos sobre que te interesa aprender o que temas te gustan más y tomaremos tu opinion en cuenta, ya que todos los días estamos trabajando en contenido de interés.</p>
        </div>
        <div class="six columns ">
          <div id="mc_embed_signup">
          <form action="https://finapp.us18.list-manage.com/subscribe/post?u=f0494aad2ec43380e7bec7afa&amp;id=66b1236e89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email education__suggest-mail" id="mce-EMAIL" placeholder="bernardo@finapp.com">
              </div>
              <div class="mc-field-group">
              	<input type="text" value="" name="FBACKEDU" class="required education__suggest-theme" id="mce-FBACKEDU" placeholder="Me gustaría ver más sobre...">
              </div>
              <div id="mce-responses" class="clear">
              	<div class="response" id="mce-error-response" style="display:none"></div>
              	<div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0494aad2ec43380e7bec7afa_66b1236e89" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="button-min"></div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
