<% content_for :page_title, 'Finapp - Educación' %>
<%= render 'shared/responsive-nav' %>

<% if user_signed_in? %>

<header>
  <nav class="navbar navbar-edu">
    <div class="navbar__container">
      <div class="navbar__logo">
        <%= link_to(root_path) do %>
          <%= image_tag("logo-white.svg", class: "navbar__logo-img", :id => "navbarImage") %>
        <% end %>
      </div>
      <div class="navbar-sign__menu">
        <%= link_to "Educacion", educacion_main_path, class: "navbar-sign__menu-link" %>
        <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
        <% if user_signed_in? %>
        <% if current_user.account? && current_user.account.any_subscription? %>
          <%= link_to "Dashboard", dashboard_index_path, class: "navbar-sign__menu-link" %>
          <% else %>
          <%= link_to "Perfil", profile_path, class: "navbar-sign__menu-link" %>
          <%= link_to "¡Únete a Premium!", premium_main_path, class: "navbar-sign__menu-link button-premiumNav" %>
        <% end %>
        <% else %>
          <%= link_to "Crear cuenta", new_user_registration_path, class: "navbar-sign__menu-link button-min-alpha" %>
          <%= link_to "Inicia sesión", new_user_session_path, class: "navbar-sign__menu-link button-min-white"  %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

  <div class="premium__header">
    <div class="row">
      <div class="offset-by-two eight columns">
        <div class="premium__header-intro">
          <h2 class="signals__header-title">
            Educación financiera
          </h2>
          <h5 class="education__header-subtitle">
            <b>Toma el control de tus finanzas y mejora tu cultura financiera.</b>
          </h5>
          <% if current_user.account? && current_user.account.any_subscription? %>
            <br>
          <% else %>
            <p class="education__header-subtitle">Lleva tus finanzas a otro nivel con Finapp Premium</p>
            <%= link_to "¡Únete a premium!", premium_main_path, class: "button-premiumNavAlt" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% else %>
  <%= render 'shared/nav-alt' %>
  <div class="education__header">
    <div class="row">
      <div class="six columns">
        <div class="education__header-video">
          <div class="plyr__video-embed" id="player">
            <iframe src="https://player.vimeo.com/video/292726897" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="six columns">
        <div class="education__header-bg">
          <h2 class="education__header-title">Inicia tu camino a una mejor cultura financiera,
            con información sencilla que te sorprenderá.</h2>
            <% if user_signed_in? %>
              <br>
            <% else %>
              <p class="education__header-subtitle">Toma el control y lleva tu cultura financiera al siguiente nivel</p>
              <%= link_to "Crea una cuenta gratis", new_user_registration_path, class: "button-white education__header-button" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="education__top">
    <div class="container">
      <div class="row">
        <div class="offset-by-three six columns ">
          <h2 class="education__top-title">El conocimiento lleva a buenas decisiones</h2>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-three six columns ">
          <p class="education__top-text">Finapp será tu coach financiero y te acompañará por medio de capsulas, folletos, calculadoras y demás herramientas que buscarán que puedas tomar mejores decisiones financieras, que tomes el control de tu capital y lo más importante: que aprendas los diferentes instrumentos financieros que hay en el mercado para ahorrar e invertir. ¡Toma el control con Finapp!</p>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-four four columns  landing__outro-button">
          <% if user_signed_in? %>
            <br>
          <% else %>
            <%= link_to "Crear cuenta en Finapp", new_user_registration_path, class: "button-main landing__outro-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <div class="education__top">
    <div class="container">
      <div class="row">
        <div class="offset-by-three six columns ">
          <h2 class="education__top-title">Explora por categoría</h2>
        </div>
      </div>

      <div class="row">
        <div class="offset-by-three six columns ">
          <p class="education__top-text">Explora nuestras lecciones de artículos gratuitos. Unete a <%= link_to "Finapp premium", plans_main_path, class: "education__top-textLink" %> para acceder a toda nuestra biblioteca de educación.</p>
        </div>
      </div>

      <div class="row">
        <div class="six columns ">
          <div class="education__categoryTheme-card">
            <%= link_to(page_path('financiera/ahorro/index'), class: "education__categoryTheme-link") do %>
              <%= image_tag("ahorro-icon.svg", class: "education__categoryTheme-card-icon") %>
              <h5 class="education__categoryTheme-card-title">Ahorro</h5>
              <p class="education__categoryTheme-card-type">9 lecciones</p>
            <% end %>
          </div>
        </div>
        <div class="six columns ">
          <div class="education__categoryTheme-card">
            <%= link_to(page_path('financiera/deudas/index'), class: "education__categoryTheme-link") do %>
              <%= image_tag("deudas-icon.svg", class: "education__categoryTheme-card-icon") %>
              <h5 class="education__categoryTheme-card-title">Deudas</h5>
              <p class="education__categoryTheme-card-type">6 lecciones</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="six columns ">
          <div class="education__categoryTheme-card">
            <%= link_to(page_path('financiera/emprendimiento/index'), class: "education__categoryTheme-link") do %>
              <%= image_tag("emprendimiento-icon.svg", class: "education__categoryTheme-card-icon") %>
              <h5 class="education__categoryTheme-card-title">Emprendimiento</h5>
              <p class="education__categoryTheme-card-type">4 lecciones</p>
            <% end %>
          </div>
        </div>
        <div class="six columns ">
          <div class="education__categoryTheme-card">
            <%= link_to(page_path('financiera/impuestos/index'), class: "education__categoryTheme-link") do %>
              <%= image_tag("impuestos-icon.svg", class: "education__categoryTheme-card-icon") %>
              <h5 class="education__categoryTheme-card-title">Impuestos</h5>
              <p class="education__categoryTheme-card-type">6 lecciones</p>
            <% end %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="six columns ">
          <div class="education__categoryTheme-card">
            <%= link_to(page_path('financiera/inversiones/index'), class: "education__categoryTheme-link") do %>
              <%= image_tag("inversiones-icon.svg", class: "education__categoryTheme-card-icon") %>
              <h5 class="education__categoryTheme-card-title">Inversiones</h5>
              <p class="education__categoryTheme-card-type">5 lecciones</p>
            <% end %>
          </div>
        </div>
        <div class="six columns ">
          <div class="education__categoryTheme-card">
            <%= link_to(page_path('financiera/proteccion/index'), class: "education__categoryTheme-link") do %>
              <%= image_tag("proteccion-icon.svg", class: "education__categoryTheme-card-icon") %>
              <h5 class="education__categoryTheme-card-title">Protección</h5>
              <p class="education__categoryTheme-card-type">5 lecciones</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plans-container__edu">
    <div class="signals__plans" id="signals__plans">
      <div class="signals__plans-card">
        <div class="container">
          <div class="row">
            <div class="twelve columns">
              <h3 class="signals__plans-headerTitle">Conoce nuestros planes</h3>
              <p class="signals__plans-headerText">Elige la inversión que llevará tu cultura financiera al siguiente nivel  </p>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <div class="signals__plans-card-sideA">
                <p class="signals__plans-title">Cuenta básica</p>
                <p class="signals__plans-subtitle">Gratis</p>
                <br>
                <br>
                <%= image_tag("sign-icon_plan1.svg", class: "signals__plans-icon") %>
                <ul class="signals__plans-description">
                  <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
                  <li class="signals__plans-unable">Acceso a educación de cultura bursátil</li>
                  <li class="signals__plans-unable">Señales de inversión</li>
                  <li class="signals__plans-unable">Morning Call</li>
                  <li class="signals__plans-unable">Videos de seguimiento de operaciones</li>
                  <li class="signals__plans-unable">Videos de Estado del Mercado</li>
                </ul>
                <% unless user_signed_in? %>
                  <%= link_to "Elegir cuenta básica", new_user_registration_path, class: "button-min display-block" %>
                <% else %>
                  <p class="button-disable">Ya cuentas con los beneficios</p>
                <% end %>
              </div>
            </div>
            <div class="six columns">
              <div class="signals__plans-card-sideA">
                <p class="signals__plans-title">Cuenta premium</p>
                <p class="signals__plans-subtitle"><%= monthly_plan %></p>
                <p class="signals__plans-subtitleAlt"><%= yearly_plan %> al contratar el plan anual</p>
                <%= image_tag("sign-icon_plan2.svg", class: "signals__plans-icon") %>
                <ul class="signals__plans-description">
                  <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
                  <li class="signals__plans-able">Acceso a educación de cultura bursátil</li>
                  <li class="signals__plans-able">Señales de inversión</li>
                  <li class="signals__plans-able">Morning Call</li>
                  <li class="signals__plans-able">Videos de seguimiento de operaciones</li>
                  <li class="signals__plans-able">Videos de Estado del Mercado</li>
                </ul>

                <% if user_signed_in? %>
                  <% if current_user.account? && current_user.account.any_subscription? %>
                    <p class="button-disable">Plan actual</p>
                  <% else %>
                    <a class="button-min premium-toggle" id="myBtn">Elegir plan premium</a>
                    <% if user_can_pay? %>
                    <div class="signals__payments">
                      <div id="myModal" class="modal">

                       <div class="container">
                         <div class="modal-content payment-modal">
                           <span class="closeAlt">&times;</span>
                           <div class="row">
                             <div class="seven columns">
                               <%= render 'shared/conekta_form', user: current_user %>
                             </div>
                             <div class="five columns">
                               <%= render 'shared/paypal_form', user: current_user %>
                             </div>
                           </div>
                         </div>
                       </div>

                      </div>

                    </div>
                    <div class="signals__plans-paypalForm"></div>
                    <% end %>
                  <% end %>
                  <% else %>
                  <%= link_to "Elegir cuenta premium", new_user_registration_path, class: "button-min display-block" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="education__intro">
    <div class="container">
      <div class="row">
        <div class="twelve columns ">
          <h2 class="education__intro-title">Lo más nuevo</h2>
        </div>
      </div>

      <section class="education__cardsGrid">
        <article class="education__categoryResult-card ">
          <div class="education__categoryResult-card-wrap">
            <%= link_to(page_path('financiera/inversiones/riesgo-sistematico')) do %>
              <%= image_tag("inversiones-1.jpg", class: "education__categoryResult-card-img") %>
            <% end %>
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">Riesgos sistemáticos</p>
            <p class="education__categoryResult-card-description">Acerca de la variabilidad en el rendimiento esperado de una inversión.</p>
            <p class="education__categoryResult-card-theme">#Inversiones</p>
          </div>
        </article>
        <article class="education__categoryResult-card ">
          <div class="education__categoryResult-card-wrap">
            <%= link_to(page_path('financiera/proteccion/seguro-de-auto')) do %>
              <%= image_tag("proteccion-3.jpg", class: "education__categoryResult-card-img") %>
            <% end %>
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">El seguro de tu auto</p>
            <p class="education__categoryResult-card-description">¿Qué debes tomar en cuenta para tu seguro de auto?</p>
            <p class="education__categoryResult-card-theme">#Protección</p>
          </div>
        </article>
        <article class="education__categoryResult-card ">
          <div class="education__categoryResult-card-wrap">
            <%= link_to(page_path('financiera/emprendimiento/plan-de-negocios')) do %>
              <%= image_tag("emprendimiento-1.jpg", class: "education__categoryResult-card-img") %>
            <% end %>
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">Haciendo un plan de negocios</p>
            <p class="education__categoryResult-card-description">¿Por qué es importante hacer un plan de negocios cuando emprendemos?</p>
            <p class="education__categoryResult-card-theme">#Emprendimiento</p>
          </div>
        </article>
        <article class="education__categoryResult-card ">
          <div class="education__categoryResult-card-wrap">
            <%= link_to(page_path('financiera/inversiones/sin-dinero-para-invertir')) do %>
              <%= image_tag("inversiones-2.jpg", class: "education__categoryResult-card-img") %>
            <% end %>
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">Sin dinero para invertir</p>
            <p class="education__categoryResult-card-description">¿Cómo empezar cuando no hay capital para invertir?</p>
            <p class="education__categoryResult-card-theme">#Inversiones</p>
          </div>
        </article>
        <article class="education__categoryResult-card ">
          <div class="education__categoryResult-card-wrap">
            <%= link_to(page_path('financiera/proteccion/beneficios-imss')) do %>
              <%= image_tag("proteccion-2.jpg", class: "education__categoryResult-card-img") %>
            <% end %>
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">Conoce los beneficios del IMSS</p>
            <p class="education__categoryResult-card-description">Acerca de los beneficios indispensables del IMSS y su importancia.</p>
            <p class="education__categoryResult-card-theme">#Protección</p>
          </div>
        </article>
        <article class="education__categoryResult-card ">
          <div class="education__categoryResult-card-wrap">
            <%= link_to(page_path('financiera/emprendimiento/creando-una-empresa')) do %>
              <%= image_tag("emprendimiento-2.jpg", class: "education__categoryResult-card-img") %>
            <% end %>
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">Creando una empresa</p>
            <p class="education__categoryResult-card-description">Crear una empresa no es fácil, pero puede ser una de las mejores decisiones.</p>
            <p class="education__categoryResult-card-theme">#Emprendimiento</p>
          </div>
        </article>
      </section>
      <div class="row">
        <div class="twelve columns education__cardsGrid-main">
          <h2 class="education__intro-title ">Exclusivo Finapp Premium</h2>
          <div class="row profile__education">
            <% if user_signed_in? %>
              <% if current_user.account? && current_user.account.any_subscription? %>
              <div class="twelve columns ">
                <%= link_to(academy_analisisTecnico_path, class: "dashboard__education-featured-link") do %>
                <div class="dashboard__education-featured-card">
                  <p class="dashboard__education-featured-subtitle">Miniserie</p>
                  <h5 class="dashboard__education-featured-title">Análisis técnico <br> básico</h5>
                </div>
                <% end %>
              </div>
              <% else %>
              <div class="twelve columns ">
                <%= link_to(premium_main_path, class: "dashboard__education-featured-link") do %>
                <div class="dashboard__education-featured-card">
                  <p class="dashboard__education-featured-subtitle">Miniserie</p>
                  <h5 class="dashboard__education-featured-title">Análisis técnico <br> básico</h5>
                </div>
                <% end %>
              </div>
              <% end %>
              <% else %>
              <div class="twelve columns ">
                <%= link_to(premium_main_path, class: "dashboard__education-featured-link") do %>
                <div class="dashboard__education-featured-card">
                  <p class="dashboard__education-featured-subtitle">Miniserie</p>
                  <h5 class="dashboard__education-featured-title">Análisis técnico <br> básico</h5>
                </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="landing__outro">
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns ">
        <h3 class="landing__outro-title serif-title">En Finapp estamos para ayudarte</h3>
        <h5 class="landing__outro-quote">Visita nuestro centro de ayuda si quieres conocer a fondo nuestra plataforma y como puede ayudarte a mejorar tu cultura financiera.</h5>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Centro de ayuda", ayuda_main_path, class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  const player = new Plyr('#player');
</script>

<%= render 'shared/footer' %>

<script>
 $( ".premium-toggle" ).click(function() {
   $( ".signals__payments" ).toggle();
 });
</script>

<script type="text/javascript">

  $( document ).ready(function() {
    var modal = document.getElementById('myModal');

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("closeAlt")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
});
</script>
