<% content_for :page_title, 'Finapp' %>
<%= render 'shared/responsive-nav' %>

<header>
  <nav class="navbar navbar-edu">
    <div class="navbar__container">
      <div class="navbar__logo">
        <%= link_to(root_path) do %>
          <%= image_tag("logo-white.svg", class: "navbar__logo-img", :id => "navbarImage") %>
        <% end %>
      </div>
      <div class="navbar-sign__menu">
        <%= link_to "Educacion", educacion_main_path, class: "navbar-sign__menu-link" %>
        <% if user_signed_in? %>
        <% if current_user.account? && current_user.account.any_subscription? %>
          <%= link_to "Dashboard", dashboard_index_path, class: "navbar-sign__menu-link" %>
          <% else %>
          <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
          <%= link_to "Perfil", profile_path, class: "navbar-sign__menu-link" %>
          <%= link_to "¡Únete a Premium!", premium_main_path, class: "navbar-sign__menu-link button-premiumNav" %>
        <% end %>
        <% else %>
          <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
          <%= link_to "Crear cuenta", new_user_registration_path, class: "navbar-sign__menu-link button-min-alpha" %>
          <%= link_to "Inicia sesión", new_user_session_path, class: "navbar-sign__menu-link button-min-white"  %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="landing__hero">
    <section class="landing__hero-section section-shaped my-0">
      <div class="shape shape-style-1 shape-default shape-skew">
      </div>
      <div class="container landing__hero-quote">
        <div class="row">
          <div class="six columns">
            <h3 class="title-main landing__hero-title ">Mejorando tu cultura financiera</h3>
            <h5 class="subtitle-main landing__hero-subtitle">Aprende, ahorra, y lleva una mejor cultura financiera con nuestra plataforma multi-servicio.</h5>
            <% if user_signed_in? %>
              <% if current_user.account? && current_user.account.any_subscription? %>
                <%= link_to "Ir al Dashboard", dashboard_index_path, class: "button-white landing__hero-button" %>
                <% else %>
                <%= link_to "Ir a Educación", educacion_main_path, class: "button-white landing__hero-button" %>
              <% end %>
              <% else %>
              <%= link_to "Crea una cuenta gratis", new_user_registration_path, class: "button-white landing__hero-button" %>
            <% end %>
            <div class="landing__intro-cards">
              <%= link_to(educacion_main_path, class: "landing__intro-cards-link") do %>
                <div class="landing__intro-cards-single">
                  <h5 class="landing__intro-cards-title title-edu ">Educación financiera</h5>
                  <%= image_tag("intro-card__edu.svg", class: "landing__intro-cards-icon") %>
                </div>
              <% end %>
              <%= link_to(senales_main_path, class: "landing__intro-cards-link") do %>
                <div class="landing__intro-cards-single">
                  <h5 class="landing__intro-cards-title title-sign ">Señales</h5>
                  <%= image_tag("intro-card__sign.svg", class: "landing__intro-cards-icon") %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="six columns">
            <div class="plyr__landing">
              <div class="plyr__video-embed" id="player">
                <iframe src="https://player.vimeo.com/video/292725548" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="landing__education">
    <div class="container">
      <div class="row">
        <div class="six columns ">
          <%= image_tag("landing__edu-icon.svg") %>
          <h3 class="landing__education-title ">¿Las finanzas no son tu fuerte? <br> ¡No te preocupes!</h3>
          <p class="landing__education-subtitle">Finapp te ayuda a que conozcas las reglas básicas con las cuales administrar tus finanzas y también te ayuda a resolver tus dudas por medio de nuestra libreria de artículos y videos. Algunos de los temas son:</p>
          <ul class="landing__education-list">
            <li><%= link_to "Ahorro y planeación", page_path('financiera/ahorro/index'), class: "landing__education-listCategory" %></li>
            <li><%= link_to "Créditos y deudas", page_path('financiera/deudas/index'), class: "landing__education-listCategory" %></li>
            <li><%= link_to "Inversiones", page_path('financiera/inversiones/index'), class: "landing__education-listCategory" %></li>
            <li><%= link_to "Emprendimiento", page_path('financiera/emprendimiento/index'), class: "landing__education-listCategory" %></li>
          </ul>
          <%= link_to "Ir a educación", educacion_main_path, class: "button-edu landing__education-button" %>
        </div>
        <div class="six columns ">
          <%= image_tag("edu__cover-land2.svg", class: "landing__education-image") %>
        </div>
      </div>
      <div class="row landing__education-featured">
        <div class="six columns ">
          <div class="landing__education-featured-card">
            <p class="landing__education-featured-subtitle">Nuevo</p>
            <h5 class="landing__education-featured-title">Creando una <br> empresa</h5>
            <%= link_to "Comenzar", page_path('financiera/emprendimiento/creando-una-empresa'), class: 'landing__education-featured-button button-min-white' %>
          </div>
        </div>
        <div class="six columns ">
          <div class="landing__education-featured-card2">
            <p class="landing__education-featured-subtitle">Más visto</p>
            <h5 class="landing__education-featured-title">Empezando mi <br> plan de ahorro</h5>
            <%= link_to "Comenzar", page_path('financiera/ahorro/cambiando-tu-situacion-financiera'), class: 'landing__education-featured-button button-min-white' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="landing__signals">
    <div class="container">
      <div class="row">
        <div class="offset-by-two eight columns">
          <div class="landing__signals-top">
            <div class="">
              <%= image_tag("sign__cover-land.png", class: "landing__signals-cover") %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-three six columns">
          <div class="">
            <div class="landing__signals-quote">
              <%= image_tag("landing__sign-icon.svg") %>
              <h3 class="landing__signals-title ">¿No tienes tiempo para invertir en Bolsa, o no sabes como hacer tu dinero crecer en el mercado bursátil?</h3>
              <p class="landing__signals-subtitle">No te preocupes, en Finapp nuestros expertos bursátiles analizan el mercado todos los días. En cuanto sea buen momento para realizar una inversión, te enviaremos una <b>señal</b> con todos los parametros que necesitas saber, asi como la justificación y de esta manera aprenderás y aprovecharás muchas oportunidades.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="landing__signals2">
    <div class="container">
      <div class="row">
        <div class="offset-by-four four columns landing__signals2-button">
          <h5 class="landing__signals2-title title-sign  ">¿Qué incluye una señal?</h5>
        </div>
      </div>
      <div class="row">
        <div class="four columns ">
          <div class="landing__signals2-about">
            <%= image_tag("company-icon.png", class: "landing__signals2-icon") %>
            <h5 class="landing__signals2-title title-sign ">Emisora y precios</h5>
            <p class="landing__signals-subtitle">Nombre de la empresa de la cual identificamos una oportunidad y sus precios de entrada y salida (Stop-loss).</p>
          </div>
        </div>
        <div class="four columns ">
          <div class="landing__signals2-about">
            <%= image_tag("objetivos-icon.png", class: "landing__signals2-icon") %>
            <h5 class="landing__signals2-title title-sign ">Precios Objetivo</h5>
            <p class="landing__signals-subtitle">Te compartiremos algunos niveles de precios que la emisora podría alcanzar y dónde podrías tomar ganancias.</p>
          </div>
        </div>
        <div class="four columns ">
          <div class="landing__signals2-about">
            <%= image_tag("following-icon.png", class: "landing__signals2-icon") %>
            <h5 class="landing__signals2-title title-sign ">Seguimiento</h5>
            <p class="landing__signals-subtitle">Videos y comentarios de seguimiento después de la señal.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-four four columns  landing__outro-button">
          <%= link_to "Descubre más", senales_main_path, class: "button-sign landing__education-button" %>
        </div>
      </div>
    </div>
  </section>

  <section class="landing__outro">
    <div class="container">
      <div class="row">
        <div class="twelve columns ">
          <h3 class="landing__outro-title ">¿Estás listo para tener una mejor cultura finaciera?</h3>
          <h5 class="landing__outro-quote">Finapp es el coach financiero que siempre haz querido.</h5>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-four four columns  landing__outro-button">
          <%= link_to "Crea una cuenta gratis", new_user_registration_path, class: "button-main landing__outro-button" %>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer-land ">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <%= link_to(root_path) do %>
          <%= image_tag("logo-blue.svg", class: "footer__logo", :id => "navbarImage") %>
        <% end %>
        <p class="footer__text">© 2018 Finapp Tech</p>
        <p class="footer__text">Todos los derechos reservados.</p>
        <p class="footer__text">Creado por <a class="footer__link" href="http://www.vanfintec.com" target="_blank">Vanfintec</a>.</p>
        <div class="footer__social">
          <a href="https://www.facebook.com/culturafinapp/" target="_blank"><i class="fab fa-facebook footer__icon"></i></a>
          <a href="https://www.twitter.com/culturafinapp/" target="_blank"><i class="fab fa-twitter footer__icon"></i></a>
          <a href="https://www.instagram.com/culturafinapp/" target="_blank"><i class="fab fa-instagram footer__icon"></i></a>
          <a href="#"><i class="fab fa-linkedin footer__icon"></i></a>
        </div>
      </div>
      <div class="three columns">
        <p class="footer__title">Plataforma</p>
        <%= link_to "Educacion financiera", educacion_main_path, class: "footer__text" %>
        <%= link_to "Señales de inversión", senales_main_path, class: "footer__text" %>
        <%= link_to "Acerca de", root_path, class: "footer__text" %>
      </div>
      <div class="three columns">
        <p class="footer__title">Legal</p>
        <%= link_to "Terminos y condiciones", page_path('legal/terminos'), class: "footer__text" %>
        <%= link_to "Aviso de privacidad", page_path('legal/privacidad'), class: "footer__text" %>
        <%= link_to "Centro de ayuda", ayuda_main_path, class: "footer__text" %>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  const player = new Plyr('#player');
</script>

<script>
  $( ".premium-toggle" ).click(function() {
    $( ".signals__plans-paypalForm" ).toggle();
  });
</script>

<script type="text/javascript">
$(function() {
  var header = $(".navbar__container");

  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll >= 500) {
      header.addClass("scrolled");
    } else {
      header.removeClass("scrolled");
    }
  });
});
</script>

<script type="text/javascript">
$(function() {
  $(window).scroll(function() {
    if ($(this).scrollTop() >= 500) {
      $("#navbarImage").attr(
        "src",
        "<%= image_path("logo-blue.svg", class: "navbar__logo-img", :id => "navbarImage") %>"
      );
    }
    if ($(this).scrollTop() < 500) {
      $("#navbarImage").attr(
        "src",
        "<%= image_path("logo-white.svg", class: "navbar__logo-img", :id => "navbarImage") %>"
      );
    }
  });
});
</script>
