<% content_for :page_title, 'Finapp - Crear cuenta' %>
<%= render 'shared/responsive-nav' %>
<%= render 'shared/nav' %>

<div class="signals__plans" id="signals__plans">
  <div class="signals__plans-card">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h3 class="signals__plans-headerTitle">Conoce nuestros planes</h3>
          <p class="signals__plans-headerText">Elige la inversión que llevará tu cultura financiera al siguiente nivel  </p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <div class="signals__plans-card-sideA">
            <p class="signals__plans-title">Cuenta básica</p>
            <p class="signals__plans-subtitle">Gratis</p>
            <br>
            <br>
            <%= image_tag("sign-icon_plan1.svg", class: "signals__plans-icon") %>
            <ul class="signals__plans-description">
              <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
              <li class="signals__plans-unable">Acceso a educación de cultura bursátil</li>
              <li class="signals__plans-unable">Señales de inversión</li>
              <li class="signals__plans-unable">Morning Call</li>
              <li class="signals__plans-unable">Videos de seguimiento de operaciones</li>
              <li class="signals__plans-unable">Videos de Estado del Mercado</li>
            </ul>
            <% if !user_signed_in? %>
              <%= link_to "Elegir cuenta básica", new_user_registration_path, class: "button-min display-block" %>
            <% else %>
              <p class="button-disable">Ya cuentas con los beneficios</p>
            <% end %>
          </div>
        </div>
        <div class="six columns">
          <div class="signals__plans-card-sideA">
            <p class="signals__plans-title">Cuenta premium</p>
            <p class="signals__plans-subtitle">$750mxn/Mes</p>
            <p class="signals__plans-subtitleAlt">Obtén 1 mes gratis con el Plan Anual</p>
            <%= image_tag("sign-icon_plan2.svg", class: "signals__plans-icon") %>
            <ul class="signals__plans-description">
              <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
              <li class="signals__plans-able">Acceso a educación de cultura bursátil</li>
              <li class="signals__plans-able">Señales de inversión</li>
              <li class="signals__plans-able">Morning Call</li>
              <li class="signals__plans-able">Videos de seguimiento de operaciones</li>
              <li class="signals__plans-able">Videos de Estado del Mercado</li>
            </ul>
              <% if user_signed_in? %>
                <% if current_user.account? && current_user.account.any_subscription? %>
                  <p class="button-disable">Plan actual</p>
                <% else %>
                  <a class="button-min premium-toggle">Elegir plan premium</a>
                  <div class="signals__plans-paypalForm">
                  <% if user_can_pay? %>
                    <%= render partial: "shared/paypal_form", locals: { user: current_user } %>
                  <% end %>
                <% end %>
                <% else %>
                <%= link_to "Elegir cuenta premium", new_user_registration_path, class: "button-min display-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>

<script>
  $( ".premium-toggle" ).click(function() {
    $( ".signals__plans-paypalForm" ).toggle();
  });
</script>
