<% content_for :page_title, 'Finapp - Premium' %>
<%= render 'shared/responsive-nav' %>
<%= javascript_include_tag 'signals-table' %>
<header>
  <nav class="navbar navbar-edu">
    <div class="navbar__container">
      <div class="navbar__logo">
        <%= link_to(root_path) do %>
          <%= image_tag("logo-white.svg", class: "navbar__logo-img", :id => "navbarImage") %>
        <% end %>
      </div>
      <div class="navbar-sign__menu">
        <%= link_to "Educacion", educacion_main_path, class: "navbar-sign__menu-link" %>
        <% if user_signed_in? %>
        <% if current_user.account? && current_user.account.any_subscription? %>
          <%= link_to "Dashboard", dashboard_index_path, class: "navbar-sign__menu-link" %>
          <% else %>
          <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
          <%= link_to "Perfil", profile_path, class: "navbar-sign__menu-link" %>
          <%= link_to "¡Únete a Premium!", premium_main_path, class: "navbar-sign__menu-link button-premiumNav" %>
        <% end %>
        <% else %>
          <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
          <%= link_to "Crear cuenta", new_user_registration_path, class: "navbar-sign__menu-link button-min-alpha" %>
          <%= link_to "Inicia sesión", new_user_session_path, class: "navbar-sign__menu-link button-min-white"  %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<div class="premium__header">
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns">
        <div class="premium__header-intro">
          <h2 class="signals__header-title">
            Únete a nuestro club Premium
          </h2>
          <p class="education__header-subtitle">
            Finapp Premium lleva tu cultura financiera a donde nunca habías esperado.
            <br>
            <b>Aprende, invierte, repite.</b>
          </p>
          <% if user_signed_in? %>
            <br>
          <% else %>
            <%= link_to "Crea una cuenta", new_user_registration_path, class: "button-white education__header-button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
    <% if user_signed_in? && user_can_pay? %>
      <div class="modal-content payment-modal">
        <div class="seven columns">
          <%= render 'shared/conekta_form', user: current_user %>
        </div>
        <div class="five columns">
          <%= render 'shared/paypal_form', user: current_user %>
        </div>
      </div>
    <% else %>
      <br>
    <% end %>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-card-sideA">
          <p class="signals__plans-title">Cuenta básica</p>
          <p class="signals__plans-subtitle">Gratis</p>
          <br>
          <br>
          <%= image_tag("sign-icon_plan1.svg", class: "signals__plans-icon") %>
          <ul class="signals__plans-description">
            <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
            <li class="signals__plans-unable">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-unable">Señales de inversión</li>
            <li class="signals__plans-unable">Morning Call</li>
            <li class="signals__plans-unable">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-unable">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="six columns">
        <div class="signals__plans-card-sideA">
          <p class="signals__plans-title">Cuenta premium</p>
          <p class="signals__plans-subtitle"><%= monthly_plan %></p>
          <p class="signals__plans-subtitleAlt"><%= yearly_plan %> al contratar el plan anual</p>
          <%= image_tag("sign-icon_plan2.svg", class: "signals__plans-icon") %>
          <ul class="signals__plans-description">
            <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
            <li class="signals__plans-able">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-able">Señales de inversión</li>
            <li class="signals__plans-able">Morning Call</li>
            <li class="signals__plans-able">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-able">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="signals__intro">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns ">
        <h2 class="signals__intro-title">¿Por qué invertir en Finapp Premium?</h2>
        <p class="signals__intro-about">
          Saca el mayor provecho a nuestra plataforma con <b>artículos exclusivos y pequeños cursos</b> que tendrán como objetivo transmitir una metodología de inversión. Y no solo eso, también recibirás <b>señales de inversión</b> detectadas por nuestros analistas bursátiles para comunicarte cuando sea buen momento de realizar un movimiento en la bolsa.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="landing__signals2">
  <div class="container">
    <div class="row">
      <div class="six columns ">
        <h2 class="signals__intro-title serif-title">Educación financiera de primer nivel</h2>
        <p class="signals__intro-about text-left">
          Nuestros artículos y guias están curadas por expertos bursátiles que comparten su experiencia. Estarás en buenas manos. Te enseñaremos a invertir en la bolsa y a como manejar tus diferentes inversiones. Con nuestros mini cursos aprenderás a manejar tu capitál como siempre quisiste. Aprende mediante una metodología de inversión.
        </p>
      </div>
      <div class="six columns ">
        <%= image_tag("ahorros.svg", class: "landing__education-image") %>
      </div>
    </div>
  </div>
</section>
<div class="signals__intro">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns ">
        <h2 class="signals__intro-title">Señales de inversión</h2>
        <p class="signals__intro-about">
          Finapp y su equipo de analistas bursátiles escanea el Mercado de Valores por oportunidades de inversión. Una vez detectada alguna oportunidad te enviamos una alerta para notificarte. ¡No esperes más, aprende e invierte!
        </p>
      </div>
    </div>
  </div>
</div>
<section class="landing__signals2">
  <div class="container">
    <div class="row">
      <div class="offset-by-four four columns landing__signals2-button">
        <h5 class="landing__signals2-title title-sign serif-title ">¿Qué incluye una señal?</h5>
      </div>
    </div>
    <div class="row">
      <div class="four columns ">
        <div class="landing__signals2-about">
          <%= image_tag("company-icon.png", class: "landing__signals2-icon") %>
          <h5 class="landing__signals2-title title-sign">Emisora y precios</h5>
          <p class="landing__signals-subtitle">Emisora de la cual compraremos acciones y su precio de entrada.</p>
        </div>
      </div>
      <div class="four columns ">
        <div class="landing__signals2-about">
          <%= image_tag("objetivos-icon.png", class: "landing__signals2-icon") %>
          <h5 class="landing__signals2-title title-sign">Objetivos</h5>
          <p class="landing__signals-subtitle">Las diferentes probabilidades que puede alcanzar nuestra transacción.</p>
        </div>
      </div>
      <div class="four columns ">
        <div class="landing__signals2-about">
          <%= image_tag("following-icon.png", class: "landing__signals2-icon") %>
          <h5 class="landing__signals2-title title-sign">Seguimiento</h5>
          <p class="landing__signals-subtitle">Videos y comentarios de seguimiento después de la señal.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>

<script>
 $( ".premium-toggle" ).click(function() {
   $( ".signals__payments" ).toggle();
 });
</script>

<script type="text/javascript">

  $( document ).ready(function() {
    var modal = document.getElementById('myModal');

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("closeAlt")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
});
</script>
