<% content_for :page_title, 'Finapp - Señales' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>
<%= javascript_include_tag 'signals-table' %>

<div class="signals__header">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <%= image_tag("senalesCover.png", class: "signals__header-cover") %>
      </div>
      <div class="six columns">
        <div class="signals__header">
          <h2>¡Comienza a invertir ya!
            Encontramos el momento adecuado por ti, y te explicamos como hacerlo.
          </h2>
          <% if user_signed_in? %>
              <p class="signals__header-subtitle">Comienza a recibir señales de inversión con Finapp Premium</p>
              <%= link_to "¡Únete a premium!", premium_main_path, class: "button-premiumNav" %>
          <% else %>
            <p class="signals__header-subtitle">Toma el control y lleva tu cultura financiera al siguiente nivel</p>
            <%= link_to "Crea una cuenta gratis", new_user_registration_path, class: "button-main" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="signals__intro">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns ">
        <h2 class="signals__intro-title">Señales de inversión Finapp</h2>
        <div class="plyr__video-embed" id="player">
          <iframe src="https://player.vimeo.com/video/298425569" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p class="signals__intro-about">
          Finapp y su equipo de analistas bursátiles escanea el Mercado de Valores por oportunidades de inversión. Una vez detectada alguna oportunidad te enviamos una alerta para notificarte. ¡No esperes más, aprende e invierte!
        </p>
      </div>
    </div>
  </div>
</div>
<section class="landing__signals2">
  <div class="container">
    <div class="row">
      <div class="offset-by-four four columns landing__signals2-button">
        <h5 class="landing__signals2-title title-sign serif-title ">¿Qué incluye una señal?</h5>
      </div>
    </div>
    <div class="row">
      <div class="four columns ">
        <div class="landing__signals2-about">
          <%= image_tag("company-icon.png", class: "landing__signals2-icon") %>
          <h5 class="landing__signals2-title title-sign">Emisora y precios</h5>
          <p class="landing__signals-subtitle">Nombre de la empresa de la cual identificamos una oportunidad y sus precios de entrada y salida (Stop-loss).</p>
        </div>
      </div>
      <div class="four columns ">
        <div class="landing__signals2-about">
          <%= image_tag("objetivos-icon.png", class: "landing__signals2-icon") %>
          <h5 class="landing__signals2-title title-sign">Precios Objetivo</h5>
          <p class="landing__signals-subtitle">Te compartiremos algunos niveles de precios que la emisora podría alcanzar y dónde podrías tomar ganancias.</p>
        </div>
      </div>
      <div class="four columns ">
        <div class="landing__signals2-about">
          <%= image_tag("following-icon.png", class: "landing__signals2-icon") %>
          <h5 class="landing__signals2-title title-sign">Seguimiento</h5>
          <p class="landing__signals-subtitle">Videos y comentarios de seguimiento después de la señal.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="landing__signals2">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns">
        <h5 class="landing__signals2-title title-sign text-center">Mantente al tanto del mercado</h5>
        <p class="signals__intro-about">
          Miercoles, Viernes y Domingos te enviaremos pequeños videos actualizandote de los eventos más relevantes que impactan a los mercados. Mantente al tanto que impacta el Peso/Dolar, las acciones y demás activos financieros. <br>
          <b>Aprende con nosotros.</b>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="plans-container plans-container__edu">
  <div class="signals__plans" id="signals__plans">
    <div class="signals__plans-card">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h3 class="signals__plans-headerTitle">Conoce nuestros planes</h3>
            <p class="signals__plans-headerText">Elige la inversión que llevará tu cultura financiera al siguiente nivel  </p>
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <div class="signals__plans-card-sideA">
              <p class="signals__plans-title">Cuenta básica</p>
              <p class="signals__plans-subtitle">Gratis</p>
              <br>
              <br>
              <%= image_tag("sign-icon_plan1.svg", class: "signals__plans-icon") %>
              <ul class="signals__plans-description">
                <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
                <li class="signals__plans-unable">Acceso a educación de cultura bursátil</li>
                <li class="signals__plans-unable">Señales de inversión</li>
                <li class="signals__plans-unable">Morning Call</li>
                <li class="signals__plans-unable">Videos de seguimiento de operaciones</li>
                <li class="signals__plans-unable">Videos de Estado del Mercado</li>
              </ul>
              <% unless user_signed_in? %>
                <%= link_to "Elegir cuenta básica", new_user_registration_path, class: "button-min display-block" %>
              <% else %>
                <p class="button-disable">Ya cuentas con los beneficios</p>
              <% end %>
            </div>
          </div>
          <div class="six columns">
            <div class="signals__plans-card-sideA">
              <p class="signals__plans-title">Cuenta premium</p>
              <p class="signals__plans-subtitle"><%= monthly_plan %></p>
              <p class="signals__plans-subtitleAlt"><%= yearly_plan %> al contratar el plan anual</p>
              <%= image_tag("sign-icon_plan2.svg", class: "signals__plans-icon") %>
              <ul class="signals__plans-description">
                <li class="signals__plans-able">Acceso a educación de cultura financiera</li>
                <li class="signals__plans-able">Acceso a educación de cultura bursátil</li>
                <li class="signals__plans-able">Señales de inversión</li>
                <li class="signals__plans-able">Morning Call</li>
                <li class="signals__plans-able">Videos de seguimiento de operaciones</li>
                <li class="signals__plans-able">Videos de Estado del Mercado</li>
              </ul>

              <% if user_signed_in? %>
                <% if current_user.account? && current_user.account.any_subscription? %>
                  <p class="button-disable">Plan actual</p>
                <% else %>
                  <a class="button-min premium-toggle" id="myBtn">Elegir plan premium</a>
                  <% if user_can_pay? %>
                  <div class="signals__payments">
                    <div id="myModal" class="modal">

                     <div class="container">
                       <div class="modal-content payment-modal">
                         <span class="closeAlt">&times;</span>
                         <div class="row">
                           <div class="seven columns">
                             <%= render 'shared/conekta_form', user: current_user %>
                           </div>
                           <div class="five columns">
                             <%= render 'shared/paypal_form', user: current_user %>
                           </div>
                         </div>
                       </div>
                     </div>

                    </div>

                  </div>
                  <div class="signals__plans-paypalForm"></div>
                  <% end %>
                <% end %>
                <% else %>
                <%= link_to "Elegir cuenta premium", new_user_registration_path, class: "button-min display-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="landing__outro">
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns ">
        <h3 class="landing__outro-title serif-title">En Finapp estamos para ayudarte</h3>
        <h5 class="landing__outro-quote">Visita nuestro centro de ayuda si quieres conocer a fondo nuestra plataforma y como puede ayudarte a mejorar tu cultura financiera.</h5>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Centro de ayuda", ayuda_main_path, class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>

<script type="text/javascript">
  const player = new Plyr('#player');
</script>

<script>
 $( ".premium-toggle" ).click(function() {
   $( ".signals__payments" ).toggle();
 });
</script>

<script type="text/javascript">

  $( document ).ready(function() {
    var modal = document.getElementById('myModal');

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("closeAlt")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
});
</script>
