<% content_for :page_title, 'Finapp - Mi perfil' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns">
        <div class="dashboard__success">
          <h3 class="dashboard__success-title">¡Hola <%= current_user.name %>!</h3>
          <h5 class="profile__intro-title">Te damos la bienvenida a Finapp Premium.</h5>
          <br>
          <p class="dashboard__success-about">
            Estás a punto de emprender tu camino a una nueva y mejor cultura financiera. Tu cuenta Premium te da acceso a artículos exclusivos y señales de inversión.
            <br>
            ¡Comienza a utilizar la plataforma!
          </p>
          <div class="landing__intro-cards dashboard__success-cards">
            <%= link_to(dashboard_educacion_path, class: "landing__intro-cards-link") do %>
              <div class="landing__intro-cards-single">
                <h5 class="landing__intro-cards-title title-edu serif-title">Educación financiera</h5>
                <%= image_tag("intro-card__edu.svg", class: "landing__intro-cards-icon") %>
              </div>
            <% end %>
            <%= link_to(dashboard_senales_path class: "landing__intro-cards-link") do %>
              <div class="landing__intro-cards-single">
                <h5 class="landing__intro-cards-title title-sign serif-title">Señales</h5>
                <%= image_tag("intro-card__sign.svg", class: "landing__intro-cards-icon") %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
