<% content_for :page_title, 'Finapp - Dashboard' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= image_tag("sidebar-edu__icon.png", class: "dashboard__welcome-img") %>
          <span>
            Dashboard
            <h3 class="dashboard__welcome-title">Educación financiera</h3>
          </span>
        </div>
        <div class="">
          <h4 class="profile__intro-subtitle">Mini-series</h4>
          <div class="row profile__education">
            <div class="twelve columns ">
              <%= link_to(academy_analisisTecnico_path, class: "dashboard__education-featured-link") do %>
              <div class="dashboard__education-featured-card">
                <p class="dashboard__education-featured-subtitle">Miniserie</p>
                <h5 class="dashboard__education-featured-title">Análisis técnico <br> básico</h5>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="">
          <h4 class="profile__intro-subtitle">Educación financiera básica</h4>
          <div class="row profile__education">
            <div class="twelve columns ">
              <div class="education__categoryTheme-card3">
                <%= link_to(educacion_main_path, class: "education__categoryTheme-link") do %>
                  <h5 class="education__categoryTheme-card-title">Ir a categorías básicas</h5>
                  <p class="education__categoryTheme-card-type">6 categorías</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <h4 class="profile__intro-subtitle">Análisis Fundamental</h4>
          <section class="education__cardsGrid-dashboard">
            <article class="education__categoryResult-card">
              <div class="education__categoryResult-card-wrap">
                <%= link_to(academy_bancosCentrales_path) do %>
                  <%= image_tag("academy-bancos.jpg", class: "education__categoryResult-card-img") %>
                <% end %>
              </div>
              <div class="education__categoryResult-card-about">
                <p class="education__categoryResult-card-type">Artículo</p>
                <p class="education__categoryResult-card-title">¿Qué son bancos centrales?</p>
                <p class="education__categoryResult-card-description">Qué son los bancos centrales y su papel en el sistema financiero</p>
                <p class="education__categoryResult-card-theme">#Premium</p>
              </div>
            </article>
            <article class="education__categoryResult-card">
              <div class="education__categoryResult-card-wrap">
                <%= link_to(academy_acciones_path) do %>
                  <%= image_tag("academy-acciones.jpg", class: "education__categoryResult-card-img") %>
                <% end %>
              </div>
              <div class="education__categoryResult-card-about">
                <p class="education__categoryResult-card-type">Artículo</p>
                <p class="education__categoryResult-card-title">Acciones</p>
                <p class="education__categoryResult-card-description">Qué factores pueden influir en la cotización de las acciones.</p>
                <p class="education__categoryResult-card-theme">#Premium</p>
              </div>
            </article>
            <article class="education__categoryResult-card">
              <div class="education__categoryResult-card-wrap">
                <%= link_to(academy_bitcoin_path) do %>
                  <%= image_tag("academy-bitcoin.jpg", class: "education__categoryResult-card-img") %>
                <% end %>
              </div>
              <div class="education__categoryResult-card-about">
                <p class="education__categoryResult-card-type">Artículo</p>
                <p class="education__categoryResult-card-title">Bitcoin y las criptodivisas</p>
                <p class="education__categoryResult-card-description">Qué es el Bitcoin y qué influencia tiene su valor</p>
                <p class="education__categoryResult-card-theme">#Premium</p>
              </div>
            </article>
            <article class="education__categoryResult-card">
              <div class="education__categoryResult-card-wrap">
                <%= link_to(academy_materias_path) do %>
                  <%= image_tag("academy-materia.jpg", class: "education__categoryResult-card-img") %>
                <% end %>
              </div>
              <div class="education__categoryResult-card-about">
                <p class="education__categoryResult-card-type">Artículo</p>
                <p class="education__categoryResult-card-title">Materias primas</p>
                <p class="education__categoryResult-card-description">Por qué los factores fundamentales son cruciales en las materias primas</p>
                <p class="education__categoryResult-card-theme">#Premium</p>
              </div>
            </article>
            <article class="education__categoryResult-card">
              <div class="education__categoryResult-card-wrap">
                <%= link_to(academy_correlacion_path) do %>
                  <%= image_tag("academy-correlacion.jpg", class: "education__categoryResult-card-img") %>
                <% end %>
              </div>
              <div class="education__categoryResult-card-about">
                <p class="education__categoryResult-card-type">Artículo</p>
                <p class="education__categoryResult-card-title">Correlación entre mercados</p>
                <p class="education__categoryResult-card-description">Qué significa "correlación" y cómo puede influenciar tu operativa</p>
                <p class="education__categoryResult-card-theme">#Premium</p>
              </div>
            </article>
            <article class="education__categoryResult-card">
              <div class="education__categoryResult-card-wrap">
                <%= link_to(academy_sentimiento_path) do %>
                  <%= image_tag("academy-sentimiento.jpg", class: "education__categoryResult-card-img") %>
                <% end %>
              </div>
              <div class="education__categoryResult-card-about">
                <p class="education__categoryResult-card-type">Artículo</p>
                <p class="education__categoryResult-card-title">Sentimiento de mercado</p>
                <p class="education__categoryResult-card-description">Por qué el sentimiento de mercado juega un papel tan importante en el trading</p>
                <p class="education__categoryResult-card-theme">#Premium</p>
              </div>
            </article>
          </section>
        </div>

      </div>
    </div>
  </div>
</div>
