<% content_for :page_title, 'Finapp - Dashboard' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= image_tag("sidebar-dash__icon.png", class: "dashboard__welcome-img") %>
          <span>
            Dashboard
            <h3 class="dashboard__welcome-title">¡Hola, <%= current_user.name %>!</h3>
          </span>
        </div>
        <div class="profile__intro">
          <p class="profile__intro-subtitle">Señales activas</p>
          <div class="profile__intro-señales">
            <table class="profile__intro-table">
              <tbody>
                <tr>
                  <th class="profile__intro-tableTitle">Emisora</th>
                  <th class="profile__intro-tableTitle">Fecha</th>
                  <th class="profile__intro-tableTitle">Entrada</th>
                  <th class="profile__intro-tableTitle">Stop Loss</th>
                  <th class="profile__intro-tableTitle">O1</th>
                  <th class="profile__intro-tableTitle">O2</th>
                  <th class="profile__intro-tableTitle">O3</th>
                  <th class="profile__intro-tableTitle">Graph</th>
                </tr>
              </tbody>
              <tbody class="profile__intro-tableBody">
              </tbody>
            </table>
          </div>
        </div>
        <div class="profile__intro-videos-row">
          <h4 class="profile__intro-title">Comentarios de mercado</h4>
          <div class="dashboard__updates">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const players = Plyr.setup('.plyr__video-embed');
</script>
