<% content_for :page_title, 'Finapp - Dashboard' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= image_tag("sidebar-info__icon.png", class: "dashboard__welcome-img") %>
          <span>
            Dashboard
            <h3 class="dashboard__welcome-title">Indice de Precios y Cotizaciones - IPC</h3>
          </span>
        </div>
        <div class="profile__intro">
          <p class="profile__intro-subtitle">Ratios fundamentales</p>
          <div class="profile__intro-señales">
            <table class="profile__intro-table">
              <tbody>
                <tr>
                  <th class="profile__intro-tableTitle" data-balloon-length="medium" data-balloon="Nombre de la Compañía cotizando en el Mercado de Valores." data-balloon-pos="up">Emisora</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="medium" data-balloon="Peso que tiene cada una de las 35 emisoras que componen el Indice de Precios y Cotizaciones (IPC) de la Bolsa Mexicana de Valores." data-balloon-pos="up">Participación</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="Razón Precio/Utilidad (P/U Ratio) Mide el precio de una acción dividido entre la utilidad por acción (últimos doce meses). Es decir, el precio que los inversionistas están dispuestos a pagar por una acción calculado como el número de veces de la utilidad neta." data-balloon-pos="up">P/U</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="Precio Valor en libros o PVC (Price to Book Value) es el ratio bursátil que mide la relación entre el precio al que cotizan las acciones con el valor de sus fondos propios, es decir, el valor contable de sus activos menos el valor contable de sus deudas." data-balloon-pos="up">P/VL</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="EV/EBITDA compara el valor de una empresa (EV - Enterprise Value), con los beneficios brutos antes de intereses, impuestos, amortizaciones y depreciaciones (EBITDA - Earnings Before Interest, Taxes, Depreciation and Amortization), para determinar si la empresa incorpora mayor o menor valor que el directamente relacionado con los recursos generados." data-balloon-pos="up">EV/EBITDA</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="La utilidad por acción es el beneficio o pérdida sobre cada acción (ordinaria o preferente) en función de las acciones ordinarias o preferentes que se encuentren en circulación." data-balloon-pos="up">UPA</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="Indice de Endeudamiento: Es difícil precisar el nivel de endeudamiento óptimo para el buen funcionamiento de una empresa, ya que varía entre los distintos sectores. Este ratio da una visión de la magnitud de la deuda de la empresa, relacionando el Pasivo con el respaldo brindado por su Patrimonio Neto." data-balloon-pos="up">DN/PN</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="Rentabilidad sobre el capital invertido: Se trata del ratio que más se utiliza como representativo de la rentabilidad económica. Comprende el retorno que es capaz de generar la compañía para sus proveedores de fondos, sean estos socios, o acreedores financieros." data-balloon-pos="up">ROIC</th>
                  <th class="profile__intro-tableTitle" data-balloon-length="large" data-balloon="El coeficiente Beta (β) es una medida de la volatilidad de un activo (una acción o un valor) relativa a la variabilidad del mercado, de modo que valores altos de Beta denotan más volatilidad y Beta 1,0 es equivalencia con el mercado." data-balloon-pos="up">BETA</th>
                </tr>
              </tbody>
              <tbody class="profile__intro-tableRatios">

              </tbody>
            </table>
          </div>
        </div>
        <div class="profile__intro">
          <p class="profile__intro-subtitle">Reportes de emisoras</p>
          <section class="profile__intro-emisoras">
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gfnorteo_path) do %>
                <%= image_tag("emisoras-logos/banorte.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_femsaubd_path) do %>
                <%= image_tag("emisoras-logos/femsa.svg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_amxl_path) do %>
                <%= image_tag("emisoras-logos/amxl-logo.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_walmex_path) do %>
                <%= image_tag("emisoras-logos/walmart.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gmexicob_path) do %>
                <%= image_tag("emisoras-logos/grupo-mexico.jpg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_cemexcpo_path) do %>
                <%= image_tag("emisoras-logos/cemex-logo.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_tlevisacpo_path) do %>
                <%= image_tag("emisoras-logos/televisa.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_alfaa_path) do %>
                <%= image_tag("emisoras-logos/alfa.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gapb_path) do %>
                <%= image_tag("emisoras-logos/gap.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_asurb_path) do %>
                <%= image_tag("emisoras-logos/asur.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_bimboa_path) do %>
                <%= image_tag("emisoras-logos/bimbo.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gfinburo_path) do %>
                <%= image_tag("emisoras-logos/gf-inbursa.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_mexchem_path) do %>
                <%= image_tag("emisoras-logos/mexichem.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_kofl_path) do %>
                <%= image_tag("emisoras-logos/coca-femsa.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_bsmxb_path) do %>
                <%= image_tag("emisoras-logos/santander.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_grumab_path) do %>
                <%= image_tag("emisoras-logos/gruma.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_ienova_path) do %>
                <%= image_tag("emisoras-logos/ienova.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_elektra_path) do %>
                <%= image_tag("emisoras-logos/gelektra.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_ac_path) do %>
                <%= image_tag("emisoras-logos/arcacont.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_kimbera_path) do %>
                <%= image_tag("emisoras-logos/kimberly-clark.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_omab_path) do %>
                <%= image_tag("emisoras-logos/oma.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_pinfra_path) do %>
                <%= image_tag("emisoras-logos/pinfra.jpg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_penoles_path) do %>
                <%= image_tag("emisoras-logos/penoles.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_alsea_path) do %>
                <%= image_tag("emisoras-logos/alsea.svg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_bbajioo_path) do %>
                <%= image_tag("emisoras-logos/bbajioo.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_megacpo_path) do %>
                <%= image_tag("emisoras-logos/megacable.jpg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_liverpolc1_path) do %>
                <%= image_tag("emisoras-logos/liverpool.jpg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gmxt_path) do %>
                <%= image_tag("emisoras-logos/grupo-mexico.jpg", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gcc_path) do %>
                <%= image_tag("emisoras-logos/gcc.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>
            <article class="profile__intro-emisoras-logo">
              <%= link_to(archive_gentera_path) do %>
                <%= image_tag("emisoras-logos/gentera.png", class: "profile__intro-emisoras-logo-img") %>
              <% end %>
            </article>



          </section>


        </div>
      </div>
    </div>
  </div>
</div>
