<% content_for :page_title, 'Finapp - Editar perfil' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= link_to(profile_path, class: "dashboard__welcome-back") do %>
          <i class="fas fa-chevron-left"></i>
          <p class="dashboard__welcome-backText">Regresar</p>
          <% end %>
        </div>
        <div class="dashboard__intro">
          <h4 class="profile__intro-title">Editar información de la cuenta</h4>
          <div class="dashboard__intro-profile">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :name, class: "login-form__label" %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
              </div>

              <div class="field">
                <%= f.label :email, class: "login-form__label" %>
                <%= f.email_field :email, autocomplete: "email" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password, class: "login-form__label" %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, class: "login-form__label" %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :current_password, class: "login-form__label" %>
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit "Guardar", class: "button-main" %>
              </div>
            <% end %>

            <% if current_user.account? && current_user.account.any_subscription? %>
              <div class="twelve columns">
                <h4 class="profile__intro-title">Cancelar suscripción</h4>

                <p>¿De vuelta a la cuenta gratis?</p>
                <a href="<%= PaypalServiceBase::form_url %>/cgi-bin/webscr?cmd=_subscr-find&alias=<%= PaypalServiceBase::MERCHANT_ACCOUNT_ID %>&switch_classic=true" class="no-underline">
                  <span class="button-paypal paypal-big">Desuscribirse</span>
                  <!-- <img src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif"> -->
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
