<% content_for :page_title, 'Finapp - Crear cuenta' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="login-form">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns login-form__card">
        <h2 class="login-form__title">Crear una cuenta</h2>

        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "login-form__btn-facebook" %>

        <hr>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :name, class: "login-form__label" %>
            <%= f.text_field :name, autocomplete: "off" , class: "login-form__input", placeholder: "Bruno Díaz" %>
          </div>

          <div class="field">
            <%= f.label :email, class: "login-form__label" %>
            <%= f.email_field :email, autocomplete: "off" , class: "login-form__input", placeholder: "brunodiaz@mail.com" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "login-form__label" %>
            <%= f.password_field :password, autocomplete: "off", class: "login-form__input", placeholder: "Contraseña" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "login-form__label" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "login-form__input", placeholder: "Confirmar contraseña"  %>
          </div>

          <div class="actions">
            <%= f.submit "Crear cuenta", class: "button-main" %>
          </div>
        <% end %>

        <%- if controller_name != 'sessions' %>
          <%= link_to "¿Ya tienes cuenta? Inicia sesión", new_session_path(resource_name), class: "login-form__btn-link" %><br />
        <% end -%>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
