<% content_for :page_title, 'Finapp - Inversiones' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <p class="education__header-subtitle">Mostrando lecciones de:</p>
      <h2 class="education__header-title">Inversiones</h2>
      <p class="education__header-subtitle-text">Una inversión es una cantidad limitada de dinero que se pone a disposición de terceros, de una empresa o de un conjunto de acciones, con la finalidad de que se incremente con las ganancias que genere ese proyecto empresarial.</p>
      <p class="education__header-subtitle"><span>3</span> lecciones</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 class="education__categoryResult-title">Artículos</h2>
      </div>
    </div>
    <section class="education__cardsGrid">
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/inversiones/riesgo-sistematico')) do %>
            <%= image_tag("inversiones-1.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Riesgos sistemáticos</p>
          <p class="education__categoryResult-card-description">Acerca de la variabilidad en el rendimiento esperado de una inversión.</p>
          <p class="education__categoryResult-card-theme">#Inversiones</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/inversiones/decisiones-de-dinero')) do %>
            <%= image_tag("inversiones-3.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Tomando decisiones de dinero</p>
          <p class="education__categoryResult-card-description">Buenas desiciones llevan a un futuro prospero.</p>
          <p class="education__categoryResult-card-theme">#Inversiones</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/inversiones/sin-dinero-para-invertir')) do %>
            <%= image_tag("inversiones-2.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Sin dinero para invertir</p>
          <p class="education__categoryResult-card-description">¿Cómo empezar cuando no hay capital para invertir?</p>
          <p class="education__categoryResult-card-theme">#Inversiones</p>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render 'shared/footer' %>
