<% content_for :page_title, 'Finapp - Acciones' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Acciones</h3>
          <p class="education__content-description">Qué factores pueden influir en la cotización de las acciones y qué ratios financieros merece la pena tener en cuenta en el análisis de acciones.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-acciones_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por MBM en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Cada segmento de los mercados financieros está gobernado por sus propias leyes. En el caso del mercado de divisas, el valor de las mismas viene determinado por lo que ocurre en la propia economía del país, por las políticas de su banco central y por los cambios en los tipos de interés. Por otro lado, las materias primas vienen explicadas principalmente por cambios en su oferta y demanda. Con respecto a las acciones, son quizás el instrumento más conocido para el pequeño inversor. Las acciones reflejan no solo el cambio de valor de una compañía sino los cambios en la evolución de una economía en general. Además mientras variaciones de más de un 5% diario son comunes en el mercado de divisas o de materias primas, en el mercado de acciones son consideradas inusuales o extraordinarios en mercados como el de materias primas, pueden ser mucho más habituales en el mercado de acciones.
        </p>
        <p class="education__content-blogTitle">¿Qué son las acciones?</p>
        <p class="education__content-blog">
          Comencemos con una simple definición: una acción es un activo financiero que representa la propiedad de una empresa y da el derecho, a su tenedor de una parte proporcional de los activos y de los beneficios de la misma. Eso significa que cuando alguien compra una acción de una compañía especifica, esa persona pasa a ser su dueño. El comprador posee desde ese momento una parte de los activos de la compañía y cuenta con el derecho a participar en sus beneficios (y si la empresa así lo estipula, de recibir los dividendos correspondientes). Por supuesto hay muchos tipos de acciones pero consideramos que merece la pera enfocarse en las acciones tradicionales ya que éstas representan, con mucha diferencia, la mayor parte de mercado
          <br>
          <br>
          Para los accionistas mayoritarios, la compraventa de acciones es mucho más complicada. Ellos no solo deciden qué hacer con las acciones que han comprado sino que tienen el derecho a decidir el futuro de una empresa participando en las Juntas Generales de Accionistas. Los poseedores de acciones tradicionales tienen la posibilidad de ejercer su voto en las decisiones corporativas tales como nombramientos para el Consejo de Administración, fusiones y adquisiciones o relevos.
        </p>
        <p class="education__content-blogTitle">¿Qué factores afectan a las acciones?</p>
        <p class="education__content-blog">
          Como habrán podido adivinar, para esta pregunta no existe una respuesta fácil. Existen muchos factores que afectan a los precios de las acciones. En el siguiente apartado vamos a destacar los más importantes:
          <br>
          <br>
          <b>Beneficios</b> – Los beneficios son cruciales en el análisis de acciones. Cuanto más dinero gane una compañía, más demandadas serán sus acciones. Cuando una compañía alcanza un nivel razonable de beneficios, puede distribuir parte de los mismos a los accionistas en forma de dividendo. Además, puede comprar su participación, lo que conduciría a un incremento del valor de la compañía. Mientras que la cantidad de acciones se quede invariable, un incremento del valor de la compañía se traduce en un incremento del precio de cada acción. Es importante recordar que algunas veces, una compañía con un precio alto de sus acciones podría no estar generando los beneficios esperados. Sin embargo, el incremento de precios de las acciones significa que los inversores tienen esperanzas de que un beneficio lógico aparecerá en un futuro. Si finalmente no se alcanza esta situación, los precios pueden caer de forma abrupta tal y como ha sucedido en la burbuja de las “puntocom”. Esta es la razón por la que es crucial tener en cuenta los beneficios a la hora de compra acciones.
          <br>
          <br>
          <b>Comportamiento de la industria o del sector</b> – Las diferentes empresas desarrollan su negocio dentro de un sector concreto. Por ejemplo, Apple es una de los líderes del sector tecnológico, lo que significa que no competirá con Coca-Cola pero si tendrá en cuenta lo que está haciendo Microsoft. La competitividad agresiva dentro de un sector puede tener un significativo impacto dentro de los beneficios de la compañía ya que empuja hacia abajo el valor de sus acciones.
          <br>
          <br>
          <b>Situación Financiera</b> – La situación financiera de una empresa determina su capacidad para seguir existiendo en el largo plazo. El deterioro en esta área podría conducir a cambios dramáticos en las acciones de la compañía, tal y como ocurrió con los valores bancarios durante la crisis financiera de 2009.
          <br>
          <br>
          <b>Condiciones económicas generales</b> – El precio de las acciones depende no solo de lo que está ocurriendo en la compañía sino de los sucesos que tienen lugar fuera de ella. Por ejemplo, el deterioro en el crecimiento económico o incluso una recesión puede dar pie a una caída en los beneficios. Por otro lado, un crecimiento económico más alto puede mejorar las perspectivas para una empresa específica, lo que conduciría a un incremento en la cotización de sus acciones.
          <br>
          <br>
          Por supuesto, existen muchos factores a vigilar pero los anteriormente mencionados son los más relevantes para el desarrollo de un buen análisis de acciones.
        </p>
        <p class="education__content-blogTitle">Vistazo a los ratios:</p>
        <p class="education__content-blog">
          Valorar una compañía no es una tarea fácil. Informes financieros, perspectivas de beneficios, las condiciones particulares del sector, y todas las variaciones derivadas de ello. Sin embargo, existe una forma simple de comparar acciones entre ellas y ver si una inversión en una empresa especifica traerá los beneficios esperados. Esta forma consiste en utilizar ratios financieros. En el siguiente apartado revisaremos los ratios financieros más populares que nos pueden ser útiles en nuestro análisis.
          <br>
          <br>
          <b>Beneficio por Acción (BPA)</b> – Este es un ratio que calcula la cantidad de ingresos netos ganados por cada acción. En otras palabras, esta cantidad es el dinero conseguido por cada acción si dividimos el beneficio total entre todas las acciones existentes. De alguna forma, refleja la rentabilidad de la compañía desde la perspectiva del accionista. Cuanto más alto sea, más atractivas resultarán las acciones de esa compañía.
          <br>
          <br>
          <b>Price to earnings Ratio (PER)</b> – El PER es uno de los ratios de valoración más conocido y utilizado. A pesar de sus imperfecciones, es ampliamente reconocido por todos los participantes del mercado. El PER ofrece una valoración de la compañía teniendo en cuenta los beneficios generados por cada acción. Una cifra alta supondría que los inversores tienen que pagar más hoy por los beneficios, mientras que una cifra baja nos señala que la compañía es más barata. Lo que es más, acciones con un PER alto podrían estar sobrevaloradas, lo que podría hacer que esa inversión resultase poco atractiva. Como norma general, podemos decir que cuanto más bajo sea el PER, más atractiva va a ser la acción.
          <br>
          <br>
          <b>Rentabilidad por Dividendo (DY)</b> – Este ratio indica cuanto paga la compañía de dividendos cada año en relación al precio al que está cotizando. La rentabilidad por dividendo está representada como un porcentaje y se calcula como el valor total de los dividendos repartidos durante un año entre el número de acciones. También se puede calcular como la cantidad distribuida por acción dividida entre el precio de la acción en un momento dado. El ratio es bastante utilizado sobre todo por los llamados “inversores vía dividendo”, quienes fundamentalmente buscan acciones que tienen crecimiento estable y pagan un dividendo sólido.
          <br>
          <br>
          Por supuesto, existen muchos más ratios que pueden ser utilizados en el análisis de acciones. Nosotros debemos de escoger aquellos que puedan ser útiles en nuestra estrategia de inversión, tal y como hemos explicado en el caso de los “inversores vía dividendo”.
        </p>
      </div>
    </div>
  </div>
</div>
