<% content_for :page_title, 'Finapp - Indicadores y Osciladores' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Medias móviles simples</h3>
          <p class="education__content-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-atecnico_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Chris Liverani en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Vamos a investigar cómo detectar las oportunidades de comercio mediante el uso de medias móviles simples.
          <br>
          <br>
          Cualquier estrategia de negociación debe contener información específica no solamente para cuando un mercado se puede abrir, sino además un sistema de gestión de riesgos para minimizar sus pérdidas. Esto incrementa su probabilidad general de éxito en trading a largo plazo.
        </p>
        <p class="education__content-blogTitle">Medias móviles simples</p>
        <p class="education__content-blog">
          Las medias móviles simples son una de las herramientas más utilizadas en el análisis técnico, las cuales son calculadas mediante la suma de los precios de cierre de un mercado particular para un número elegido de períodos y posteriormente dividiendo este número por el número de períodos.
          <br>
          <br>
          La regla general es que cuando el mercado se rompe por debajo de una media móvil (es decir, desde arriba), con el cuerpo de un candlestick y no sólo con una sombra, es cuando decimos que es una señal de que los osos están ganando poder y que existe una mayor probabilidad de que el mercado comience con una caída.
          <br>
          <br>
          Por otra parte, si el mercado se rompe por encima de una media móvil (es decir, desde abajo), con el cuerpo de un candlestick, entonces esto indica que los toros están ganando poder y que hay una mayor probabilidad de que el mercado comience a moverse al alza.
          <br>
          <br>
          Por supuesto, puede utilizar múltiples períodos de media móvil diferente y un gran número de traders utilizan más de un período (como 50 y 100 o 100 y 200) para brindarles un mayor sentido de la dirección actual del mercado y cuando una tendencia puede revertir a corto plazo.
          <br>
          <br>
          Observemos a continuación, un ejemplo de una media móvil de 89 períodos en el gráfico de EUR / USD por hora, y cómo se habría realizo nuestra estrategia:
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-22.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Es de gran importancia definir nítidamente el momento en que se debe ingresar en un mercado, pero también es crucial reconocer cuándo salir de un mercado, ya sea en un beneficio o en una pérdida. Hay una creencia de que el mercado no es tanto sobre la cantidad de veces que un trader anticipa lo que el mercado va a hacer, sino más bien actuar según lo que se espera del mercado lo más posible y perder tan poco cuando el mercado hace lo contrario de lo que se espera.
          <br>
          <br>
          Claro que es su decisión descubrir qué tipo de estrategia funciona para usted a la hora de hacer trading.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnico_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Introducción</p>
              <p class="education__categoryResult-card-title">¿Qué es análisis técnico?</p>
              <p class="education__categoryResult-card-description">Patrones de gráficos y técnicas de predicción de futuros movimientos del precio</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL1_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 1</p>
              <p class="education__categoryResult-card-title">Tipos de gráficos</p>
              <p class="education__categoryResult-card-description">Qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL2_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 2</p>
              <p class="education__categoryResult-card-title">Indicadores y Osciladores</p>
              <p class="education__categoryResult-card-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL3_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 3</p>
              <p class="education__categoryResult-card-title">Patrones de precio</p>
              <p class="education__categoryResult-card-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL5_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 5</p>
              <p class="education__categoryResult-card-title">Operar con la tendencia</p>
              <p class="education__categoryResult-card-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL6_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 6</p>
              <p class="education__categoryResult-card-title">Teoría de las Ondas de Elliott</p>
              <p class="education__categoryResult-card-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
