<% content_for :page_title, 'Finapp - Análisis técnico' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="education__header miniserie__header">
    <div class="row education__header-bg4">
      <div class="eight columns offset-by-two">
        <p class="education__header-subtitle">Miniserie</p>
        <h2 class="education__header-title">Análisis técnico</h2>
        <p class="education__header-subtitle-text">El análisis técnico estudia patrones de gráficos y técnicas de predicción de futuros movimientos del precio.</p>
        <p class="education__header-subtitle"><span>6</span> lecciones</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blogTitle">Introducción - ¿Qué es análisis técnico?</p>
        <p class="education__content-blog">
          Existen dos caminos en que los traders se introducen en el mercado: el análisis fundamental y el análisis técnico. El análisis técnico estudia patrones de gráficos y técnicas de predicción de futuros movimientos del precio.
          Tenemos dos enfoques diferentes que los traders pueden utilizar para analizar el mercado. Estos son el análisis fundamental y análisis técnico.
          <br>
          <br>
          Por un lado, el análisis fundamental se fija en la información económica de una compañía, materias primas o divisas; mientras que el análisis técnico únicamente utiliza los gráficos, indicadores y osciladores para predecir los futuros movimientos del precio.
          <br>
          <br>
          Hoy en día, son tres los principios de análisis técnico más populares entre los traders para identificar oportunidades:
          <br>
          <ul class="education__content-ulist">
            <li><b>El mercado descuenta todo</b> - El análisis técnico solo presta atención a los movimientos del precio, ignorando factores fundamentales, ya que se incluye a los factores que afectan al precio del mercado dentro de estos movimientos. Por ende, todo lo que hay que examinar es el precio en sí mismo.</li>
            <li><b>Los precios se mueven en tendencias</b> - En el análisis técnico, se considera que los movimientos de precio siguen tendencias. Esto significa que luego que se establece una tendencia, el movimiento futuro del precio es más esperable que vaya en la misma dirección que la tendencia que en contra de ella. La mayoría de las estrategias de trading técnico se basan en este concepto.</li>
            <li><b>La historia siempre se repite</b> - La piedra angular del análisis técnico es la teoría de que la historia tiende a repetirse. Como consecuencia, el análisis técnico utiliza históricos de datos de precios para predecir en qué momento los precios van a cambiar. Aquí es donde vemos los niveles de soporte y resistencia.</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL1_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 1</p>
              <p class="education__categoryResult-card-title">Tipos de gráficos</p>
              <p class="education__categoryResult-card-description">Qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL2_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 2</p>
              <p class="education__categoryResult-card-title">Indicadores y Osciladores</p>
              <p class="education__categoryResult-card-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL3_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 3</p>
              <p class="education__categoryResult-card-title">Patrones de precio</p>
              <p class="education__categoryResult-card-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL4_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 4</p>
              <p class="education__categoryResult-card-title">Medias móviles simples</p>
              <p class="education__categoryResult-card-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL5_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 5</p>
              <p class="education__categoryResult-card-title">Operar con la tendencia</p>
              <p class="education__categoryResult-card-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL6_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 6</p>
              <p class="education__categoryResult-card-title">Teoría de las Ondas de Elliott</p>
              <p class="education__categoryResult-card-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
