<% content_for :page_title, 'Finapp - Tipos de gráficos' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Tipos de gráficos</h3>
          <p class="education__content-description">El análisis técnico estudia patrones de gráficos y técnicas de predicción de futuros movimientos del precio.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-atecnico_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Chris Liverani en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Existen dos caminos en que los traders se introducen en el mercado: el análisis fundamental y el análisis técnico. El análisis técnico estudia patrones de gráficos y técnicas de predicción de futuros movimientos del precio.
          Para comenzar con el análisis de los gráficos, es clave comprender qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado y cómo se construyen los diferentes gráficos. Los gráficos más populares son:
          <br>
          <ul class="education__content-ulist">
            <li>Gráficos de línea</li>
            <li>Tablas de barras (OHLC)</li>
            <li>Gráficos de velas</li>
          </ul>
        </p>
        <p class="education__content-blogTitle">Gráficos de línea</p>
        <p class="education__content-blog">
          Un gráfico de líneas se genera con la conexión de puntos que representan el precio de cierre de diversos intervalos de tiempo con una línea. Los gráficos de líneas son uno de los tipos más antiguos de gráficos, utilizados en otra época por los operadores de valores. Uno de los beneficios de utilizar un gráfico de líneas es la cantidad de visibilidad que ofrecen. Sin embargo, los gráficos de líneas sólo brindan información sobre el precio de cierre en un intervalo de tiempo dado. La información que no tenemos la posibilidad de conocer con los gráficos de línea es en el precio de apertura, el precio máximo y el mínimo.
          <br>
          <br>
          Miremos un ejemplo de un gráfico de líneas en el intervalo de 15 minutos en el EUR / USD.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blogTitle">Gráficos de barras</p>
        <p class="education__content-blog">
          En oposición a los gráficos de líneas, los gráficos de barras proporcionan a los traders toda la información importante sobre un intervalo de tiempo dado; El precio de cierre, el precio de apertura, el máximo y el mínimo. Puede comprenderlo mejor dando un vistazo a continuación nuestro ejemplo:
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-2.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          La barra está constituida en principio por una línea horizontal que se ubica en el lado izquierdo de la línea vertical y esto representa el precio de apertura del intervalo de tiempo seleccionado. Luego de la apertura, la línea vertical comienza a formarse donde la parte superior de la línea vertical representa el máximo del intervalo de tiempo y la parte inferior de la línea vertical representa el mínimo del intervalo de tiempo. Cuando finaliza el intervalo, surge una línea horizontal en el lado derecho de la línea vertical que muestra el precio de cierre del intervalo.
          <br>
          <br>
          Lo que debe tomarse en consideración es que la línea horizontal izquierda se encuentra inferior a la línea horizontal derecha, y esta barra representa una barra de "aumento" donde el mercado ganó en poder. Por otro lado, si la línea horizontal izquierda está por encima de la línea horizontal derecha, entonces esta barra representa una barra de "disminución" donde el mercado perdió impulso.
          <br>
          <br>
          En conclusión, los gráficos de barras pueden proporcionarnos toda la información fundamental sobre un intervalo de tiempo, pero, por otra parte, su defecto es la falta de visibilidad, en especial cuando se aparta del mercado. Con un gráfico ampliado es muy dificultoso definir si una barra dada era una barra de aumento o disminución.
          <br>
          <br>
          A continuación puede visualizar un ejemplo de un gráfico de barras en el intervalo de 15 minutos en el EUR / USD.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-3.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blogTitle">Gráficos de velas</p>
        <p class="education__content-blog">
          Los gráficos de velas tienen su origen en el siglo XVIII en Japón, cuando los comerciantes de arroz trazaron gráficos de velas para analizar los posibles movimientos en los precios que pudieran afectar su negocio. Así como los gráficos de barras, los gráficos de velas proporcionan la información necesaria sobre un intervalo de tiempo y también solucionan el problema de la visibilidad, que es la debilidad de los gráficos de barras.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-4.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Un candlestick se forma como una barra con una particularidad; Las líneas horizontales se extienden a ambos lados y se conectan formando un cuerpo para el candlestick. Si el candlestick dado nota un aumento el cuerpo será blanco o verde, mientras que si el candlestick notó una disminución el cuerpo será negro o rojo. Claro que los colores del cuerpo del candlestick puede diferir y esto dependerá de plataforma de mercado o de sus propias preferencias.
          <br>
          <br>
          Como explicamos previamente, el cuerpo enseñará los precios de apertura y cierre y las líneas verticales que salen del cuerpo, mostrarán el máximo y el mínimo del intervalo de tiempo. Se les llama sombras.
          Lo curioso de los candlesticks es que tienden a crear formas y secuencias de formas que posibilitan a los traders a comprender el sentimiento actual del mercado y además ayuda a identificar posibles zonas de inversión.
          <br>
          <br>
          A continuación, observemos un ejemplo de un gráficos de velas en el intervalo de 15 minutos en el EUR / USD.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-5.png", class: "education__content-imgCover") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnico_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Introducción</p>
              <p class="education__categoryResult-card-title">¿Qué es análisis técnico?</p>
              <p class="education__categoryResult-card-description">Patrones de gráficos y técnicas de predicción de futuros movimientos del precio</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL2_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 2</p>
              <p class="education__categoryResult-card-title">Indicadores y Osciladores</p>
              <p class="education__categoryResult-card-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL3_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 3</p>
              <p class="education__categoryResult-card-title">Patrones de precio</p>
              <p class="education__categoryResult-card-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL4_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 4</p>
              <p class="education__categoryResult-card-title">Medias móviles simples</p>
              <p class="education__categoryResult-card-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL5_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 5</p>
              <p class="education__categoryResult-card-title">Operar con la tendencia</p>
              <p class="education__categoryResult-card-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL6_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 6</p>
              <p class="education__categoryResult-card-title">Teoría de las Ondas de Elliott</p>
              <p class="education__categoryResult-card-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
