<% content_for :page_title, 'Finapp - Indicadores y Osciladores' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Indicadores y Osciladores</h3>
          <p class="education__content-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-atecnico_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Chris Liverani en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Los indicadores y los osciladores son herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado, y se emplean también para captar puntos de inflexión, así como puntos de entrada y de salida.
          <br>
          <br>
          Algunos de los indicadores más populares son:
          <br>
          <ul class="education__content-ulist">
            <li>Medias Móviles: SMA/WMA/EMA</li>
            <li>Bandas de Bollinger</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Algunos de los osciladores más populares son:
          <br>
          <ul class="education__content-ulist">
            <li>MACD</li>
            <li>RSI</li>
          </ul>
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-6.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Las medias móviles son indicadores básicos para identificar las tendencias. Cuando el precio de un instrumento se encuentra por encima de la media móvil, la tendencia es hacia arriba, y cuando se encuentra por debajo es abajo. Esta es una herramienta sencilla, pero de gran eficacia.
        </p>
        <p class="education__content-blogTitle">Simple, Exponencial, Ponderado - todo el período 50</p>
        <p class="education__content-blog">
          Las medias móviles se aplican para medir la dirección de la tendencia actual. Cada tipo de media móvil se calcula promediando un número de puntos de datos pasados. Las medias móviles pueden calcularse acorde el precio de cierre, el precio de apertura y los precios altos o bajos.
          <br>
          <br>
          Para visualizar los niveles significativos de apoyo y resistencia a largo plazo y las tendencias generales, las medias móviles de 50 días, 100 días y 200 días son las más utilizadas.
          <br>
          <br>
          Una señal de trading primordial de la media móvil aparece cuando los precios cruzan la media móvil. Una señal de venta se indica cuando el precio del activo cruza por debajo de la media móvil. Esto refiere que el precio de mercado está perdiendo impulso y tiene bajo rendimiento en comparación con la media móvil.
          <br>
          <br>
          Una señal de compra aparece cuando el precio del activo cruza la media móvil. Esto es una indicación de que el precio está tomando una tendencia alcista, debido a que está aumentando a un ritmo más rápido que la media móvil. Por este motivo, esto suele recibirse como una oportunidad potencial para comprar.
        </p>
        <p class="education__content-blogTitle">Señales de trading en medias móviles múltiples</p>
        <p class="education__content-blog">
          Los traders suelen ubicar varias medias móviles en el mismo cuadro de precios. Una de las medias móviles será designada como la más veloz que consiste en menos puntos de datos y la otra será una media móvil más lenta. La media móvil más rápida tendrá más volatilidad que la media móvil más lenta.
        </p>
        <p class="education__content-blogTitle">Bandas de Bollinger</p>
        <p class="education__content-blog">
          Las bandas de Bollinger son bandas de volatilidad localizadas por encima y por debajo de la media móvil. La volatilidad está basada en la desviación estándar, por lo que cuanto más anchas son las bandas, mayor es la volatilidad.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-7.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Analicemos cuando deberíamos estar decidiendo comprar, usando como referencia las bandas de Bollinger.
        </p>
        <p class="education__content-blogTitle">Tendencia Alcista</p>
        <p class="education__content-blog">
          - Si una tendencia alcista es fuerte, alcanzara la banda superior de forma regular. Llegar a la banda superior muestra que el activo dado está empujando más alto y la actividad de compra sigue siendo fuerte.
          <br>
          <br>
          - Cuando el precio retrocede dentro de la tendencia alcista, si permanece por arriba de la banda media y luego regresa a la banda superior, muestra mucha fuerza.
          <br>
          <br>
          - Durante una tendencia alcista el precio no debe romper por debajo de la banda inferior; Si lo hace, refleja que la tendencia alcista se ha ralentizado y puede estar revirtiéndose.
        </p>
        <p class="education__content-blogTitle">Tendencia Bajista</p>
        <p class="education__content-blog">
          - Si una tendencia bajista es fuerte, llegará a la banda inferior de forma regular. Llegar a la banda inferior traduce que la actividad de venta sigue siendo fuerte
          <br>
          <br>
          - Cuando el precio retrocede (más alto), dentro de la tendencia bajista, si permanece por debajo de la banda media y luego regresa a la banda inferior, muestra mucha fuerza.
          <br>
          <br>
          - Durante una tendencia bajista el precio no debe romper por arriba de la banda superior; si lo hace, expresa que la tendencia alcista se ha ralentizado y puede estar revirtiéndose.
        </p>
        <p class="education__content-blogTitle">Osciladores</p>
        <p class="education__content-blog">
          El nombre osciladores surgen del hecho de que oscilan (de una manera parecida a una onda sinusoidal) alrededor de una línea horizontal conocida como la línea de equilibrio. Esto se refiere a sus puntos de precio y momento cero, que es el punto en donde el impulso no sube ni baja.
        </p>
        <p class="education__content-blogTitle">Características de los osciladores</p>
        <p class="education__content-blog">
          - Establece cuándo el precio es susceptible de corrección (cuando el mercado se agota en la tendencia dominante).
          <br>
          <br>
          - Da una señal de venta en la zona de sobrecompra y una señal de compra en la zona de sobreventa.
          <br>
          <br>
          - Muestra la divergencia entre los osciladores y el precio que sirve para tomar decisiones comerciales.
        </p>
        <p class="education__content-blogTitle">MACD</p>
        <p class="education__content-blog">
          El indicador MACD fue desarrollado por Gerald Appel. Enseña la diferencia de los dos promedios exponenciales que se mueven con un promedio exponencial de nueve periodos de la diferencia como una línea de señal.
          <br>
          <br>
          Hoy en día, un indicador MACD clásico se define como 12-26-9, donde el promedio de 12 y 26 días calcula la diferencia, y el promedio de 9 días es una línea de señal.
          <br>
          <br>
          El resultado es un oscilador ligero que puede dar señales a la operación: la intersección de la línea cero, las divergencias, y la intersección de la señal de entrada en la zona de sobrecompra o sobreventa.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-8.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Pasaremos a continuación a las señales de trading que se generan por MACD.
          <br>
          <br>
          La señal de compra MACD se genera cuando el MACD (línea azul) cruza por encima de la línea de señal MACD (línea roja). De igual forma, cuando el MACD cruza por debajo de la línea de señal MACD, se genera una señal de venta.
          <br>
          <br>
          Podríamos colocar operaciones basadas en MACD cuando la línea azul cruza la línea cero. De esa forma, la señal de la compra se desarrolla cuando la línea azul cruza encima de la línea del cero y vende la señal cuando cruza abajo.
          <br>
          <br>
          El cruce del promedio móvil del MACD es una de las tantas formas de interpretar el indicador técnico del MACD. El uso del MACD histograma y MACD divergencia advertencias son otros dos métodos destacados de utilizar el MACD.
        </p>
        <p class="education__content-blogTitle">RSI (Relative Strength Index)</p>
        <p class="education__content-blog">
          El RSI es un indicador de impulso técnico que compara la magnitud de los beneficios recientes con las pérdidas recientes para establecer cuándo el activo subyacente está sobrecomprado o sobrevendido.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-9.png", class: "education__content-imgCover") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnico_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Introducción</p>
              <p class="education__categoryResult-card-title">¿Qué es análisis técnico?</p>
              <p class="education__categoryResult-card-description">Patrones de gráficos y técnicas de predicción de futuros movimientos del precio</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL1_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 1</p>
              <p class="education__categoryResult-card-title">Tipos de gráficos</p>
              <p class="education__categoryResult-card-description">Qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL3_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 3</p>
              <p class="education__categoryResult-card-title">Patrones de precio</p>
              <p class="education__categoryResult-card-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL4_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 4</p>
              <p class="education__categoryResult-card-title">Medias móviles simples</p>
              <p class="education__categoryResult-card-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL5_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 5</p>
              <p class="education__categoryResult-card-title">Operar con la tendencia</p>
              <p class="education__categoryResult-card-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL6_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 6</p>
              <p class="education__categoryResult-card-title">Teoría de las Ondas de Elliott</p>
              <p class="education__categoryResult-card-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
