<% content_for :page_title, 'Finapp - Indicadores y Osciladores' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Operar con la tendencia</h3>
          <p class="education__content-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-atecnico_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Chris Liverani en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blogTitle">Operar con la tendencia</p>
        <p class="education__content-blog">
          Todos los mercados financieros presentan en sus movimientos tres tendencias diferentes; alcista, bajista o lateral. Decimos que el mercado no está en la tendencia cuando se está moviendo en los laterales, donde se disputa una constante batalla entre vendedores y compradores. Localizar en cuál de estos dos tipos de tendencia se halla el mercado, puede ayudarnos a presentar oportunidades de trading interesantes que vienen con directrices claras.
          <br>
          <br>
          Esta estrategia la dictamina una sola regla: opera el camino de menos resistencia operando siempre en dirección de la tendencia predominante. Imagina una ola que se aproxima hacia la costa; lo más simple que puede hacer un trader es subirse en la cresta de la ola, no nadar contra la misma.
          <br>
          <br>
          Claro está que una tendencia puede cambiar en cualquier momento, pero puedes utilizar los indicadores y figuras técnicas para tratar de reconocer en qué punto la tendencia va a cambiar de dirección.
        </p>
        <p class="education__content-blogTitle">Un mercado al alza</p>
        <p class="education__content-blog">
          Si un mercado se encuentra al alza, puedes tomar en consideración tener una posición de compra en ese mercado y operar con la tendencia dominante. Por ejemplo: el camino de la menor resistencia. El quid de la cuestión será elegir el momento justo en el que abrir una posición de compra. Lo idóneo sería entrar en una posición de compra lo más baja posible, para maximizar tu posible beneficio. Algunos traders pueden esperar a un pullback (un pequeño bache en el mercado) pero lleva consigo el riesgo de esperar demasiado para ingresar en el mercado y de perder una posible ventaja futura.
          <br>
          <br>
          Un mercado en alza, es decir una tendencia alcista, muestra una serie de máximos y mínimos crecientes. Esto significa que cada suelo (soporte) es más alto que el anterior.
        </p>
        <p class="education__content-blogTitle">Un mercado a la baja</p>
        <p class="education__content-blog">
          Por lo contrario, si el mercado se encuentra en una caída puedes considerar vender, es decir entrar a la baja o en corto, en dicho mercado. Para maximizar tus posibles beneficios tendrías que entrar en el mercado lo más alto posible, y así maximizas cualquier movimiento descendiente en el precio.
          <br>
          <br>
          Un mercado bajista, llamado también tendencia bajista, es cuando el mercado tiene máximos y mínimos decrecientes.
        </p>
        <p class="education__content-blogTitle">¿Qué hacer en un mercado lateral?</p>
        <p class="education__content-blog">
          Un mercado presenta movimientos laterales cuando está en un punto indeciso y los compradores o vendedores están en punto muerto. Los compradores y vendedores se provocan entre ellos, pero no se llega a un consenso. En este punto, muchos traders se enfrentan con dos posibilidades estratégicas; operativa diversificada o aguardar una ruptura.
          <br>
          <br>
          Generalmente, cuando un mercado está moviéndose de manera lateral, lo hace dentro de un rango específico. La parte superior de este rango pasa a ser el punto de resistencia, donde los precios pelean por subir, mientras que la parte inferior del rango se convierte en un punto de soporte, donde frecuentemente aparecen los compradores.
          <br>
          <br>
          Los traders del rango quieren aprovechar los precios quedándose en el rango al tomar posiciones de compra cuando los precios están cerca del suelo, o posiciones de venta cuando están cerca del techo. Los traders pueden gestionar el riesgoo imponiendo órdenes de stop loss justo fuera del suelo en caso de una ruptura, lo que se traduce en que cualquier posible pérdida se minimizaría.
          <br>
          <br>
          Los traders que esperan una ruptura normalmente introducen órdenes de compra por encima del techo del rango, y órdenes de venta por debajo del rango para beneficiarse de la misma. No debemos olvidar que esta estrategia acarrea el riesgo de una ruptura falsa.
        </p>
        <p class="education__content-blogTitle">¿Cuándo identificar una tendencia?</p>
        <p class="education__content-blog">
          De las cosas más fundamentales al momento de identificar una tendencia es determinar los intervalos de tiempo. Normalmente, cuando se analiza una tendencia a largo plazo, estás utilizando una temporalidad a largo plazo en vez de uno a corto plazo. Sin embargo, para operativas con objetivo intradía, los periodos de tiempo a corto plazo son de gran valor. Podríamos tomar en consideración que en la operativa intradía o scalping, utilizar un intervalo de 1 minuto o 5 minutos será la mejor herramienta. Mientras que para el swing trading el horizonte temporal preferido de los inversores suele establecerse en gráfico horario o incluso diario.
        </p>
        <p class="education__content-blogTitle">En la cresta de la ola</p>
        <p class="education__content-blog">
          Instaurando una media móvil exponencial a corto plazo y una media móvil simple a un plazo más largo en un gráfico semanal y diario, podríamos predecir un poco mejor la dirección de la tendencia (aprender más sobre las medias móviles e identificación de tendencias aquí). Identificar la tendencia nos ayuda a momento de abrir operaciones, pero debemos tener en cuenta que los mercados se mueven en oleadas. Estas olas se llaman olas de impulsos cuando continúan la dirección de la tendencia, y olas correctivas cuando van en contra de la tendencia.
          <br>
          <br>
          Al contar las olas o giros en cada ola, puedes intentar prever si una oportunidad de trading será en contra o favor de la tendencia. Entonces estaremos poniendo en práctica la teoría de las Ondas de Elliot - una ola de impulso normalmente se basa en cinco impulsos, y una ola correctiva se basa en tres impulsos.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnico_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Introducción</p>
              <p class="education__categoryResult-card-title">¿Qué es análisis técnico?</p>
              <p class="education__categoryResult-card-description">Patrones de gráficos y técnicas de predicción de futuros movimientos del precio</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL1_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 1</p>
              <p class="education__categoryResult-card-title">Tipos de gráficos</p>
              <p class="education__categoryResult-card-description">Qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL2_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 2</p>
              <p class="education__categoryResult-card-title">Indicadores y Osciladores</p>
              <p class="education__categoryResult-card-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL3_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 3</p>
              <p class="education__categoryResult-card-title">Patrones de precio</p>
              <p class="education__categoryResult-card-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL4_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 4</p>
              <p class="education__categoryResult-card-title">Medias móviles simples</p>
              <p class="education__categoryResult-card-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL6_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 6</p>
              <p class="education__categoryResult-card-title">Teoría de las Ondas de Elliott</p>
              <p class="education__categoryResult-card-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
