<% content_for :page_title, 'Finapp - Indicadores y Osciladores' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Patrones de Precio</h3>
          <p class="education__content-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-atecnico_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Chris Liverani en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          El patrón en los precios es una herramienta fundamental utilizada en el análisis técnico. Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado, así como a determinar la fuerza de un movimiento de precios dado.
          <br>
          <br>
          Los patrones de precios están divididos en dos grupos:
          <br>
          <ul class="education__content-ulist">
            <li>Patrones de inversión de tendencias</li>
            <li>Patrones de continuación de tendencias</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Puede analizar patrones de precios en intervalos de tiempo escogidos según cual sea su estrategia comercial. Sin embargo, debe tener presente que los patrones que se forman en un período de tiempo más largo son más confiables que los observados en intervalos más breves.
        </p>
        <p class="education__content-blogTitle">Patrones de inversión de tendencias</p>
        <p class="education__content-blog">
          Los patrones de inversión de tendencias señalan la debilidad de la tendencia actual y el comienzo de un movimiento en sentido contrario.
          <br>
          <br>
          Utilizando patrones de precios podemos calcular además el objetivo de precio mínimo para la caída o aumento que debería ocurrir posteriormente a que se complete el patrón.
          <br>
          <br>
          Los que surgen en los topes locales indican la posibilidad de una inversión en una tendencia alcista.
        </p>
        <p class="education__content-blogTitle">Patrón de cabeza y hombros</p>
        <p class="education__content-blog">
          Estamos ante el patrón de inversión más popular. Se modela a partir de tres picos de precios con el pico más alto en el medio. El patrón de la cabeza y los hombros necesita un escote, que es la línea que une los bajos locales alcanzados por el precio entre la cabeza y dos hombros. En el momento en el que el precio de mercado corta el escote, es una señal de que la tendencia bajista está empezando. Para hallar un objetivo de precio mínimo para la caída, debe marcar la distancia entre la cabeza y el escote y luego poner esta sección en el punto donde el escote se rompió.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-10.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Todos los patrones observados en los topes locales tienen su equivalente en fondos locales, pautando así el final de una tendencia bajista y el comienzo de una tendencia al alza. Construyen la imagen especular de formaciones que ocurren en los topes. El patrón de la cabeza y los hombros en la parte inferior se llama cabeza inversa y patrón de los hombros:
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-11.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Miremos a continuación un ejemplo en el mercado real:
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-12.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Que se forme el patrón de la cabeza y los hombros implica una señal fuerte, particularmente cuando los precios rompen la alta estructura previa. Esta es la primera indicación de debilidad, luego los precios vuelven al nivel de apoyo y siguen avanzando más alto.
        </p>
        <p class="education__content-blogTitle">Formación doble techo y doble suelo</p>
        <p class="education__content-blog">
          Otros ejemplos del patrón y su imagen de espejo son el doble techo y doble suelo.
          <br>
          <br>
          El doble suelo simula la letra "W". Cuando detectamos este patrón, señala una posible reversión. Los precios han llegado a sus mínimos y los toros están empezando a tomar el control.
          <br>
          <br>
          Por otro lado, el doble techo tiene forma de "M". La formación tiene lugar en una tendencia alcista cuando los precios han alcanzado un máximo, y rebotan desde la parte superior antes de trazar su camino más bajo. El objetivo de precio mínimo para las formaciones M y W se mide tomando la alta o baja formación hasta el último punto de resistencia o soporte.
        </p>
        <p class="education__content-blogTitle">Doble techo</p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-13.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blogTitle">Doble techo</p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-14.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Este ejemplo muestra una formación de doble suelo creado en una fuerte tendencia bajista. El segundo intento de romper el primer suelo se llevó a cabo con una mayor volatilidad (mecha y enorme propagación en la vela) lo cual eventualmente conduce a una inversión.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-15.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blogTitle">Patrones de continuación</p>
        <p class="education__content-blog">
          El segundo grupo de patrones de precios que veremos son patrones de continuación que reafirman el movimiento del mercado en la dirección del movimiento de precios actuales.
        </p>
        <p class="education__content-blogTitle">Triángulos</p>
        <p class="education__content-blog">
          El primer grupo de patrones de continuación son triángulos que se desarrollan con dos líneas de tendencia convergentes. Existen tres tipos de triángulos: simétrico, ascendente y descendente. Un triángulo es completado cuando una de sus líneas de tendencia rompe con el precio de mercado. Para fijar el objetivo de precio mínimo para el movimiento de precios que debe acontecer después de crear un triángulo, debemos señalar la distancia entre dos líneas de tendencia tomadas al comienzo de la formación del triángulo y luego establecer esta distancia en el lugar donde se rompió la línea de tendencia. El entorno ideal para la negociación de triángulos se encuentra con una fuerte tendencia desarrollada.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-16.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Analicemos cómo el triángulo simétrico en un gráfico WTI de 4 horas dirige la continuación de movimiento. Luego de que ocurra la ruptura de la línea de tendencia descendente, vemos grandes movimientos hacia arriba en la dirección de la tendencia.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-17.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blogTitle">Rectángulos</p>
        <p class="education__content-blog">
          Los rectángulos son otros patrones de continuación eficaces.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-18.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Los rectángulos pueden ser muy útiles como una formación que se desarrolla durante un intervalo de negociación cuando hay una pausa en la tendencia. El patrón es fácil de identificar sencillamente comparando máximos y mínimos.
          <br>
          <br>
          Cuanto más tiempo se mantenga el precio dentro de la formación, más dinámico resultará el movimiento luego de la ruptura.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-19.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Como se puede observar en el mercado real, los precios del ejemplo suelen detenerse en el rango de mercado y después romper en la dirección de la tendencia.
        </p>
        <p class="education__content-blogTitle">Bandera y banderín</p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-20.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          El patrón de bandera forma una estructura similar a un rectángulo, pero la bandera no es perfectamente plana y tendrá sus líneas de tendencia inclinadas.
          <br>
          <br>
          El banderín es una formación que se parece a los triángulos simétricos, pero tiene un menor tamaño (volatilidad) y duración.
          <br>
          <br>
          En el ejemplo que utilizamos aquí sobre el mercado, vemos la bandera perfecta. El precio está cayendo lentamente con pausas en las líneas de tendencia inferiores y continuando más alto con la dirección de la tendencia principal.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-21.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Debe tener en consideración que las posiciones de apertura requieren tener lugar luego de que se crea el patrón completo y se rompe un nivel fundamental para cada patrón.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnico_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Introducción</p>
              <p class="education__categoryResult-card-title">¿Qué es análisis técnico?</p>
              <p class="education__categoryResult-card-description">Patrones de gráficos y técnicas de predicción de futuros movimientos del precio</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL1_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 1</p>
              <p class="education__categoryResult-card-title">Tipos de gráficos</p>
              <p class="education__categoryResult-card-description">Qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL2_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 2</p>
              <p class="education__categoryResult-card-title">Indicadores y Osciladores</p>
              <p class="education__categoryResult-card-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL4_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 4</p>
              <p class="education__categoryResult-card-title">Medias móviles simples</p>
              <p class="education__categoryResult-card-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL5_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 5</p>
              <p class="education__categoryResult-card-title">Operar con la tendencia</p>
              <p class="education__categoryResult-card-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL6_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 6</p>
              <p class="education__categoryResult-card-title">Teoría de las Ondas de Elliott</p>
              <p class="education__categoryResult-card-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
