<% content_for :page_title, 'Finapp - Indicadores y Osciladores' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Teoría de las Ondas de Elliott</h3>
          <p class="education__content-description">Elliott descubrió que los mercados de acciones no se comportan aleatoriamente.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-atecnico_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Chris Liverani en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          A principio de la década del 20, Ralph Nelson Elliott descubrió que los mercados de acciones no se comportan aleatoriamente, sino que al igual que muchos otros elementos, tienen una tendencia a seguir las leyes de la naturaleza basados en ratios de Fibonacci. Concluyó de esto que el movimiento de los mercados puede tratar de predecirse y medirse.
          <br>
          <br>
          El Principio de la Ola está basado en la idea de que los movimientos alcistas y bajistas presentan secuencias repetitivas denominadas olas. A continuación observemos una estructura típica de olas, donde el movimiento del mercado se ha llevado a cabo en cinco olas, en dirección a la tendencia (números 1, 2, 3, 4 y 5) y tres olas que forman un movimiento correctivo (letras A, B y C).
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-23.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          La Teoría de las Ondas de Elliott continuó su desarrollo más tarde por AJ Frost, Robert Prechter y Robert Miner, que estipularon muchas reglas sobre cómo la teoría podría usarse en la práctica. Destaquemos las más importantes:
        </p>
        <ol class="education__content-list">
          <li>La Ola 2 no puede romper el suelo de la Ola 1 en una tendencia alcista, y no puede romper el techo de la Ola 1 en una tendencia bajista.</li>
          <li>La Ola 3 no puede ser la más corta en términos de longitud y tiempo, en comparación con las Olas 1 y 3.</li>
          <li>La Ola 4 no puede romper el techo de la Ola 1 en una tendencia alcista, y no puede romper el suelo de la Ola 1 en una tendencia bajista.</li>
          <li>La Ola 4 no puede ser más larga que la Ola 2.</li>
        </ol>
        <p class="education__content-blog">
          Aquí vemos un ejemplo ejemplo de la Estructura de las Ondas de Elliott en un periodo de tiempo Intradía en el EUR/USD:
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-24.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Analicemos si el ejemplo anterior cumple con las cuatro reglas mencionadas anteriormente:
        </p>
        <ol class="education__content-list">
          <li>La Ola 2 no rompe el suelo de la Ola 1.</li>
          <li>La Ola 3 no es la más corta al compararla con las olas 1 y 5.</li>
          <li>La Ola 4 no rompe el techo de la Ola 1.</li>
          <li>La Ola 4 no es más larga que la Ola 2.</li>
        </ol>
        <p class="education__content-blog">
          A continuación, otro ejemplo de Estructuras de Ondas de Elliott, en esta oportunidad en un período de tiempo de 4 horas en el EUR/GBP:
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-atecnico_graph-25.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Observemos si las cuatro reglas coinciden:
        </p>
        <ol class="education__content-list">
          <li>La Ola 2 no rompe el suelo de la Ola 1.</li>
          <li>La Ola 3 no es la más corta al compararla con las olas 1 y 5.</li>
          <li>La Ola 4 no rompe el techo de la Ola 1.</li>
          <li>La Ola 4 no es más larga que la Ola 2.</li>
        </ol>
        <p class="education__content-blog">
          En los dos ejemplos como puedes observar, la Teoría de las Ondas de Elliott es bastante coherente a la hora de identificar la tendencia de un mercado. Sin embargo, también se deben tomar en cuenta los múltiples indicadores técnicos al momento de identificar oportunidades de trading, para de esa forma tener una mayor posibilidad de éxito.
        </p>
        <p class="education__content-blogTitle">Resumen</p>
        <p class="education__content-blog">
          La teoría de las Ondas de Elliott no es un concepto simple, y requiere tiempo para comprenderlo e incluso más para ponerlo en práctica; pero lo que hacen la mayoría de los traders es aplicar las reglas derivadas de la Teoría de las Ondas de Elliott y mezclarlas con otras herramientas de análisis técnico, generando de esta forma configuraciones de análisis técnicos con buena probabilidad.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h4 class="profile__intro-subtitle">Lecciones de esta mini-serie</h4>
        <section class="education__cardsGrid-dashboard">
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnico_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Introducción</p>
              <p class="education__categoryResult-card-title">¿Qué es análisis técnico?</p>
              <p class="education__categoryResult-card-description">Patrones de gráficos y técnicas de predicción de futuros movimientos del precio</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL1_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 1</p>
              <p class="education__categoryResult-card-title">Tipos de gráficos</p>
              <p class="education__categoryResult-card-description">Qué tipo de gráficos pueden ser útiles para predecir los movimientos del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL2_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 2</p>
              <p class="education__categoryResult-card-title">Indicadores y Osciladores</p>
              <p class="education__categoryResult-card-description">Herramientas que son útiles para identificar la tendencia dominante y el sentimiento del mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL3_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 3</p>
              <p class="education__categoryResult-card-title">Patrones de precio</p>
              <p class="education__categoryResult-card-description">Los patrones de precios nos ayudan a identificar los puntos de inflexión en el mercado</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL4_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 4</p>
              <p class="education__categoryResult-card-title">Medias móviles simples</p>
              <p class="education__categoryResult-card-description">Cómo detectar oportunidades de comercio mediante el uso de medias móviles simples</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
          <article class="education__categoryResult-card">
            <div class="education__categoryResult-card-wrap">
              <%= link_to(academy_analisisTecnicoL5_path) do %>
                <%= image_tag("academy-atecnico.jpg", class: "education__categoryResult-card-img") %>
              <% end %>
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Lección 5</p>
              <p class="education__categoryResult-card-title">Operar con la tendencia</p>
              <p class="education__categoryResult-card-description">Los mercados financieros presentan en sus movimientos tres tendencias diferentes</p>
              <p class="education__categoryResult-card-theme">#AnálisisTécnico</p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
