<% content_for :page_title, 'Finapp - Bitcoin' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Bitcoin y las criptodivisas</h3>
          <p class="education__content-description">Qué es el Bitcoin y qué influencia tiene su valor.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-bitcoin_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Thought Catalog en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Lo que una vez se consideró como un ticket de lotería, el Bitcoin y otras criptodivisas ahora se han cimentado como activos legítimos en carteras de inversión. De hecho, esta "revolución digital" es comparable a la fiebre del oro del siglo 19, con los valores sufriendo mientras se intensifica su interés global. Pero ¿qué son exactamente las criptodivisas? y ¿cómo puedes ser partícipe de este boom tecnológico sin tener conocimientos especializados de IT? ¿Qué hay que saber sobre este instrumento tan misterioso? En este artículo te lo explicamos:
        </p>
        <p class="education__content-blogTitle">¿Qué es Bitcoin?</p>
        <p class="education__content-blog">
          El Bitcoin es una forma de divisas digital, creada y sostenida de manera electrónica. Al contrario que las divisas físicas, como el dólar o el euro, los bitcoins no están impresos. En vez de eso, los producen personas que gestionan ordenadores por todo el mundo, utilizando softwares que resuelven problemas informáticos.
          <br>
          <br>
          Otra diferencia significativa entre las criptodivisas y el dinero físico son los bancos. La misión objetiva de un banco central es estabilizar la divisa. Sin embargo, no existe un Banco del Bitcoin. Esto se debe a que el bitcoin es más o menos un banco en sí mismo. Un libro de liquidación independiente proporciona información sobre el estado de autoría de todos sus usuarios y el historial de transacciones entre ellos. Es más, existe una cantidad limitada de Bitcoins, lo que también limita el rol de la institución de supervisión. Echemos un vistazo a su funcionamiento:
          <br>
          <br>
          Mientras que los bancos centrales imprimen dinero, el Bitcoin tiene una cantidad limitada: para el 2140 habrá 21.000.000 de bitcoins en circulación. Podría decirse, igual que con el oro, que tenemos recursos limitados de Bitcoin. Es más, la cantidad de bitcoins que están en circulación como recompensa a los mineros decrece de manera predeterminada. Cada 210.000 bloques (4 años) el precio para los mineros cae a la mitad. Al principio era de 50 BTC, después 25 BTC, y ahora (a 10 de agosto de 2017), el precio es de 12,5 BTC. Los pioneros de la extracción del Bitcoin pueden ganar más, a menor coste. En estos momentos hay aproximadamente 16.500.000 bitcoins en circulación. Como resultado, solamente 4.500.000 BTC quedan pendientes de extracción, y su suministro hasta que entren en circulación irá disminuyendo, lo que es un factor deflacionista de esta criptodivisa.
        </p>
        <p class="education__content-blogTitle">Tecnología "Blockchain" - el corazón del Bitcoin y otras criptodivisas</p>
        <p class="education__content-blog">
          La manera en que la encriptación del Bitcoin se lleva a cabo es una revolución en el campo de la tecnología de la información - la tecnología "Blockchain".
          <br>
          Vamos a imaginar esta tecnología como una torre de bloques. La torres simboliza el estado actual de las cuentas de criptodivisas (quién tiene y cuántas tiene) visto desde el punto de vista de los usuarios de bitcoin. Cada nuevo bloque contiene información de todas las transacciones nuevas, que cambiará el estado actual de las cuentas.
          <br>
          <br>
          Un bloque nuevo, para que encaje en la torre, debe ir debidamente encriptado y coincidir. Cuando esto ocurre, se unirá a la torre, y como resultado se completarán nuevas transacciones. Los Bitcoins en el sistema se transferirán entre los usuarios.
          <br>
          <br>
          Si intentáramos eliminar o reemplazar un bloque del comienzo de la torre, la estructura entera se destruiría, porque cada bloque de la torre tiene la misma información del bloque anterior codificada en sí mismo. Reemplazar un bloque con otra información (otro cifrado) haría que éste no encajara con el código del bloque anterior. Es más, desconectaría todos los bloques que le siguen, y por tanto la información que contendría la torre se consideraría falsa. Es por eso que la tecnología "blockchain" se considera innovadora en el campo de la seguridad.
          <br>
          <br>
          Así que, ¿quién encripta el siguiente bloque de la torre? ¿Y cómo funciona este proceso? A las personas que ejercen de criptógrafos se les llama "mineros", utilizan un software para excavar y "minar" bitcoins. Esta alusión a la industria minera hace referencia a las minas de oro, porque el bitcoin es la recompensa por encriptar la subsecuente transacción para los mineros. De esta forma se crean nuevos bitcoins y entran en circulación. En este punto habría que señalar que las "excavadores" son ordenadores caros y complicados con una potencia de conversión muy alta. Como puedes ver, el Bitcoin es un instrumento complicado y definitivamente un nuevo capítulo en la historia de los mercados financieros.
        </p>
        <p class="education__content-blogTitle">¿Qué factores influencian el valor del Bitcoin?</p>
        <p class="education__content-blog">
          ¿Qué ocurrirá cuando ya no haya más bitcoins y no haya más necesidad de extracción? ¿Por qué los mineros gastarían su potencia de computación en mantenimiento? Ya en este momento algunas de las recompensas para los mineros son costes de transacciones, lo que en el futuro serán para beneficio total del minero. ¿Pero cubrirá éste todos los gastos de excavación y serán suficientes beneficios para ellos?
          <br>
          <br>
          La primera cuestión, y factor más importante - el coste de los excavadores, depende de los siguientes factores:
          <br>
          <ul class="education__content-ulist">
            <li>Coste de energía y fuentes de energía utilizadas (precio de la electricidad, fuentes de energía renovable, etc).</li>
            <li>Desarrollo de nuevas tecnología de computación (reducción del consumo actual).</li>
            <li>Aumento de la demanda de potencia de computación.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Con el aumento de popularidad, la creciente demanda de potencia de computación puede haber incrementado también el valor del bitcoin. Como ya se ha dicho, existe una cantidad limitada de Bitcoins. Con un suministro estable, un aumento en la demanda debería acabar en un aumento del precio del Bitcoin. Existen también otros factores a los que merece la pena tener en cuenta. Por ejemplo, si se incrementa la tensión geopolítica, o los inversores pierden la fe en la divisa tradicional, el Bitcoin sale ganando. La criptodivisa es un producto nuevo y revolucionario, por lo que es posible que los factores que lo influencian cambien con el tiempo.
        </p>
        <p class="education__content-blogTitle">Otras Criptodivisas</p>
        <p class="education__content-blog">
          Existen también otras criptodivisas que cada vez se están haciendo más populares. El éxito del Bitcoin ha llevado a un desarrollo de varias criptodivisas alternativas, a menudo llamadas "altcoins". Muchas de estas "altcoins" ofrecen su propia versión del protocolo Bitcoin, y son interesantes por derecho propio. También ayuda que muchas de estas sean aun baratas y mucho más fáciles de comprar "extraer". Echemos un rápido vistazo a las "altcoins" más importantes:
          <br>
          <ul class="education__content-ulist">
            <li><b>Litecoin</b> -  Como muchas altcoins, se basa en el protocolo de Bitcoin, pero está diseñada para asegurarse de que su extracción sea mucho más barata y democrática que el BTC.</li>
            <li><b>Ethereum</b> -  también llamada “Bitcoin 2.0”, es una alternativa al Bitcoin. Se incrementó rápidamente cuando tuvieron lugar ciertos problemas con el BTC y se anunció una actualización de su sistema. Esta actualización además hico que los pagos de Ethereum fueran más fáciles y rápidos.</li>
            <li><b>Ripple</b> - una fuente abierta de pares de criptodivisas, que ofrece las mismas características que el Bitcoin, pero también tiene funciones avanzadas, incluyendo transacciones instantáneas.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Mientras que el Bitcoin es todavía la criptodivisa más popular, el Ethereum, Ripple, Litecoin y otras nuevas aún están creciendo. Las criptodivisas son una revolución financiera con muchas funciones y muchos cambios por venir.
        </p>
      </div>
    </div>
  </div>
</div>
