<% content_for :page_title, 'Finapp - Correlación entre mercados' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Correlación entre mercados</h3>
          <p class="education__content-description">Qué significa "correlación" y cómo puede influenciar tu operativa.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-correlacion_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Anthony Abruzzo en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Los mercados financieros son un sistema de vasos conectados. Si el valor de los bonos desciende o incrementa significativamente, podría influenciar al precio de las divisas o acciones. No es una regla general, pero algunos instrumentos históricamente se mueven en tandem. ¿Por qué? Existen varios motivos. El dólar canadiense es el ejemplo perfecto. La divisa es fuertemente relacionada con el petróleo, ya que éste tiene un impacto importante en la economía Canadiense.
          <br>
          <br>
          Echemos un vistazo a algunas correlaciones populares para ver cómo puedes aprovecharlas en tus estrategias de trading.
        </p>
        <p class="education__content-blogTitle">¿Cómo se mide la correlación?</p>
        <p class="education__content-blog">
          La correlación es una de las estadísticas más comunes y útiles. Una correlación es un número simple que describe el grado de relación entre dos activos. Se puede utilizar para acciones individuales o activos, o puede medir cómo los un mercado más amplio se mueve respecto a otro. Se mide en una escala de -1 a +1. Una correlación positiva perfecta entre dos activos tiene una lectura de +1. Una relación negativa perfecta entre dos activos tiene una lectura de -1. Sin embargo, estos resultados son extremadamente raros.
          <br>
          <br>
          Veamos un ejemplo:
        </p>
        <div class="twelve columns">
          <%= image_tag("graph-2.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Como ves, existe una correlación bastante clara entre el dólar canadiense y el petróleo. Esto se define como una correlación positiva, porque ambos mercados se mueven casi a la vez - es decir, si un mercado crece, el otro también, y un mercado menguará si lo hace el otro. Por supuesto, es una regla generalista, y siempre podría aparecer una desviación.
        </p>
        <p class="education__content-blogTitle">AUD vs. Mineral de hierro</p>
        <p class="education__content-blog">
          El Dólar Australiano es una divisa de materias primas, lo que quiere decir que su fuerza depende principalmente de los precios de materias primas específicas. Australia es el mayor productor de hierro del mundo, y por tanto no debería sorprendernos que el bienestar de su econmía y el valor de su divisa dependa mayormente de las perspectivas del mineral de hierro.
          <br>
          <br>
          Por tanto esta materia prima podría tomarse como un indicador del pronóstico del Dolar Australiano.
        </p>
        <div class="twelve columns">
          <%= image_tag("graph-2.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Por ejemplo, si el precio del mineral de hierro sube, los inversores normalmente tienen que comprar más dólares Australianos para comprar la misma cantidad de mineral de hierro de Australia. Esto incrementa la demanda global de la divisa, lo que fortalece al AUD.
        </p>
        <p class="education__content-blogTitle">NZD vs. Productos lácteos</p>
        <p class="education__content-blog">
          Igual que Canadá, Nueva Zelanda depende de los precios de la leche. Al contrario que el petróleo o el oro, la leche no es una materia prima en la que los traders piensen demasiado. Es más, raramente escucharás nada sobre los precios de los productos lácteos en la TV o la radio. Sin embargo no quiere decir que la leche no sea vital para el NZD.
          <br>
          <br>
          Podría decirse que Nueva Zelanda es la Arabia Saudí de la leche. Es el mayor exportador de productos lácteos del mundo, contando con un 40 por ciento de la operativa de productos lácteos mundial. Los productos lácteos son el 7% de la producción total de la economía del país. Además, la mayor empresa de exportación de productos lácteos, Fonterra, también es la empresa más grande de Nueva Zelanda. Por lo que si los precios de la leche entraran en declive, afectaría a toda su economía, y por ende debilitaría la divisa.
        </p>
        <div class="twelve columns">
          <%= image_tag("graph-3.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Cuando el precio de la leche sube, los países que la importan a menudo necesitan comprar más dólares de Nueva Zelanda para comprar la leche. Cuando los precios de la leche caen, hay menos demanda del dólar de Nueva Zelanda, y por eso su valor cae.
        </p>
        <p class="education__content-blogTitle">USD y Gold</p>
        <p class="education__content-blog">
          Al contrario que con el AUD y el NZD, la economía de Estados Unidos no depende de los precios de una materia prima específica, en este caso el oro. Sin embargo se puede observar una fuerte correlación inversa entre el dólar y el oro. Una correlación inversa, también llamada correlación negativa, es una relación inversamente proporcional entre dos mercados. Así cuando el valor de un mercado se incrementa, el otro normalmente decrece.
          <br>
          <br>
          Ocurre por dos motivos principales:
          <ul class="education__content-ulist">
            <li>Un dólar decreciente puede incrementar el valor de otras divisas. Esto a menudo incrementa la demanda de materias primas, incluido el oro.</li>
            <li>Cuando el dólar comienza a perder su valor, los traders buscan fuentes alternativas donde almacenar el valor. Esto se debe a que una caída en el USD a menudo conlleva caídas en los tipos de interés. Cuando los tipos bajan, los traders buscan un beneficio en otro lado, y el oro es una posible alternativa.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Como se ve en el gráfico inferior, el oro tenía una fuerte correlación inversa con el USDCHF. Esto quiere decir que si su precio subía, el valor del dólar bajaba.
        </p>
        <div class="twelve columns">
          <%= image_tag("graph-4.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Sin embargo se debe recordar una cosa. Es posible que el dólar y el oro se incrementen a la vez. Esto puede ocurrir cuando ocurra una crisis o un desgaste del sentimiento del mercado. Tal situación podría impulsar a los traders a buscar activos de "seguridad" tradicionales, incluyendo el dólar y el oro.
        </p>
        <p class="education__content-blogTitle">Operar la divergencia.</p>
        <p class="education__content-blog">
          Existen muchos instrumentos correlacionados entre ellos, por lo que es casi imposible mencionarlos todos. Por ejemplo, tanto el dólar como el oro son dependientes mayormente de los movimientos del mercado de bonos, mientras que el Nikkei normalmente se mueve en tandem junto con el USDJPY. En el petróleo influye el precio del Rublo Ruso y la Corona Noruega, mientras que el Rand Sur Africano (ZAR) está correlacionado con el oro. No nos centraremos en cada una de ellas, pero podemos ver cómo utilizar la correlación como parte de tu estrategia de trading.
          <br>
          <br>
          Volvamos al último ejemplo. Como se ve, hubo periodos en los que el precio del USDCHF fue superior o inferior al precio que indicaba el oro (marcado con líneas rojas verticales).
        </p>
        <div class="twelve columns">
          <%= image_tag("graph-5.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Esto se denomina una divergencia entre dos instrumentos, y se puede utilizar para abrir una operación. Si sabes que dos instrumentos utilizados se mueven en tandem, entonces puedes imaginar que sus precios volverán a cruzarse en el futuro. Por lo que si el USDCHF está más alto que el oro, un trader podría vender el par y comprar oro. Sin embargo se debe tener en cuenta algo: los periodos de divergencia pueden durar mucho, por tanto podría hacer la operativa difícil.
        </p>
        <p class="education__content-blogTitle">Oportunidades y correlación.</p>
        <p class="education__content-blog">
          La correlación entre mercados es una parte importante del análisis fundamental. Como hemos comentado antes, algunas materias primas pueden tener un impacto significativo en diferentes divisas. Por otro lado, algunas divisas como el dólar estadounidense puede tener un impacto en los precios de las materias primas.
          <br>
          <br>
          Es más, los periodos de divergencia entre instrumentos correlacionados podría proporcionar oportunidades interesantes de trading. Es por eso que merece la pena mirar a otros mercados cuando se operan divisas, no solo para estimar su valor, sino también para ver si se puede abrir alguna operación interesante.
        </p>
      </div>
    </div>
  </div>
</div>
