<% content_for :page_title, 'Finapp - Materias' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Materias primas</h3>
          <p class="education__content-description">Por qué los factores fundamentales son cruciales en las materias primas.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-materia_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Joao Marcelo en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Las materias primas son un sector único de los mercados financieros. Uno de los aspectos más interesantes a la hora de operar materias primas es la compleja relación de oferta y demanda entre los factores económicos y los hábitos de consumo, que ofrece el inmenso potencial de fluctuación a los precios.
          <br>
          <br>
          Mientras que las materias primas con componentes esenciales de bienes manufacturados, su producción y consumo depende mayormente de factores como el clima, la estacionalidad, y la fuente. Por ejemplo, los precios del petróleo han sufrido mucho los últimos años cuando la producción de esquistos ha aumentado más rápidamente que la demanda, lo que ha llevado a un incremento de las existencias de petróleo, y por tanto a una bajada de los precios del mismo. Este artículo explica todos los aspectos importantes a tener en cuenta a la hora de operar materias primas.
        </p>
        <p class="education__content-blogTitle">¿Qué es exactamente una materia prima?</p>
        <p class="education__content-blog">
          Una materia prima suele ser un recurso natural que se puede procesar y vender. Estas incluyen cosas como los bienes de la agricultura, metales, energías, minerales y muchos más.
          <br>
          <br>
          Es importante notar que la compra y venta de materias primas a menudo se lleva a cabo a través de contratos de futuros estandarizados en múltiples divisas. Esto quiere decir que no tienes que comprar un barril de petróleo y almacenarlo en tu jardín. Únicamente tienes que comprar un contrato de futuro para ser un trader de materias primas. El mercado más conocido y antigua es el Chicago Board of Trade (CBOT), en el que un trader puede comprar futuros en materias primas comunes de agricultura, incluyendo trigo, maiz, avena, arroz, soja y muchos más. Sin embargo, el hecho de que la operativa de materias primas se lleve a cabo a través de contratos tiene sus propias complicaciones. Los futuros permiten a un trader comprar o vender una materia prima sin necesidad de almacenarla, lo que permite a los especuladores ser parte del mercado.
          <br>
          <br>
          Es por eso que podemos dividir a los traders de materias primas en dos grandes grupos: inversores reales y especuladores. El primer grupo son compradores y productores físicos de la materia prima que utilizan los contratos a futuro de la materia prima para cubrirse, que era su propósito inicial. Estos traders se aprovechan en realidad de la materia prima real cuando el contrato de futuros expira. El segundo tipo de trader de materias primas es el especulador. Estos son los traders que operan en el mercado de materias primas con el solo propósito de beneficiarse de la volatilidad en el movimiento del precio. Estos traders nunca pretenden beneficiarse de la materia prima real cuando el contrato de futuros expira. Podría tener implicaciones significativas para los precios. Volviendo al petróleo, los precios cayeron en picado el primer trimestre de 2016. El movimiento tuvo un contexto fundamental, pero lo forzaron principalmente los especuladores que esperaban que el precio del petróleo cayera hasta los 10 dólares por barril. Como un trader de materias primas, se debe tener este aspecto en cuenta.
        </p>
        <p class="education__content-blogTitle">El Análisis fundamental puede ser crucial.</p>
        <p class="education__content-blog">
          Mientras el análisis técnico es útil a la hora de operar materias primas, muchos traders tienden a centrarse en los factores fundamentales. ¿Por qué?
          <br>
          <br>
          La base del análisis fundamental es la oferta y la demanda, que se resumen en una simple ecuación. Sin embargo, las cosas se complican cuando intentas predecir los precios del futuro. La operativa de materias primas a menudo funciona en ciclos; a veces la oferta será ajustada y los precios altos. Otra veces simplemente hay demasiada oferta y los precios caen. En general, los movimientos de precio en las materias primas utilizando el análisis fundamental se puede dividir en dos simples fórmulas:
          <br>
          <br>
          <ul class="education__content-ulist">
            <li>1. Si la demanda es más alta que la oferta, los precios caerán.</li>
            <li>2. Si la oferta es mayor que la demanda, entonces los precios subirán.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Por supuesto, estas reglas suelen funcionar, pero no quiere decir que no te vaya a encontrar nunca con alguna excepción. El mercado financiero es complicado, y hay muchos factores que pueden influenciar los precios, incluidos los precios de las materias primas.
          <br>
          <br>
          Como hemos comentado antes, el cambio en la oferta puede interpretar un papel fundamiental en las materias primas. El suministro de una materia prima es la cantidad pendiente de años anteriores de producción y la cantidad que se produce durante el año actual. Por ejemplo, la oferta actual de soja incluye los cultivos del suelo y la cantidad que quedó del cultivo del año pasado. Cuanto más altos estén (con una demanda estable), más bajos serán los precios. La oferta podría verse influenciada por muchos factores como el tiempo, la cantidad total de acres plantados, los parones en la producción, enfermedades del grano y la tecnología.
          <br>
          <br>
          La demanda es el otro punto de la ecuación. Es la cantidad que se consume a un nivel de precio concreto. En general, la demanda incrementará cuando el precio de la materia prima se mueva hacia abajo. Y al contrario, éste descenderá a medida que el precio de la materia prima suba. Un ejemplo. Cuando más caro es el petróleo, menos gente se lo puede permitir, por lo que la demanda baja. En una situación en la que el precio de la gasolina se duplique, probablemente elijas viajar en autobús o bicicleta en vez de en coche. Esto quiere decir que tu demanda de carburante, es decir de petróleo, será menor.
          <br>
          <br>
          Por lo que si el aspecto principal del análisis de una materia prima se refiere a la demanda u oferta, veamos qué datos debemos mirar para juzgar si los precios caerán o subirán.
        </p>
        <p class="education__content-blogTitle">Datos que monitorizar.</p>
        <p class="education__content-blog">
          Como ya hemos comentado, la relación entre oferta y demanda puede ser crucial para los precios de las materias primas. Es por eso que es importante mantenerse atento a las publicaciones de datos. Por ejemplo, los traders de petróleo comprueban semanalmente el cambio en los inventarios del Departamento de Energía para ver si la oferta o demanda dictamina la dirección del mercado. Una subida en los inventarios es una señal bajista ya que indica que la oferta es mayor que la demanda. Aquí existen los dos tipos de informe más importantes:
          <br>
          <ul class="education__content-ulist">
            <li><b>Cambios en los inventarios</b> - como se muestra en el ejemplo del petróleo, los cambios en los inventarios son una forma interesante de ver si la demanda o la previsión juegan un papel importante en el mercado en ese momento. Cada materia prima tiene su propio tipo de informe, y su propia frecuencia de publicación, por lo que es importante mantenerse al día con ellos. Estos son algunos de los informes que monitorizar: Oil- API, el DOE publicado semanalmente; materias primas agrícolas - informe USDA publicado al final de cada mes.</li>
            <li><b>Informes sobre el balance</b> - Mientras que los cambios en los inventarios podrían indicar hacia qué lado se dirige el mercado en ese momento, el balance puede confirmar o negar dichos indicadores. Se publican menos habitualmente que los informes sobre los cambios en los inventarios, pero puede contener información importante. Por ejemplo, el informe mensual de la OPEC sobre la situación del mercado del petróleo es un tipo de informe de balance. Muestra los cambios en la demanda, la oferta y la producción; e influye previsiones para meses futuros.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Cada materia prima tiene su propio informe al que merece la pena echar un vistazo, por lo que debes familiarizarte con ellos antes de empezar a operar materias primas. La fecha de publicación suele ser un momento de gran aumento en la volatilidad, así que estate atento a cuándo se publiquen dichos informes.
        </p>
        <p class="education__content-blogTitle">Estacionalidad y tiempo.</p>
        <p class="education__content-blog">
          La estacionalidad es una parte importante del análisis fundamental de las materias primas. Mientras las divisas y los índices tienden a moverse aleatoriamente durante todo el año, las materias primas puede tener un movimiento específico en un momento específico del año.
          <br>
          <br>
          Algunas materias primas como el maíz y el trigo experimentan tendencias de precios que resultan de los ciclos de crecimiento anuales. Por ejemplo, los mercados tienden a empujar los precios hacia abajo durante el tiempo de cosecha porque la oferta es abundante y el riesgo a que el tiempo desconocido interfiera en la producción ha desaparecido. Y a la inversa, los precios del grano a menudo suben durante la época de plantado y crecimiento ya que se especula con el precio durante la época de riesgo máximo con el tiempo. Otras divisas como el petróleo, el gas natural o los metales preciosos no tienen ciclos de producción predefinidos basados en épocas, pero los consumos de dichos productos sí. Por ejemplo, los precios del petróleo a menudo suben en primavera en previsión de una estación veraniega movida, y el gas natural cae de golpe en otoño cuando los proveedores de energía la almacenan para los meses de invierto.
          <br>
          <br>
          Echemos un vistazo a un ejemplo específico. A finales de enero a menudo comienza el recorrido alcista en granos como el maiz y la soja. En el caso de la soja, la temporalidad se extiende a menudo hacia los primeros meses del verano. Por otro lado, el maiz a menudo se relaja en marzo. La fuerza del grano normalmente es el resultado de un riesgo extra del mercado con la incertidumbre respecto a la época de cultivo. Muchas cosas pueden ir mal durante la plantación, y los traders saben que una llamada alcista en el grano puede ser la operación del año en caso de que la época de siembra no acompañe a las expectativas. En el gráfico inferior se puede ver el desarrollo mensual del trigo de los últimos 5 años.
        </p>
        <div class="twelve columns">
          <%= image_tag("graph-1.png", class: "education__content-imgCover") %>
          <p class="education__content-sourcePhoto">Fuente: Bloomberg</p>
        </div>
        <p class="education__content-blog">
          Esto nos lleva a otro factor que merece la pena observar. El tiempo, como se ha indicado antes, también puede desempeñar un papel importante en el mercado de materias primas. Cuanto más frío hace, más caro es el gas natural. Es más. el frío puede dañar los cultivos, lo que podría mandar el precio por las nubes del maiz y otras materias primas de la agricultura. Por lo que no es únicamente la estacionalidad en sí misma lo que debe tenerse en cuenta, también hay que contar con el tiempo.
          <br>
          <br>
          Así, que, ¿existe un patrón regular que se deba aplicar al mercado de las materias primas cuando hablamos de estacionalidad? No exactamente. La temporalidad es únicamente una herramienta que indica qué mercados han funcionado mejor en el pasado, pero no dictaminan necesariamente lo que ocurrirá este año, ni la historia garantiza que se vaya a repetir con respecto al futuro. Dicho esto, es probable que la historia se repita y que pueda tener sentido consultar los patrones de estacionalidad antes de hacer nada.
        </p>
        <p class="education__content-blogTitle">Un mercado apasionante.</p>
        <p class="education__content-blog">
          El mercado de materias primas es ligeramente diferente al resto de mercado. Los aspectos fundamentales son los más importantes, pero el análisis técnico también puede tener un papel pricipal. Sin embargo, mientras opera materias primas un trader tiene que tener en cuenta varios factores, incluyendo el tiempo y la estacionalidad. Es más, también se debe recordar que cada materia prima se rige por sus propias normas. Esto quiere decir que algo que funciona en el mercado del petróleo podría ser inútil a la hora de aplicarlo al trigo u otra materia prima de la agricultura. Después de todo se debe decir una cosa - el mercado de materias primas es uno de los más apasionantes en los que invertir.
        </p>
      </div>
    </div>
  </div>
</div>
