<% content_for :page_title, 'Finapp - Sentimiento de mercado' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Sentimiento de mercado</h3>
          <p class="education__content-description">Por qué el sentimiento de mercado juega un papel tan importante en el trading.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("academy-sentimiento_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Aunque los precios de los activos dependen mayormente de factores técnicos y fundamentales, también puedes verse afectados por el sentimiento del mercado. De hecho, los mercados son generalmente modificados por las emociones y estos sentimientos se pueden ver reflejados en el precio.
          <br>
          <br>
          Por ejemplo, el mercado reaccionó con nerviosismo a la investidura de Donald Trump en los EEUU de 2016. Mientras que la mayoría de las encuestas predecían una victoria de Hillary Clinton, los mercados entraron en un estado de shock cuando Trump resultó ganador. La reacción llevó a una venta generalizada el dólar e índices americanos, pero rápidamente a medida que los nervios se iban calmando, los traders empezaron a comprar el billete verde y acciones. Por que? Por que la política de Trump era vista como positiva para la economía americana. Sin embargo, la primera reacción fué producida principalmente por el sentimiento y no por factores fundamentales sólidos. Por esto es importante tener en cuenta el sentimiendo del mercado mientras operamos y saber que indicadores pueden ayudarnos en esta tarea.
        </p>
        <p class="education__content-blogTitle">¿Qué es exactamente el sentimiento del mercado?</p>
        <p class="education__content-blog">
          El sentimiento de mercado podría ser difinido como el consenso de la actitud de los inversores hacia un determinado activo o a el mercado en su conjunto. Es una sensación o sentimiento de mercado, o su psicología, que es revelada a través del movimiento del precio. Es importante recordar que el sentimiento no siempre se basa en fundamentales. Eso significa que los inversores podrían tener una visión particular basada en lo que sienten y no en lo que ven. “Compra el rumor, vende con la noticia”.
          <br>
          <br>
          El sentimiento puede ser clasificado como alcista, bajista o neutral. Cuando el sentimiento bajista prevalece los activos caen. Por otro lado, una visión alcista es positiva y apoya la compra de los diferentes activos.
        </p>
        <p class="education__content-blogTitle">¿Cómo se mide?</p>
        <p class="education__content-blog">
          Esta es la parte complicada. ¿ómo mides algo que está conectada directamente con la psicología humana? En los mercados financieros, todo el mundo tiene su propia opinión, y todo el mundo está buscando algo en que basarse. Sin embargo, hay diversos indicadores basados en encuestras que son realizados por los partícipes del mercado. Aquí mostramos algunos de ellos:
          <br>
          <ul class="education__content-ulist">
            <li><b>AAII Bull and Bear</b> – El estudio “AAII investor sentiment” es pobablemente el más popular que se realiza en Wall Street. Es realizado por los miembros de la AAII los cuales responden a la misma simple pregunta todas las semanas. Los resultados son recopilados en estos estudios los cuales ofrecen información del sentimiento de los inversores particulares. Se ha convertido en una estudio ampliamente reconocido para obtener una idea de la posible inclinación de los inversores. Las encuestas semanales son publicados en páginas como Bloomberg y son ampliamente seguido por los partícipes del mercado.</li>
            <li><b>CNN Fear and Greed index</b> – El Fear and Greed index tiene una construcción diferente. No es un estudio entre los inversores si no que toma en cuenta diferentes variables como aquellas que se refieren al sentimiento del mercado como el índice VIX de volatilidad. Los resultados se muestran en una escala de 0 a 100. Cuanto más alta se la lectura, más agresivos están siendo los inversores. El nivel 50 se entiende como neutral.</li>
            <li><b>Sentimiento de mercado de XTB</b> – El sentimiento de mercado se puede comprobar también en la plataforma xStation 5, nuestra plataforma más avanzada. Todo lo que tienes que hacer es iniciar sesión y buscar la sección de Análisis de Mercado.</li>
          </ul>
        </p>
        <p class="education__content-blogTitle">¿Qué factores influencian el valor del Bitcoin?</p>
        <p class="education__content-blog">
          ¿Qué ocurrirá cuando ya no haya más bitcoins y no haya más necesidad de extracción? ¿Por qué los mineros gastarían su potencia de computación en mantenimiento? Ya en este momento algunas de las recompensas para los mineros son costes de transacciones, lo que en el futuro serán para beneficio total del minero. ¿Pero cubrirá éste todos los gastos de excavación y serán suficientes beneficios para ellos?
          <br>
          <br>
          La primera cuestión, y factor más importante - el coste de los excavadores, depende de los siguientes factores:
          <br>
          <ul class="education__content-ulist">
            <li>Coste de energía y fuentes de energía utilizadas (precio de la electricidad, fuentes de energía renovable, etc).</li>
            <li>Desarrollo de nuevas tecnología de computación (reducción del consumo actual).</li>
            <li>Aumento de la demanda de potencia de computación.</li>
          </ul>
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-sentimiento_graph.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Hay otros indicadores referencia pero estos tres son actualizados regularmente y los más populares entre los inversores.
        </p>
        <p class="education__content-blogTitle">Posicionamiento – Otra aproximación al mercado</p>
        <p class="education__content-blog">
          El posicionamiento puede ser otro indicador del sentimiento del mercado. Mientras que los estudios sobre el sentimiento muestran la predispoción del mercado, el posicionamiento hace lo mismo pero tomando como referencia las posiciones abiertas. De esta forma el sesgo alcista o bajista puede verse en términos de posiciones de compra o de venta en un específico activo. Por ejemplo, si un informe muestra un incremento significativo de posiciones largas en el US dollar, significa que la perspectiva del mercado sobre la divisa es alcista.
          <br>
          <br>
          Los informes más populares e importantes son los ofrecidos por CFCT. Facilitan un onforme del interés abierto en los mercados sobre 20 o más inversores que mantienen posiciones en el mercado iguales o superiores al valor de referencia establecidos por el CFTC. En esencia muestran la posición neta de posiciones largas o cortas disponible por cada contrato de futuro disponible, distinguiendo entre diferentes tipos de inversiores. El impacto más importante es el realizado por traders que buscan la mera especulación ya que son los que más alteran el precio.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-sentimiento_graph-2.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Veamos como funciona con un ejemplo. Si miramos el gráfico de arriba, como podéis ver, la línea morada muestra la posición neta especulativa en el OIL. Esto significa que muestra la diferencia entre posiciones largas y cortas ya abiertas del activo. Cuanto mayor sea, más claro es el sentimiento del mercado en esa dirección. En este caso vemos que la medida es relativamente alta por lo que nos da una idea alcista del mercado y que si analizamos a día de hoy veremos que así fué.
        </p>
        <p class="education__content-blogTitle">Como usarlo en la práctica:</p>
        <p class="education__content-blog">
          Ahora ya sabemos que es el sentimiento del mercado y como puede merdirse. También sabéis como analizar los datos del CFTC y otras instituciones con informes similares. Sin emgargo, falta decir como usar esta información en la práctica. Como sabemos, si el mercado es alcista se espera que los índices o las divisas se disparen. En esta situación el posicionamiento debería mostrar una posición neta amplia de posiciones largas. Esto quiere decir que si algo inesperado ocurriera los inversores tendrían que cerrar rápidamente toda sus posiciones lo cual llevaría a una rápida caída del precio. Como podemos ver, una situación de este tipo ocurrió en 2015 con el US Dollar. El mercado estaba comprado de dolar y la posición neta de compras estaba en máximos.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-sentimiento_graph-3.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          La FED sin embargo, decidió en su reunión no enviar una mensaje agresigo lo que forzó a los traders a cerrar sus posiciones de compra en el dólar. Esto dió resultado a una dramática caída  que envió el EURUSD desde los 1,05 hasta los 1,10 en menos de 3 horas, como se muestra en el gráfico de abajo.
        </p>
        <div class="twelve columns">
          <%= image_tag("academy-sentimiento_graph-4.png", class: "education__content-imgCover") %>
        </div>
        <p class="education__content-blog">
          Además, los datos sobre el sentimiendo pueden ser usados también para determinar si hay potencial en los movimientos recientes para continuar. Por ejemplo, si vemos una fuerta tendencia alcista pero el sentimiento permanece extremadamente alcista y el posicionamiento es alcista, podría signiticar que no hay mucho más potencial de crecimiento. Si todo el mundo está comprado ¿Quién queda para realizar nuevas compras?
        </p>
        <p class="education__content-blogTitle">No es oro todo lo que reluce</p>
        <p class="education__content-blog">
          Como hemos mostrado, el sentimiendo del mercado es una herramienta útil para analizar el mercado. Puede funcionar también usarse como un indicador de cambio de tendencia pero como hemos dicho puede indicar si queda gasolina para continuar un movimiento.
          <br>
          <br>
          Sin embargo, debemos recordar una cosa, el sentimiento y el posicionamiento son indicadores retardados. Esto significa que generalmente veremos algún cambio en esos indicadores depués de un movimiento y no antes. Por eso debe ser una herramienta adicional y no usada como única referencia. 
        </p>
      </div>
    </div>
  </div>
</div>
