<% content_for :page_title, 'Finapp - Cuando Hacienda no cumple' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Cuando Hacienda no cumple</h3>
          <p class="education__content-description">La autoridad cuenta con muchos elementos para hacer que las personas paguen de manera correcta sus impuestos. Desafortunadamente los ciudadanos contamos con pocas herramientas para defendernos cuando Hacienda no cumple.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("impuestos-1_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Soy una persona que tiene cultura fiscal y creo que en México es importante que todos declaremos y paguemos a tiempo nuestros impuestos. Pero también pienso que la autoridad debe cumplir sus obligaciones. La autoridad cuenta con muchos elementos para hacer que las personas paguen de manera correcta sus impuestos. Desafortunadamente los ciudadanos contamos con pocas herramientas para defendernos cuando Hacienda no cumple.
        </p>
        <p class="education__content-blogTitle">Hacienda no cumple trabas</p>
        <p class="education__content-blog">
          En este espacio he hablado previamente de mis experiencias. En cada uno de los últimos cinco años he tenido problemas para recibir en tiempo y forma el saldo a favor que me corresponde después de ser siempre de los primeros en presentar mi declaración. El año pasado fue el único que recibí una devolución a través del programa de devoluciones automáticas, pero fue parcial. La autoridad me requirió enviar uno de mis comprobantes de deducciones personales, de un hospital. Por cierto: ya era una factura electrónica por lo cual el SAT debería haberla validado automáticamente. Pero fue un gasto importante- yo creo que por eso prefirieron no validarlo como deberían.
          <br>
          <br>
          Todos los demás años mi devolución fue rechazada por diferentes supuestos, los cuales ya he narrado en este post. Tuve que solicitar mis devoluciones por el proceso manual. Aunque al final recibí lo que por Ley me correspondía, no fue sino hasta después de tener que recorrer caminos largos y llenos de trabas, como también les he narrado aquí.
          <br>
          <br>
          Hacienda no cumple al principio – pero tarde o temprano tiene que hacerlo.
        </p>
        <p class="education__content-blogTitle">Hacienda no cumple con una plataforma inestable y obsoleta</p>
        <p class="education__content-blog">
          En 2014 el SAT ha estado tratando de hacer una campaña muy importante de imagen, con las palabras: “Declaras a tiempo… Hacienda te devuelve”. Sin embargo eso aplica para las personas que únicamente obtienen ingresos por salarios. Al ser contribuyentes prácticamente “cautivos”y dado que la mayoría no aprovecha la totalidad de los beneficios fiscales, recibieron devoluciones en cinco días hábiles posteriores a la presentación de su declaración.
          <br>
          <br>
          Para todos los demás el camino ha sido tortuoso. En este artículo que publiqué en El Economista di a conocer mi experiencia.
          <br>
          <br>
          Como expliqué las aplicaciones del SAT estuvieron fallando muchísimo en los primeros días. En mi caso particular tuve muchos problemas al hacer mi declaración en una Mac y la aplicación para cargar mi firma electrónica avanzada no funcionaba.
          <br>
          <br>
          Así que a la semana siguiente traté de hacerlo a través de mi computadora de la oficina – que corre Windows – el sistema tampoco estaba estable. Como la declaración en línea sólo se guarda durante 3 días, se borró sin que la pudiera enviar y tuve que empezar de nuevo.
          <br>
          <br>
          Llené otra vez todos los campos y finalmente pude cargar mi firma electrónica avanzada, para posteriormente enviarla.
          <br>
          <br>
          Misión cumplida… para después darme cuenta que Hacienda no cumple. En parte porque su plataforma es obsoleta e inestable, razón por la cual me rechazaron mi devolución, como explico más adelante.
        </p>
        <p class="education__content-blogTitle">Hacienda no cumple con un proceso de devoluciones automáticas mucho peor</p>
        <p class="education__content-blog">
          Salvo el caso de los asalariados, el proceso de devoluciones automáticas ya no lo es tanto y la autoridad ahora se toma un tiempo mucho mayor para procesar las devoluciones de los saldos a favor.
          <br>
          <br>
          En el pasado uno podía estar recibiendo su depósito – o por lo menos su resolución – entre diez y quince días naturales posteriores a la presentación de su declaración (particularmente a los que declarábamos en los primeros días). Este año tomó 30 días hábiles y cuando uno preguntaba el SAT respondía que por Ley puede tomarse hasta 40 días hábiles. Es decir, en lugar de procesar las declaraciones de una manera más eficiente, ha sido lo contrario.
        </p>
        <p class="education__content-blogTitle">Hacienda no cumple cuando piensas que todo está bien - y no lo esta</p>
        <p class="education__content-blog">
          La semana pasada al revisar el status de mi devolución, resulta que está rechazada con el argumento de que mi declaración no iba firmada. Respuesta que me molesta de sobremanera porque me aseguré de que estuviera firmada, como ya expliqué antes y también, en su momento, en El Economista. Fue lo que más “lata” me dio al momento de enviarla.
          <br>
          <br>
          Lo peor es que me lo dicen casi mes y medio después de que presenté mi declaración. Eso es lo que no se vale. Si no iba firmada – o por error del propio SAT ellos no la recibieron como tal – eso lo podrían haber dicho desde el principio.
          <br>
          <br>
          Ahora a hacer una complementaria, firmarla y enviarla – para que la autoridad se tome otros 40 días hábiles en procesarla.
          Creo firmemente que el SAT debería ser el primero en cumplir – entonces pueden exigir a los contribuyentes que sean cumplidos.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2014). ¿POR QUÉ ES IMPORTANTE HACER UN PLAN DE NEGOCIOS? Recuperado de <a href="https://planeatusfinanzas.com/cuando-hacienda-no-cumple/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Impuestos", page_path('financiera/impuestos/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
