<% content_for :page_title, 'Finapp - Presentando tu declaración anual' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Presentando tu declaración anual</h3>
          <p class="education__content-description">¿Cómo presentar tu declaración anual?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("impuestos-2_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blogTitle">Paso 1 – Ten a la mano todos tus comprobantes</p>
        <p class="education__content-blog">
          Lo primero es tener a la mano tus comprobantes, tanto de ingresos como de aquellos gastos que puedes hacer deducibles.
          <br>
          <br>
          Tu patrón por Ley te debe otorgar una constancia de percepciones y retenciones, en donde se señala un resumen de los ingresos que te pagó durante el año, y los impuestos que te retuvo. Lo mismo si te pagan por honorarios.
          <br>
          <br>
          Por otro lado, es posible que el banco donde tienes tu cuenta o la entidad donde tienes tus inversiones, te hayan mandado también una constancia fiscal en donde te señalan los intereses nominales que te pagaron, los intereses reales así como los impuestos que te retuvieron.
          <br>
          <br>
          También tienes que tener a la mano tus constancias fiscales de todos aquellos gastos que son deducibles (mi post de ayer). Si tienes varios comprobantes de la misma persona (por ejemplo, fuiste varias veces en el año con un doctor y tienes varios recibos) súmalos. Lo que tendrás que incluir en tu declaración anual es: RFC de la persona o empresa que te dio el recibo o factura, y la cantidad total que pagaste (incluyendo IVA). Lo que yo hago es utilizar una hoja en Excel donde hago la suma, pero una libreta o incluso un post-it te puede servir igual.
        </p>
        <p class="education__content-blogTitle">Paso 2 – Portal del SAT – Elige la herramienta que vas a utilizar para presentar tu declaración anual.</p>
        <p class="education__content-blog">
          Como comenté en este post, antes no había ningún programa de cómputo y había que hacer todo a mano. Hoy existen dos alternativas: el DeclaraSAT que ya tiene algunos años, y la Declaración Automática. ¿Cuál es la diferencia y qué te recomiendo? Sigue leyendo.
          <br>
          <br>
          DeclaraSAT
          <br>
          Es un programa de cómputo (sólo funciona en Windows desafortunadamente) que simplifica en mucho el llenado de la declaración porque ofrece la opción del cálculo automático de impuestos. Entonces basta con alimentar la información de nuestros comprobantes tanto de ingresos como de gastos deducibles y listo: el sistema calcula todo y además genera el archivo con nuestra declaración para que lo subamos directamente en la página del SAT. Sin embargo, su interfaz podría ser mucho más amigable para el usuario. A mí me gusta presentar mi declaración anual utilizando el DeclaraSAT por una razón: tributo en diferentes regimenes fiscales (salarios, honorarios, intereses) y me resulta más fácil hacer el llenado en mi computadora. Pero si sólo tienes ingresos por salarios (con o sin intereses) quizá no sea la mejor alternativa.
          <br>
          <br>
          Declaración Automática
          <br>
          Es una aplicación similar al DeclaraSAT pero funciona totalmente en línea, y tiene una gran ventaja: ya vienen precargados los ingresos que recibiste y lo que te retuvo tu patrón. Por lo cual la mayoría de las personas sólo tienen que revisar que las cantidades coincidan con sus comprobantes, incluir sus gastos deducibles y listo – su declaración queda enviada desde esa aplicación. Es la opción más sencilla para personas que nunca han hecho su declaración anual o que no tienen una gran variedad de fuentes de ingresos.
        </p>
        <p class="education__content-blogTitle">Paso 3 – Llenar tus datos</p>
        <p class="education__content-blog">
          Como mencioné, en la Declaración Automática los datos relativos a nuestros ingresos ya están ahí, por lo que únicamente tenemos que revisarlos y hacer correcciones sólo en caso de que las cantidades no coincidan. Pero deben coincidir ya que el SAT obtiene esto de la información que presentó nuestro patrón en su propia declaración.
          <br>
          <br>
          Si tuvimos ingresos por intereses, pueden aparecer o no (depende mucho del caso), si no aparecen mi sugerencia es incluirlos ya que en la mayoría de los casos, el ISR provisional que las instituciones financieras nos retienen por Ley es mayor al que corresponde una vez que tomamos en cuenta los intereses reales – que es sobre los que se calcula el impuesto definitivo. Es sencillo: se incluyen las cantidades totales (interés nominal, interés real e ISR retenido) en una pantalla, y en la otra se llenan los datos de las empresas que nos retuvieron ese impuesto (RFC de la empresa, interés real pagado e ISR retenido).
          <br>
          <br>
          Posteriormente, hay una pestaña para las Deducciones Personales y otra para las Colegiaturas (está por separado): entramos a ellas y damos de alta la información que se nos pide – y que está en nuestros comprobantes.
          <br>
          <br>
          Para el caso de colegiaturas, tenemos que poner la CURP del beneficiario (nuestros hijos), el RFC de la escuela y la cantidad total pagada (tomando en cuenta el máximo que es deducible de acuerdo con la tabla incluida en mi post anterior). En los demás casos simplemente hay que señalar el tipo de gasto, el RFC de la persona o empresa a la que le pagamos, y la cantidad total pagada a esa persona u empresa durante el año.
        </p>
        <p class="education__content-blogTitle">Paso 4 – ¿Qué hacer si tienes dudas sobre algún dato?</p>
        <p class="education__content-blog">
          Si durante el llenado de tu información te surgiera alguna duda sobre algún dato o bien en general sobre cómo presentar tu declaración anual 2011 existen varias opciones que tienes a la mano:
          <br>
          <ul class="education__content-list">
            <li><b>Chat en línea -</b> esta es mi opción preferida ya que uno pregunta por escrito – y obtiene respuestas por escrito misma que puedes guardar en caso necesario. Toma en cuenta que el sistema se satura a medida que se acerca la fecha límite, por lo cual es posible que tengas que esperar un poco para un operador disponible. En mi experiencia la gente que te atiende da una buena orientación.</li>
            <li><b>InfoSAT -</b> es el mismo proceso pero vía telefónica – la diferencia es que tu respuesta no es escrita sino verbal. Pero suelen dar buena asesoría. El teléfono de InfoSAT es: 01 (800) 463- 6728 y el servicio está disponible de lunes a viernes de 9:00 a 18:00 horas y los sábados 14, 21 y 28 de abril de 9:00 a 14:00 horas.</li>
            <li><b>Canal de YouTube del SAT -</b> en donde hay varios videos paso a paso sobre el uso tanto del DeclaraSAT como de la Declaración Automática.</li>
            <li><b>Las Guías en PDF que prepara el SAT -</b> tanto las resumidas y detalladas sobre el procedimiento, también paso a paso.</li>
          </ul>
        </p>
        <p class="education__content-blogTitle">Paso 5 – Firmar y enviar nuestra declaración anual</p>
        <p class="education__content-blog">
          Es importante recordar que si tenemos un saldo a favor superior a 13,970 pesos debemos firmar nuestra declaración anual con firma electrónica avanzada, a fin de poder recibir la devolución correspondiente en la cuenta bancaria que especificamos antes de la firma y envío de la declaración anual 2011. En el caso de la declaración automática, la firma y el envío es dentro de dicha aplicación. En el caso del DeclaraSAT, también firmamos ahí mismo la declaración pero tenemos que generar el archivo para subirlo posteriormente a la página del SAT.
        </p>
        <p class="education__content-blogTitle">Paso 6 – Obtener el acuse de recibo</p>
        <p class="education__content-blog">
          Una vez que enviamos nuestra declaración anual 2011 el sistema nos proporciona un folio, el cual es importante conservar. Este no es el acuse de recibo oficial ya que el archivo enviado tiene que pasar por una validación, la cual dura algunos minutos. El acuse de recibo oficial y formal lo debemos recibir vía correo electrónico, unos cuantos minutos después. En dado caso, con el número de folio que anotamos, podemos consultar y obtener dicho acuse de recibo directamente de la página del SAT (usando la aplicación de Reimpresión de Acuses de Recibo).
        </p>
        <p class="education__content-blogTitle">Paso 7 – Esperar la devolución automática… o pagar si tuvimos saldo a cargo</p>
        <p class="education__content-blog">
          Si tuvimos saldo a favor entonces tenemos que estar pendientes de la devolución de nuestro saldo a favor. El SAT tiene una aplicación donde uno puede consultar el status: si fue aprobada o rechazada y en este caso, los motivos y acciones correctivas.
          <br>
          <br>
          Si tuvimos saldo a cargo, entonces tenemos que pagarlo de manera inmediata a la presentación de la declaración anual, en el portal de nuestro banco, también vía internet.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2012). ¿CÓMO PRESENTAR TU DECLARACIÓN ANUAL? Recuperado de <a href="https://planeatusfinanzas.com/como-presentar-tu-declaracion-anual-2011-guia-paso-a-paso/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Impuestos", page_path('financiera/impuestos/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
