<% content_for :page_title, 'Finapp - Impuestos' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <p class="education__header-subtitle">Mostrando lecciones de:</p>
      <h2 class="education__header-title">Impuestos</h2>
      <p class="education__header-subtitle-text">Los impuestos son los tributos más importantes, a través de los cuales, se obtiene la mayoría de los ingresos públicos. Con ellos, el Estado obtiene los recursos suficientes para llevar a cabo sus actuaciones, como, por ejemplo, la administración, infraestructuras o prestación de servicios.</p>
      <p class="education__header-subtitle"><span>6</span> lecciones</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 class="education__categoryResult-title">Artículos</h2>
      </div>
    </div>
    <section class="education__cardsGrid">
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/impuestos/cuando-hacienda-no-cumple')) do %>
            <%= image_tag("impuestos-1.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Cuando Hacienda no cumple</p>
          <p class="education__categoryResult-card-description">¿Qué hacer cuando cuando Hacienda no cumple?</p>
          <p class="education__categoryResult-card-theme">#Impuestos</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/impuestos/declaracion-anual')) do %>
            <%= image_tag("impuestos-2.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Presentando tu declaración anual</p>
          <p class="education__categoryResult-card-description">¿Cómo presentar tu declaración anual?</p>
          <p class="education__categoryResult-card-theme">#Impuestos</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/impuestos/saldos-a-favor')) do %>
            <%= image_tag("impuestos-3.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Devolución de saldos a favor</p>
          <p class="education__categoryResult-card-description">El SAT está obligado por Ley a devolver los saldos a favor, que sean legítimos.</p>
          <p class="education__categoryResult-card-theme">#Impuestos</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/impuestos/reforma-hacendaria-educacion')) do %>
            <%= image_tag("impuestos-4.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Reforma hacendaria: educación</p>
          <p class="education__categoryResult-card-description">El SAT está obligado por Ley a devolver los saldos a favor, que sean legítimos.</p>
          <p class="education__categoryResult-card-theme">#Impuestos</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/impuestos/reforma-hacendaria-vivienda')) do %>
            <%= image_tag("impuestos-5.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Reforma hacendaria: vivienda</p>
          <p class="education__categoryResult-card-description">La propuesta de Reforma Hacendaria también tiene un fuerte impacto en Vivienda.</p>
          <p class="education__categoryResult-card-theme">#Impuestos</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/impuestos/reforma-hacendaria-retiro')) do %>
            <%= image_tag("impuestos-6.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Reforma hacendaria: retiro</p>
          <p class="education__categoryResult-card-description">La propuesta limita los estímulos fiscales al ahorro para el retiro.</p>
          <p class="education__categoryResult-card-theme">#Impuestos</p>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render 'shared/footer' %>
