<% content_for :page_title, 'Finapp - Reforma hacendaria: vivienda' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Reforma hacendaria: vivienda</h3>
          <p class="education__content-description">La propuesta de Reforma Hacendaria también tiene un fuerte impacto en Vivienda.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("impuestos-5_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          La propuesta de Reforma Hacendaria también tiene un fuerte impacto en Vivienda. La propuesta del Gobierno considera lo siguiente:
          <br>
          <ul class="education__content-list">
            <li>1. Ahora las casas pagarán IVA – esto significa que de la noche la vivienda costará un 16% más.</li>
            <li>2. Los intereses de los créditos hipotecarios también pagarán IVA. Para la gente que acaba de comprar una vivienda o bien se encuentra en los primeros años de su crédito hipotecario, esto se traduce en un incremento inmediato en su mensualidad del 16%. Desde mi punto de vista, mucha gente no podrá soportar este aumento.</li>
            <li>3. Las rentas de bienes inmuebles (casas y departamentos destinados a vivienda) también pagarán IVA. Otro aumento inmediato del 16% para la gente que renta porque no ha podido comprar casa propia.</li>
            <li>4. Si uno vende su vivienda – y ésta vale más de 1.2 millones de pesos, tiene que pagar ISR por la ganancia o utilidad. Sin embargo, para determinar la utilidad se considera el valor de adquisición, actualizado, así como otros gastos. Pero no se consideran los intereses pagados en caso de que la propiedad haya sido adquirida mediante un crédito, lo cual es incongruente. Hasta la fecha estas operaciones son exentas para casas que no valgan más de 7 millones de pesos.</li>
            <li>5. Se limita la deducibilidad de intereses reales de créditos hipotecarios – el monto máximo del crédito que puede hacerse deducible se reduce a 250,000 UDIs, es decir poco más de 1,200,000 pesos. Lo cual significa que los créditos hipotecarios para vivienda media y residencial, dejarán de ser deducibles. Aún para las personas que ya cuentan con una hipoteca y que introdujeron el beneficio fiscal de deducibilidad como parte de su presupuesto. Yo lo hice, el saldo a favor que obtenía lo usaba para incrementar mi ahorro para el retiro. Ya no podré seguirlo haciendo, a menos que los diputados entren en razón.</li>
            <li>6. Adicionalmente, como ya vimos en el post anterior, se introduce un monto máximo para deducciones equivalente a 47,000 pesos. Por lo cual, aún si la gente pudiera seguir deduciendo los intereses reales de su crédito para vivienda, estarían sujetos a este tope.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Nuevamente hablaré del caso de Estados Unidos, por que al ser nuestro país vecino tengo mucho más conocimiento de su sistema impositivo que en otros países. En cuestión de vivienda, los intereses totales de los créditos hipotecarios son deducibles. No los intereses reales – como en México – sino la totalidad de lo que uno paga por ese concepto. Hay algunas limitaciones, pero son muy amplias – por lo cual el crédito a la vivienda es deducible.
          <br>
          <br>
          Por otro lado, si uno compra casas para poderlas rentar, la hipoteca se considera como un gasto deducible. Esto estimula la inversión en bienes raíces y también la formalidad: a la gente le conviene declarar sus ingresos por arrendamiento. En México esto no es así, por el contrario si uno quiere rentar una vivienda hipotecada, paga impuestos sobre la renta que recibe, pero no puede deducir el gasto, lo cual genera una pérdida al individuo. Estas son las incongruencias de nuestro sistema impositivo y por eso la gente que recibe ingresos por arrendamiento no los declara.
        </p>
        <p class="education__content-blogTitle">¿Qué impacto te representará la reforma hacendaria en tu gasto relativo a la vivienda?</p>

        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2013). LA REFORMA HACENDARIA: IMPACTO EN LA VIVIENDA. Recuperado de <a href="https://planeatusfinanzas.com/reforma-hacendaria-vivienda/"  target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Impuestos", page_path('financiera/impuestos/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
