<% content_for :page_title, 'Finapp - Reforma hacendaria: educación' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Reforma hacendaria: educación</h3>
          <p class="education__content-description">Las implicaciones principales sobre nuestras Finanzas Personales.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("impuestos-4_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Cuando el Gobierno Federal anunció su propuesta de Reforma Hacendaria, a primera vista me pareció que era sensible a todas las posiciones políticas, y congruente con nuestra realidad nacional.
          <br>
          <br>
          Sin embargo, ahora que la leí de una forma más detallada, veo que contiene aberraciones que son imperdonables, pero sobre todo, un impacto muy fuerte en la economía de las personas, principalmente aquellas de clase media.
          <br>
          <br>
          Eso es quizá lo que más me molesta: la clase media es clave para que la economía pueda crecer. Se necesita fortalecerla, engrosarla (que gente pobre pueda progresar y convertirse en clase media). Pero en México, una vez más, queremos hacer lo contrario.
        </p>
        <p class="education__content-blogTitle">Propuesta de reforma hacendaria</p>
        <p class="education__content-blog">
          La propuesta de Reforma Hacendaria tiene, desde mi punto de vista, cuatro implicaciones principales sobre nuestras Finanzas Personales:
          <br>
          <ul class="education__content-list">
            <li>Incrementa de manera muy fuerte el costo de la educación (colegiaturas).</li>
            <li>Limita fuertemente los estímulos fiscales al ahorro para el retiro.</li>
            <li>Encarece los servicios de salud.</li>
            <li>Genera un incremento en el costo de los servicios financieros (léase aumento en las tasas de interés de tarjetas de crédito, préstamos personales y de nómina).</li>
          </ul>
        </p>
        <p class="education__content-blogTitle">La reforma hacendaria y el costo de la educación</p>
        <p class="education__content-blog">
          En muchos países desarrollados, como Estados Unidos o Europa, la gran mayoría de las personas de todas las clases sociales envían a sus hijos a escuelas públicas. En este sentido, la educación no representa un costo para las familias: es verdaderamente universal y gratuita.
          <br>
          <br>
          Sin embargo, en nuestro país, la calidad educativa en las escuelas públicas – con algunas excepciones desde luego – deja muchísimo que desear. Esto es una realidad y es muy lamentable y es una de las muchas injusticias que tiene nuestro querido México.
          <br>
          <br>
          Por ese motivo, muchas familias (incluso de clase media-baja) hacen un esfuerzo de verdad extraordinario para enviar a sus hijos a colegios privados, con el fin de que ellos puedan tener una mejor educación, y de esta manera, mejores oportunidades en la vida.
          <br>
          <br>
          Para estas familias, la Reforma Hacendaria tiene un impacto muy significativo, ya que existe un doble efecto:
          <br>
          1. Las colegiaturas pagarán IVA – esto se traduce en un incremento inmediato del 16% en el costo de la educación.
          <br>
          2. Pero además, ya no se puede deducir una parte de las colegiaturas como hasta la fecha.
          <br>
          <br>
          Ese doble efecto puede representar un incremento en costos educativos mayor al 20% en total. Costo que, como ya mencionamos, las familias tienen este gasto porque el Estado es incapaz de brindar una educación con una calidad aceptable – una de las muchas injusticias de nuestro país que lleva al debilitamiento de la clase media.
          <br>
          <br>
          Se pueden argumentar muchas cosas, si es justo o es injusto, pero en realidad las colegiaturas no tendrían por qué no pagar IVA – como cualquier otro producto o servicio. Es la naturaleza del impuesto y la gente de verdad pobre, no realiza este gasto.
          <br>
          <br>
          El problema de fondo es que la manera como se implementa, a pesar de todas las justificaciones (que si leen la iniciativa de Ley, son muy “por encimita”), genera un impacto muy fuerte a las clases medias – a aquellos que hoy en día ya están ahorcados porque se endeudan con tal de que sus hijos sigan en un colegio privado.
          De golpe y porrazo, como se dice popularmente, el IVA significa un impacto directo al bolsillo del 16%. Pero además, al quitar la posibilidad de deducirlas, el golpe es todavía mayor.
        </p>
        <p class="education__content-blogTitle">Algunas alternativas</p>
        <p class="education__content-blog">
          En las escuelas, desafortunadamente, se evaden muchos impuestos. Al ser instituciones educativas, muchas de ellas constituidas como sociedades civiles sin fines de lucro, no están sujetas a las mismas reglas que otro tipo de empresas. Algunas tienen “patronatos” y manejan cierto tipo de cuotas como “donativos” por los cuales no pagan impuestos. Aunque parte de esto se modifica en la propuesta de Ley, hay muchas prácticas incorrectas.
          <br>
          <br>
          En algunas escuelas, por ejemplo, se cobra una cuota adicional a la inscripción cada año, para cubrir costos como excursiones o materiales provistos por la escuela para el año escolar. Este monto se pide en efectivo o en cheque al portador, y se dan recibos diferentes (de los que se compran en la papelería). Para efectos prácticos, es dinero que nunca entra a la cuenta de la escuela y por el cual – podría apostarlo – no se paga impuestos.
          <br>
          <br>
          Las escuelas también piden cuotas por otros conceptos: credenciales de los niños, para fotos y hasta para vacunas. Es increíble que en las circulares, se atrevan a poner por escrito – evidente – formas de evasión fiscal. Por ejemplo, que digan: “Si quiere factura deberá pagar adicionalmente, 16% de IVA”. Es decir, si no pido factura yo me ahorro el IVA y ellos se ahorran pagar impuestos por el ingreso no facturado.
          <br>
          <br>
          En fin, sí pienso que las escuelas deben pagar IVA, pero también creo que el cambio debería ser progresivo. Eliminar la deducibilidad al mismo tiempo me parece poco sensible y sensato.
          <br>
          <br>
          Incluso, se podría haber analizado hacer lo contrario: a cambio del IVA podría haberse incrementado un poco la deducibilidad para incluir en ella inscripciones y cuotas adicionales. De todas maneras tiene un tope y el costo fiscal de la deducibilidad – según el Gobierno de Calderón cuando éste lo presentó – era muy marginal.
          <br>
          <br>
          De esta manera el efecto en el bolsillo de la gente se habría amortiguado, y la autoridad contaría con muchas mayores herramientas de fiscalización para frenar la evasión en estas instituciones.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2013). LA REFORMA HACENDARIA: IMPACTO EN LA EDUCACIÓN. Recuperado de <a href="https://planeatusfinanzas.com/reforma-hacendaria-impacto-educacion/"  target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Impuestos", page_path('financiera/impuestos/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
