<% content_for :page_title, 'Finapp - Reforma hacendaria: retiro' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Reforma hacendaria: retiro</h3>
          <p class="education__content-description">La propuesta de Reforma Hacendaria presentada, limita de manera muy importante los estímulos fiscales al ahorro para el retiro.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("impuestos-6_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          La propuesta de Reforma Hacendaria presentada, limita de manera muy importante los estímulos fiscales al ahorro para el retiro.
          <br>
          <br>
          México es un país con una muy escasa cultura de previsión, y un sistema de pensiones y jubilaciones basado en aportaciones cuyo monto es insuficiente para lograr una pensión digna. Está demostrado que las personas que ganan más de cuatro salarios mínimos al mes, no recibirán una pensión que se compare con su último sueldo.
          <br>
          <br>
          Por otro lado, a medida que el ingreso se incrementa, el escenario empeora. Las contribuciones a las Afores tienen un tope – un salario máximo – que es alrededor de 44,700 pesos mensuales. Por lo cual, las personas que tienen un salario mayor, tienen todavía más necesidad de ahorrar para su retiro de manera complementaria.
          <br>
          <br>
          El hecho de que la gente no tenga los recursos suficientes para vivir su vejez, se puede traducir en un problema social muy importante. De ahí la importancia de que el Gobierno Federal ofrezca estímulos fiscales al ahorro para el retiro.
          <br>
          Desde luego, este tipo de apoyos no son exclusivos de México. Están presentes en la gran mayoría de los esquemas fiscales de los distintos países.
          <br>
          <br>
          En Estados Unidos, por ejemplo, existen múltiples mecanismos que estimulan el ahorro para el retiro. Por ejemplo, son deducibles las aportaciones que las personas realizan a los planes 401(K) que ofrecen las empresas en donde trabajan. Pero también, de manera adicional, se pueden deducir las aportaciones a las cuentas tipo IRA (Individual Retirement Account) – las cuales son equivalentes, de alguna manera, a los Planes Personales de Retiro que existen en nuestro país.
          <br>
          <br>
          Pero allá, siendo un país mucho más evolucionado en su sistema tributario, hay otra alternativa: Roth IRA – cuentas de ahorro para el retiro en las cuales aunque no se deducen las aportaciones, los rendimientos son exentos de impuestos (ni siquiera se cobran impuestos por ganancias de capital en la Bolsa). Al final del periodo, el dinero acumulado en ellas es totalmente libre de impuestos (debido a que las aportaciones no fueron deducibles).
          <br>
          <br>
          Claro: en ambos casos hay un monto máximo que se puede aportar, pero este monto es independiente de cualquier otro tope que pueda existir en el esquema impositivo de nuestro vecino país.
        </p>
        <p class="education__content-blog">
          En México parece que vamos para atrás como el cangrejo.
          <br>
          <br>
          En la propuesta de Reforma Hacendaria presentada, el ahorro para el retiro se trata de la siguiente manera:
          <br>
          1. Se mantiene el Plan Personal de Retiro y la Cuenta Especial de Ahorro. En el primer caso se establece que se puede deducir hasta el 10% del salario con un tope de 5 salarios mínimos anuales (aproximadamente 113,000 pesos). En el segundo se menciona que se puede deducir, de manera adicional, hasta 152,000 pesos al año. Estos son los mismos límites que aparecían en la Ley del ISR que se propone derogar. Por lo tanto, en total una persona hoy en día puede hacer deducible, como ahorro para el retiro, un total de 265,000 pesos al año.
          <br>
          2. No obstante, y esto es incongruente, se establece un tope máximo a las deducciones personales, equivalente a 2 salarios mínimos anuales. Es decir, alrededor de 47,000 pesos.
          <br>
          <br>
          Esto significa que el monto de ahorro para el retiro deducible se reduce más de un 80%. De 265,000 pesos hasta 47,000 pesos. Pero además, se gravan las ganancias de capital por inversiones en la Bolsa Mexicana de Valores – sin que se especifique en la iniciativa si este impuesto aplicará en planes personales de retiro, o cuál será su tratamiento.
          <br>
          <br>
          Pero además, el tope de 47,000 pesos considera todos los demás gastos deducibles. Por lo cual si uno enfrenta una emergencia médica, o deduce las colegiaturas de sus hijos y los intereses de su crédito hipotecario (el cual también se limita, hablaremos de esto mañana) entonces seguramente se agotará el tope máximo.
          <br>
          <br>
          En ese caso, el ahorro para el retiro deja, efectivamente, de ser deducible para una persona de clase media.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2013). LA REFORMA HACENDARIA: AHORRO PARA EL RETIRO. Recuperado de <a href="https://planeatusfinanzas.com/reforma-hacendaria-ahorro-para-el-retiro/"  target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Impuestos", page_path('financiera/impuestos/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
