<% content_for :page_title, 'Finapp - Devolución de saldos a favor' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Devolución de saldos a favor</h3>
          <p class="education__content-description">El SAT está obligado por Ley a devolver los saldos a favor, que sean legítimos.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("impuestos-3_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Como les comenté en el post anterior, el SAT no me ha devuelto mi saldo a favor de los ejercicios 2005, 2006, 2009 y también me rechazó el correspondiente a la Declaración Anual de 2010. En todos los casos, la solución es pedir la devolución de impuestos por la vía manual.
          <br>
          <br>
          Confieso que por varias razones no las había solicitado todavía (uno tiene cinco años para hacerlo).
          <br>
          <br>
          Antes para hacerlo, había que llenar un “Formato 32”, ir a las oficinas del SAT (forzosamente en la Administración Local de Recaudación que corresponde al domicilio fiscal) junto con original y copia de todos los documentos.
          <br>
          <br>
          En esa sesión el personal del SAT revisaba los documentos, y si faltaba algo (lo cual es muy probable) simplemente no recibían la solicitud. Uno tenía que volver a ir. En fin: era un trámite bastante tedioso.
          <br>
          <br>
          Recientemente el SAT anunció, con “bombo y platillo”, que ahora las solicitudes manuales de devolución de impuestos se pueden pedir por Internet. El comunicado oficial lo encuentran aquí. Por lo que procedí a hacer mi solicitud de devolución manual para todos esos años.
          <br>
          <br>
          De acuerdo con el Código Fiscal de la Federación, el SAT tiene 40 días para procesar las solicitudes de devolución de impuestos. Además el saldo lo debe devolver actualizado con base a la inflación (INPC). Pero además la autoridad puede requerir información adicional dentro de los primeros 20 días hábiles. Y si lo hace, los días que transcurren entre que emiten el requerimiento y uno lo completa, no cuentan para el plazo total de 40 días.
          <br>
          <br>
          En fin: casi siempre realizan requerimientos de información adicional. La razón, de acuerdo con la señorita que me atendió (muy amable por cierto), es que utilizan las devoluciones manuales como un elemento para fiscalizar al contribuyente.
          <br>
          <br>
          Sin embargo, a pesar de que ya se puede hacer la solicitud de devolución de impuestos por internet, y que el SAT anuncia que “prácticamente todos los trámites se pueden hacer por esa vía”, en realidad no es así. Cuando llega un requerimiento, uno forzosamente tiene que acudir a llevar sus papeles en original y copia. NO se pueden enviar vía electrónica. Lo cual me parece ilógico, pero en fin.
          <br>
          <br>
          Lo que me pareció más irritante, es que en dos de los tres requerimientos que me llegaron, me solicitaron información que NO correspondía al ejercicio fiscal para el cual estaba solicitando la devolución de impuestos. ¿Pueden creerlo?
          <br>
          <br>
          Es importante reiterar que esto no es legal: el Código Fiscal de la Federación menciona que únicamente pueden pedir información relativa al ejercicio fiscal para el cual se solicita la devolución.
          <br>
          <br>
          En fin, como tenía los documentos que me pidieron, los llevé. La misma señorita que me los recibió se sorprendió: era un claro error. Habló con su supervisora, quien le pidió una copia de mis requerimientos para pasarlos al área de Auditoría. Pero me recibieron la información porque era la que solicitaron.
          <br>
          <br>
          Quiero aclarar que me costó mucho trabajo encontrar la cita para llevar mi documentación: siempre está lleno. Le pregunté a esta señorita si era relativo a la declaración anual, y me dijo que no: al ser de devoluciones y compensaciones, ellos no tienen nada que ver con la declaración. Me dice que así está siempre. De hecho me comentó: “le pidieron información que no corresponde seguramente por la carga de trabajo que tienen. Si no rechazaran tantas solicitudes de devolución, no pasaría eso”. Me advirtió que podrían hacerme un segundo requerimiento, ahora para solicitar los documentos correctos.
          <br>
          <br>
          Es importante recalcar que el SAT no puede requerirme información adicional. Un segundo requerimiento tiene que estar, por Ley, relacionado a la información que solicitaron en el primer requerimiento (aclarar alguna documentación o llevar algo complementario). No pueden pedir información nueva. Pero bueno, ya veré que hago si me llegan otros.
          <br>
          <br>
          Mientras esperé mi turno, platiqué unos minutos con otro señor que estaba sentado a mi lado. Se quejaba: “me traen dando vueltas y vueltas acá. Es la quinta vez que vengo, primero porque no traía los papeles completos y luego porque me pidieron otros documentos.” La hacen muy difícil.
          <br>
          <br>
          Y la verdad es que escuchar esto da coraje. El SAT está obligado por Ley a devolver los saldos a favor, que sean legítimos (obviamente). Pero creo que no es justo que a los contribuyentes cautivos, a los que cumplimos, nos tengan dando vueltas. El SAT anuncia que todo se ha simplificado, cuando en realidad no es así.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2011). El SAT y la devolución manual de saldos a favor. Recuperado de <a href="https://planeatusfinanzas.com/importante-hacer-plan-de-negocios/"  target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Impuestos", page_path('financiera/impuestos/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
