<% content_for :page_title, 'Finapp - Mi perfil' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= image_tag("sidebar-profile__icon.png", class: "dashboard__welcome-img") %>
          <span>
            Mi perfil
            <h3 class="dashboard__welcome-title">¡Hola <%= current_user.name %>!</h3>
          </span>

        </div>
        <div class="dashboard__intro">
          <h4 class="profile__intro-title">Información de la cuenta</h4>
          <div class="dashboard__intro-profile">

            <%= link_to "Editar información", edit_user_registration_path, class: 'button-min' %>

            <div class="dashboard__intro-profileOverview">
              <label class="login-form__label">Nombre</label>
              <label><%= current_user.name %></label>
              <br>
              <%= label(:user, :email, class: 'login-form__label') %>
              <label><%= current_user.email %></label>
              <br>
              <label class="login-form__label">Estado</label>
              <label><%= current_user.account? ? current_user.state : 'Cuenta básica' %></label>
              <br>
            </div>

            <% if current_user.account? && current_user.account.any_subscription? %>

              <label class="login-form__label">Suscripción</label>
              <label><%= @account.subscription_type %></label>
              <br>
              <label class="login-form__label">Último pago</label>
              <label><%= @account.last_payment_date %></label>
              <br>
              <label class="login-form__label">Fecha de vencimiento</label>
              <label><%= @account.expiration_date %></label>
              <br>

              <% else %>

              <%= link_to "¡Unete a Premium!", premium_main_path, class: "button-paypal paypal-big" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
