<% content_for :page_title, 'Finapp - Recuperar contraseña' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="login-form">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns login-form__card">
        <h2 class="login-form__title">¿Olvidaste tu contraseña?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, class: "login-form__label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form__input", placeholder: "johnny@mail.com" %>
          </div>

          <div class="actions">
            <%= f.submit "Reestablecer contraseña", class: "button-main" %>
          </div>
        <% end %>

        <%- if controller_name != 'sessions' %>
          <%= link_to "¿Ya tienes cuenta? Inicia sesión", new_session_path(resource_name), class: "login-form__btn-link" %><br />
        <% end -%>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
