<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @data_information.user_name %>,
    El cargo a la tarjeta con terminación <%= @data_information.card_last_digits %> a nombre de <%= @data_information.card_holder_name %> está en estado <%= @data_information.status %>
  </body>
</html>
