<%= form_tag payments_path, method: :post, id: "card-form" do %>
<div class="conekta-paymentForm conekta-paymentForm__divider">
  <h4 class="conekta-paymentForm__title">Pago con tarjeta de crédito/débito</h4>
  <select name="plan[name]" class="paypal__select conekta-paymentForm__select">
    <option value="Monthly">Mensual : $750.00 MXN</option>
    <option value="Yearly">Anual : $8,250.00 MXN</option>
  </select>
  <input type="hidden" value="conekta" name="source" />
  <span class="card-errors"></span>
  <div>
    <label>
      <span>Nombre completo</span>
      <input class="conekta-paymentForm__input" type="text" size="20" data-conekta="card[name]">
    </label>
  </div>
  <div>
    <label>
      <span>Numero de tarjeta <%= image_tag("cards-ck.svg", class: "conekta-paymentForm__icon") %> </span>
      <input class="conekta-paymentForm__input" type="text" size="20" data-conekta="card[number]">
    </label>
  </div>
  <div>
    <label>
      <span class="display-block">Fecha exp. (MM/YYYY)</span>
      <input class="conekta-paymentForm__input small-input" type="text" size="2" data-conekta="card[exp_month]">
      <input class="conekta-paymentForm__input small-input" type="text" size="4" data-conekta="card[exp_year]">
    </label>
  </div>
  <div>
    <label>
      <span class="display-block">CVC</span>
      <input class="conekta-paymentForm__input small-input" type="text" size="4" data-conekta="card[cvc]">
    </label>
  </div>
  <div>
    <label>
      <div class="display-inline">
        <span class="display-block">Teléfono</span>
        <input class="conekta-paymentForm__input medium-input" type="text" name="payment[telephone]" required>
      </div>
      <div class="display-inline">
        <span class="display-block">Cupón</span>
        <input class="conekta-paymentForm__input medium-input" type="text" name="coupon[code]" />
      </div>
    </label>
  </div>
  <button type="submit" class="button-min">Subscribirme</button>
</div>
<% end %>

<script>
 $(function () {
   Conekta.setPublicKey('<%= ENV['CONEKTA_PUBLIC_KEY'] %>');

   var conektaSuccessResponseHandler = function(token) {
     var $form = $("#card-form");
     $form.append($('<input type="hidden" name="payment[token]" id="conektaTokenId" />').val(token.id));
     console.log($form);
     $form.get(0).submit();
   };
   var conektaErrorResponseHandler = function(response) {
     var $form = $("#card-form");
     $form.find(".card-errors").text(response.message_to_purchaser);
     $form.find("button").prop("disabled", false);
   };

   $("#card-form").submit(function(event) {
     var $form = $(this);
     $form.find("button").prop("disabled", true);
     Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
     return false;
   });
 });
</script>
