<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <%= link_to(root_path) do %>
          <%= image_tag("logo-blue.svg", class: "footer__logo", :id => "navbarImage") %>
        <% end %>
        <p class="footer__text">© 2018 VanfinApp Tech</p>
        <p class="footer__text">Todos los derechos reservados.</p>
        <p class="footer__text">Creado por <a class="footer__link" href="http://www.vanfintec.com">Vanfintec</a>.</p>
        <div class="footer__social">
          <a href="https://www.facebook.com/culturafinapp/" target="_blank"><i class="fab fa-facebook footer__icon"></i></a>
          <a href="https://www.twitter.com/culturafinapp/" target="_blank"><i class="fab fa-twitter footer__icon"></i></a>
          <a href="https://www.instagram.com/culturafinapp/" target="_blank"><i class="fab fa-instagram footer__icon"></i></a>
          <a href="#"><i class="fab fa-linkedin footer__icon"></i></a>
        </div>
      </div>
      <div class="three columns">
        <p class="footer__title">Acerca de</p>
        <%= link_to "Educacion financiera", educacion_main_path, class: "footer__text" %>
        <%= link_to "Señales de inversión", senales_main_path, class: "footer__text" %>
        <%= link_to "Acerca de", root_path, class: "footer__text" %>
      </div>
      <div class="three columns">
        <p class="footer__title">Más información</p>
        <p class="footer__text">Términos y condiciones</p>
        <p class="footer__text">Aviso de privacidad</p>
        <%= link_to "Centro de ayuda", ayuda_main_path, class: "footer__text" %>
      </div>
    </div>
  </div>
</footer>
