<nav class="navbar navbar-edu">
  <div class="navbar__container">
    <div class="navbar__logo">
      <%= link_to(root_path) do %>
        <%= image_tag("logo-blue.svg", class: "navbar__logo-img") %>
      <% end %>
    </div>
    <div class="navbar-sign__menu">
      <%= link_to "Educacion", educacion_main_path, class: "navbar-sign__menu-link" %>
      <% if user_signed_in? %>
        <% if current_user.account? && current_user.account.any_subscription? %>
          <%= link_to "Dashboard", dashboard_index_path, class: "navbar-sign__menu-link" %>
          <% else %>
          <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
          <%= link_to "Perfil", profile_path, class: "navbar-sign__menu-link" %>
          <%= link_to "¡Únete a Premium!", premium_main_path, class: "navbar-sign__menu-link button-premiumNav" %>
        <% end %>
      <% else %>
      <%= link_to "Señales", senales_main_path, class: "navbar-sign__menu-link" %>
      <%= link_to "Crear cuenta", new_user_registration_path, class: "navbar-sign__menu-link button-min-alpha" %>
      <%= link_to "Inicia sesión", new_user_session_path, class: "navbar-sign__menu-link button-min-white"  %>
      <% end %>
    </div>
  </div>
</nav>
