<div class="conekta-paymentForm">
  <form action='<%= PaypalServiceBase::form_url %>' method="post" target="_top">
    <h4 class="conekta-paymentForm__title">Pago con Paypal</h4>
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="<%= PaypalServiceBase::HOSTED_BUTTON_ID %>">
    <input type="hidden" name="on0" value="">
    <select name="os0" class="paypal__select conekta-paymentForm__select display-block">
      <option value="Mensual">Mensual : $750.00 MXN</option>
      <option value="Anual">Anual : $8,250.00 MXN</option>
    </select>
    <div>
      <label>
        <span>Cupón</span>
        <input class="conekta-paymentForm__input" type="text" name="coupon[code]" />
      </label>
    </div>
    <input type="hidden" name="currency_code" value="<%= PaypalServiceBase::CURRENCY_CODE %>">
    <input type="hidden" name="custom" value="<%=user.id%>">
    <input type="submit" value="Subscribirme" name="submit" title="PayPal - The safer, easier way to pay online!" class="button-paypal">
    <%= image_tag("paypal-logo.png", class: "paypal-logo") %>
    <img alt="" border="0" src="https://www.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">
  </form>

</div>
