<div id='cssmenu'>
  <ul class="std-text">
    <li><%= link_to "Inicio", root_path, class: "navbar__menu-link" %></li>
    <li><%= link_to "Educacion", educacion_main_path, class: "navbar__menu-link" %></li>
    <li><%= link_to "Señales", senales_main_path, class: "navbar__menu-link" %></li>
    <% if user_signed_in? %>
    <% if current_user.account? && current_user.account.any_subscription? %>
      <li><%= link_to "Dashboard", dashboard_index_path, class: "navbar__menu-link" %></li>
      <% else %>
      <li><%= link_to "Perfil", profile_path, class: "navbar__menu-link" %></li>
    <% end %>
      <li><%= link_to "Cerrar sesión", destroy_user_session_path, class: "navbar__menu-link" %></li>
    <% else %>
      <li><%= link_to "Inicia sesión", new_user_session_path, class: "navbar__menu-link"  %></li>
    <% end %>
  </ul>
</div>
