<div class="s-layout__sidebar">
  <div class="s-sidebar__trigger" id="sidebar__trigger">
     <i class="fa fa-bars"></i>
     <%= image_tag("logo-icon-white.svg", class: "sidebar__logo-icon", :id => "navbarImage") %>
  </div>

  <nav class="s-sidebar__nav" id="sidebar__nav">

    <div class="sidebar__logo">
      <%= link_to(root_path) do %>
        <%= image_tag("logo-white.svg", class: "navbar__logo-img", :id => "navbarImage") %>
      <% end %>
    </div>

     <ul>
       <% if current_user.account? && current_user.account.any_subscription? %>
         <li>
           <%= link_to(dashboard_index_path, class: "sidebar__menu-listItem s-sidebar__nav-link") do %>
             <i><%= image_tag("sidebar-dash__icon.png", class: "sidebar__menu-img") %></i>
             <span>Dashboard</span>
           <% end %>
         </li>
         <li>
           <%= link_to(dashboard_educacion_path, class: "sidebar__menu-listItem s-sidebar__nav-link") do %>
              <i><%= image_tag("sidebar-edu__icon.png", class: "sidebar__menu-img") %></i>
              <span>Educación</span>
           <% end %>
         </li>
         <li>
           <%= link_to(dashboard_senales_path, class: "sidebar__menu-listItem s-sidebar__nav-link") do %>
             <i><%= image_tag("sidebar-sign__icon.png", class: "sidebar__menu-img") %></i>
             <span>Seguimiento de señales</span>
           <% end %>
         </li>
         <li>
           <%= link_to(dashboard_info_path, class: "sidebar__menu-listItem s-sidebar__nav-link") do %>
             <i><%= image_tag("sidebar-info__icon.png", class: "sidebar__menu-img") %></i>
             <span>Info. Fundamental</span>
           <% end %>
         </li>
       <% end %>
       <li>
         <%= link_to(profile_path, class: "sidebar__menu-listItem s-sidebar__nav-link") do %>
           <i><%= image_tag("sidebar-profile__icon.png", class: "sidebar__menu-img") %></i>
           <span>Mi perfil</span>
         <% end %>
       </li>
       <li>
         <%= link_to(destroy_user_session_path, class: "sidebar__menu-listItem s-sidebar__nav-link") do %>
           <i><%= image_tag("sidebar-logout__icon.png", class: "sidebar__menu-img") %></i>
           <span>Cerrar sesión</span>
         <% end %>
       </li>
     </ul>
  </nav>
</div>

<script type="text/javascript">
$( "div.s-sidebar__trigger" ).click(function() {
  $("#sidebar__nav").toggleClass( "sidebar__nav-extended" );
  $("#sidebar__trigger").toggleClass( "sidebar__trigger-extended" );
});
</script>
