<% content_for :page_title, 'Finapp - Protección' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <p class="education__header-subtitle">Mostrando lecciones de:</p>
      <h2 class="education__header-title">Protección</h2>
      <p class="education__header-subtitle-text">La impotancia de la protección financiera hoy en dia.</p>
      <p class="education__header-subtitle"><span>3</span> lecciones</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 class="education__categoryResult-title">Artículos</h2>
      </div>
    </div>
    <section class="education__cardsGrid">
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/proteccion/cobertura-seguro-gastosmedicos')) do %>
            <%= image_tag("proteccion-1.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">La cobertura ilimitada en el SGMM</p>
          <p class="education__categoryResult-card-description">¿Qué significa la cobertura ilimtada en los seguros?</p>
          <p class="education__categoryResult-card-theme">#Protección</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/proteccion/seguro-de-auto')) do %>
            <%= image_tag("proteccion-3.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">El seguro de tu auto</p>
          <p class="education__categoryResult-card-description">¿Qué debes tomar en cuenta para tu seguro de auto?</p>
          <p class="education__categoryResult-card-theme">#Protección</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/proteccion/beneficios-imss')) do %>
            <%= image_tag("proteccion-2.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Conoce los beneficios del IMSS</p>
          <p class="education__categoryResult-card-description">Acerca de los beneficios indispensables del IMSS y su importancia.</p>
          <p class="education__categoryResult-card-theme">#Protección</p>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render 'shared/footer' %>
