<% content_for :page_title, 'Finapp - Cambiando tu situación financiera' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Cambiando tu situación financiera</h3>
          <p class="education__content-description">Controla tus finanzas y que ellas no te controlen a ti.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-3_full.png", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Como muchas personas, hace 2 años me di cuenta que mis finanzas no tenían orden alguno y con trabajo terminaba la quincena por lo que decidí hacer un plan para pagar deudas, vivir y si alcanzaba, empezar a ahorrar un poquito (aún no sabía para qué pero al menos ya había dado el primer paso para sanar mis finanzas).
          <br>
          <br>
          Puse manos a la obra, y anoté mis ingresos y gastos por quincena, ya que lapsos más cortos me sería más fácil controlar; me ajusté a mi plan y poco a poco fui saliendo de deudas. Del dinero que iba teniendo de deudas saldadas, usaba 50% para las otras deudas y el otro 50% lo iba depositando en mi cuenta de ahorro que ya iba creciendo. Al cabo de un año ya había pagado mis deudas, excepto el crédito Infonavit, podía terminar la quincena cómodamente y ahorrar.
          <br>
          <br>
          Al cabo de ese año, mi cuenta de ahorros ya tenía una cantidad algo considerable así que me puse a leer todo lo que pude de finanzas personales, hasta la fecha lo hago, hice mi fondo de emergencias, abrí un fondo de inversión y metí un porcentaje en la bolsa.
          <br>
          <br>
          A principios de este año pensé que era momento de revisar mi plan inicial para hacer los ajustes necesarios. Decidí cambiar mi crédito hipotecario a un banco con lo cual bajé mi deuda $2000, los cuales traspaso mensualmente en un fondo de inversión que abrí para abonar anualmente al capital y pagar antes.
          <br>
          <br>
          También me di cuenta que en mi plan inicial, los gastos que tenía fijos se habían incrementado (la inflación me estaba saboteando el plan), incluyendo los servicios y gastos de despensa semanal, así que fui a otros supermercados para checar si podía gastar menos y cuál fue mi sorpresa que al pagar había gastado $600 menos (mismos que transferí directo a mi ahorro). Lo mismo fui haciendo con los demás gastos, tenía 2 servicios de internet y televisión y cancelé uno, pensando que de necesitarlo, lo volvía a contratar, hasta hoy no me hecho ninguna falta. Desde el viernes en la noche cenaba en la calle, por lo que cambié eso y mejor salgo a comprar lo que quiera desayunar, comer o cenar y lo traigo a casa, ahora sólo salgo 1 día y el gasto se ha reducido quizá un 30-40% semanal, eso lo voy transfiriendo a mi Afore.
          <br>
          <br>
          Estos últimos 6 meses me he dado cuenta que puedo ir a un centro comercial y no gastar a menos que sea algo que ya tenía anotado en mi lista de “próximas compras”. No me privo de comprar, comer o viajar; solamente que ahora lo hago con orden y siempre ajustándome a mi plan inicial, cuando veo que algún mes gasté más, reviso el por qué y busco cómo bajar un poco ese gasto. Tengo 2 tarjetas de crédito las cuales uso para cargar algunos servicios y pago puntualmente cada mes para no regalar mi dinero al banco.
          <br>
          <br>
          El camino ha sido largo, un constante aprendizaje y una gran disciplina, pero siempre ha habido personas que me han tendido la mano cuando tengo alguna duda o inquietud; sé que ha valido la pena porque veo que los ahorros crecen y las deudas casi desaparecen. ¿Que si es difícil? Claro que lo es, pero también es una satisfacción muy grande el que tu controles tu dinero y no al revés. Ánimo y adelante, todos podemos labrarnos un futuro tranquilo, la responsabilidad es de nosotros mismos.
        </p>
        <p class="education__content-source">
          Planea tus finanzas (20188). Sí puedes cambiar tu situación financiera. Recuperado de <a href="https://planeatusfinanzas.com/si-puedes-cambiar-situacion-financiera/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
