<% content_for :page_title, 'Finapp - Completa fondo de emergencia' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Completa fondo de emergencia</h3>
          <p class="education__content-description">No volver a tener que adquirir deudas nunca más.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-6_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Completa tu fondo de emergencias es el tercero de los 7 “pasos de bebé” de Dave Ramsey. ¿Cuál es la idea fundamental detrás de esto? No volver a tener que adquirir deudas nunca más.
          <br>
          <br>
          Debo reconocer que me asusto cada vez que las personas piensan que la tarjeta de crédito es, de hecho, para emergencias. Me parece un error muy grave: cuando uno tiene una urgencia real lo peor que puede hacer es endeudarse. Porque esto lo hace más grande. Recordemos que el uso del crédito no resuelve el problema, simplemente lo “patea para más adelante”.
          <br>
          <br>
          Recordemos que el primer “paso de bebé” fue crear un pequeño fondo de emergencias inicial. Porque la vida sucede y siempre hay cosas que pasan: se avería el auto, hay que reparar una tubería en la casa, o el niño se nos pone mal y hay que llevarlo al hospital de urgencia (aunque tengamos seguro, hay costos adicionales que debemos asumir, como el deducible y el coaseguro).
          <br>
          <br>
          Este pequeño colchón nos prepara para el segundo “paso de bebé”, que es central en la metodología de Ramsey: pagar todas nuestras deudas, excepto la casa. Salir de ellas pero para siempre, para no tener que volver nunca más a caer en un problema de este tipo y poder entonces enfocar todos nuestros esfuerzos en construir patrimonio.
          <br>
          <br>
          Cuando hemos terminado de pagar nuestros créditos de corto y mediano plazo, ya tenemos capacidad de ahorro. Ese mismo dinero que antes utilizábamos para liquidarlas, lo debemos dedicar a construir un fondo de emergencias completo y robusto.
        </p>
        <p class="education__content-blogTitle">¿De qué tamaño debe ser el fondo de emergencias?</p>
        <p class="education__content-blog">
          Ramsey no se aleja de la recomendación tradicional: entre 3 y 6 meses de nuestro gasto (enfatizo: no de lo que ganamos, pero sí de lo que gastamos cotidianamente en vivir: el pago de la renta o la hipoteca, la comida, la ropa, la tenencia, los seguros y todo lo demás que necesitamos para mantener nuestro nivel de vida).
          <br>
          <br>
          Como ya mencioné, el fondo para emergencias es necesario para proteger nuestro patrimonio, nuestras finanzas, nuestro camino a la libertad financiera de sorpresas desagradables que suceden. Esta cantidad de dinero nos servirá para lidiar contra lo inesperado, desde la pérdida de empleo o de nuestro negocio, hasta un daño fuerte en nuestro hogar.
          <br>
          <br>
          Lamentablemente, dice Ramsey, la mayoría de la gente no continúa después del “paso de bebé 2”. Se pierde el impulso, uno se siente feliz de verse libre de deudas y empieza de nuevo a caer en un patrón desenfrenado de consumo. Más temprano que tarde, las vuelven a adquirir. Es fundamental continuar el círculo virtuoso: crear este fondo para emergencias, este gran colchón que nos permitirá, en los siguientes pasos, crear patrimonio empezando por construir un retiro cómodo.
        </p>
        <p class="education__content-source">
           Lanzagorta, J. and Lanzagorta, J. (2018). Completa tu fondo de emergencia - Dave Ramsey - Paso 3 - Planea Tus Finanzas. Recuperado de <a href="https://planeatusfinanzas.com/crea-patrimonio-y-dona-paso-bebe-7/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
