<% content_for :page_title, 'Finapp - Construye fondo de educación' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Construye un fondo de educación para tus hijos</h3>
          <p class="education__content-description">Muchos padres quieren dar a sus hijos acceso a mayores oportunidades en la vida. Que les pueda ir mejor.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-8_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Construye el fondo de educación para tus hijos es el quinto de los 7 “pasos de bebé” de Dave Ramsey. Si uno se da cuenta todos los “pasos de bebé” van en orden de prioridad, de lo que debería ser. Uno debería dar prioridad a su ahorro para el retiro, antes que construir un fondo de educación para sus hijos, por muchas razones.
          <br>
          <br>
          Una de ellas que uno se va a retirar algún día, es decir, ahorrar para ese momento es una necesidad. En cambio los hijos no siempre van a la universidad y si lo hacen, existen muchas opciones para financiar ese gasto (hay muchos estudiantes que estudian y trabajan al mismo tiempo, obtienen becas o préstamos para terminar su carrera o van a universidades públicas – algunas de primer nivel). Si bien lo ideal es tener el efectivo en mano, no siempre se puede.
          <br>
          <br>
          Entonces, si vas a construir un fondo de educación para tus hijos, significa que estás siguiendo el paso de bebé 4 y estás invirtiendo para tu retiro por lo menos un 15% de tu salario (o más dependiendo de tu edad).
        </p>
        <p class="education__content-blogTitle">¿Por qué un fondo de educación?</p>
        <p class="education__content-blog">
          Muchos padres quieren dar a sus hijos acceso a mayores oportunidades en la vida. Que les pueda ir mejor. Eso es lógico, muchos creen que es su responsabilidad y por ello se convierte en una prioridad.
          <br>
          <br>
          Los costos de las universidades en todo el mundo están incrementando de manera importante, en todos los niveles. La colegiatura suele representar mucho dinero y muy pocos pueden pagarla. Por otro lado uno no quiere que sus hijos terminen la carrera con una deuda enorme a cuestas.
          <br>
          <br>
          En fin, hay muchas buenas razones por los cuales los padres quieren construir un fondo de educación para sus hijos. Lo que sí debo dejar claro es que NUNCA debemos hacerlo a costa de nuestro propio ahorro para el retiro, porque tampoco queremos convertirnos en una carga para ellos o para la sociedad.
        </p>
        <p class="education__content-blogTitle">¿Por qué un fondo de educación?</p>
        <p class="education__content-blog">
          Muchos padres quieren dar a sus hijos acceso a mayores oportunidades en la vida. Que les pueda ir mejor. Eso es lógico, muchos creen que es su responsabilidad y por ello se convierte en una prioridad.
          <br>
          <br>
          Los costos de las universidades en todo el mundo están incrementando de manera importante, en todos los niveles. La colegiatura suele representar mucho dinero y muy pocos pueden pagarla. Por otro lado uno no quiere que sus hijos terminen la carrera con una deuda enorme a cuestas.
          <br>
          <br>
          En fin, hay muchas buenas razones por los cuales los padres quieren construir un fondo de educación para sus hijos. Lo que sí debo dejar claro es que NUNCA debemos hacerlo a costa de nuestro propio ahorro para el retiro, porque tampoco queremos convertirnos en una carga para ellos o para la sociedad.
        </p>
        <p class="education__content-blogTitle">¿En dónde construir este fondo de educación?</p>
        <p class="education__content-blog">
          En Estados Unidos existen cuentas con beneficios fiscales para hacerlo. En otros países como México no, pero existen opciones, algunas rígidas y otras flexibles.
          <br>
          <br>
          Existen seguros educacionales que garantizan la suma asegurada contratada pase lo que pase. Algunos incluso pueden pagar doble: si el padre fallece hay una indemnización en ese momento y además el seguro continúa – sin más pago de primas – hasta el fin de su vigencia.
          <br>
          <br>
          Pero hay muchas otras opciones: siempre se puede construir un fondo en cualquier cuenta de inversión. Lo importante es construir un portafolio adecuado tomando en cuenta el horizonte de inversión (no es lo mismo iniciar cuando el pequeño nace y todavía quedan 18 – 19 años antes de que se necesite ese dinero, que empezar cuando el niño tiene 8 ó 10 años).
          <br>
          <br>
          ¿Qué productos debemos evitar? Aquellos de altísimo costo, como los “seguros de inversión” aunque ofrezcan “bonos de fidelidad” y otros ganchos que los hagan parecer atractivos, pero que realmente no lo son. ¿Cómo evitarlo? Como siempre, entendiendo perfectamente el producto y sus comisiones, antes de contratarlo.
        </p>
        <p class="education__content-source">
           Lanzagorta, J. and Lanzagorta, J. (2018). Construye el fondo de educación para tus hijos (Dave Ramsey - Paso de Bebé 5) - Planea Tus Finanzas. Recuperado de <a href="https://planeatusfinanzas.com/construye-fondo-de-educacion-paso-bebe-5/"  target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
