<% content_for :page_title, 'Finapp - Construye fondo de emergencia' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Construye un fondo de emergencia</h3>
          <p class="education__content-description">Construye un pequeño fondo de emergencias de manera muy rápida.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-7_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          El primero de los 7 “pasos de bebé” de Dave Ramsey es: construye un pequeño fondo de emergencias de manera muy rápida. Aún si estás muy endeudado.
          <br>
          <br>
          Esto puede parecer extraño, ¿Por qué guardar dinero para un pequeño fondo de emergencias, en lugar de usarlo para reducir deudas? ¿No es eso más importante, particularmente si estamos en una situación muy comprometida?
          <br>
          <br>
          No necesariamente, ya que en una situación así, uno está muy vulnerable ante cualquier imprevisto que pueda suceder. Algo tan simple como una fuga de agua en el hogar puede ser la diferencia entre poder seguir pagando – o no – nuestros compromisos (deudas) mensuales. La idea es, simplemente, construir un pequeño colchón para evitar que eso suceda.
          <br>
          <br>
          Para verlo de otra manera, si estamos con el agua hasta el cuello y sube tantito la marea, nos podemos ahogar. Este pequeño fondo de emergencias es como un pequeño tanque de oxígeno que nos permite sobrevivir. Por eso es tan importante.
          <br>
          <br>
          De hecho Ramsey le pone un monto. La versión original en inglés del primer “paso de bebé” lee así:  Ahorra $ 1,000 (dólares) para empezar un fondo de emergencias. Yo no lo he querido traducir de esta manera porque la realidad en México y otros países de habla hispana es distinta, además de que puede parecer un monto arbitrario o grande para muchas personas.
        </p>
        <p class="education__content-blogTitle">¿De cuánto debe ser este pequeño fondo de emergencias?</p>
        <p class="education__content-blog">
          Escojamos un número que pensemos que nos ayudaría a sobrellevar algún imprevisto. Pueden ser 5,000 pesos o más, dependiendo de nuestra posición socioeconómica. Una sugerencia, para los que tienen auto, es ver cuánto es el deducible de daños materiales de su seguro (estará en porcentaje, pero hay que traducirlo a pesos). Los que tienen seguro de gastos médicos, quizá deban considerar el deducible más una cantidad adicional por el coaseguro que eventualmente tendrían que asumir, en caso de una enfermedad que requiera hospitalización.
          <br>
          <br>
          Estas son sólo algunas sugerencias, te sugiero no quebrarte demasiado la cabeza con esto, simplemente elige un monto pequeño que piensas te sería suficiente para alguna situación imprevista no muy grave y enfócate.
        </p>
        <p class="education__content-blogTitle">Debemos construirlo rápidamente</p>
        <p class="education__content-blog">
          Es importante construir este pequeño fondo de emergencias de una manera muy rápida, incluso un mes. Puede parecer difícil si tu flujo de efectivo está muy apretado. En ese caso, piensa en alternativas, como por ejemplo:
          <br>
          <br>
          — Vender algunas cosas que no utilizas, por ejemplo un aparato de ejercicios que tengas en casa, algún reloj. Quizá también tu antiguo celular. Puedes organizar una venta de garage o utilizar páginas como Segundamano o Mercadolibre, entre otras.
          <br>
          <br>
          — Hacer una actividad adicional que te permita obtener ingresos, desde lavar autos el fin de semana, enseñar a otras personas a cocinar, o brindar algún tipo de servicio de consultoría fuera de tu trabajo normal.
          <br>
          <br>
          En fin estas son sólo unas cuantas sugerencias, hay muchísimas cosas que se te podrían ocurrir si abres un poco tu mente.
          <br>
          <br>
          Con este pequeño fondo de emergencias podrás sortear imprevistos sin que tengas que incurrir en una deuda adicional. Así podrás enfocarte en el segundo “paso de bebé” que es central en la metodología de Dave Ramsey.
        </p>
        <p class="education__content-source">
           Lanzagorta, J. and Lanzagorta, J. (2018). Construye un pequeño fondo de emergencias de manera rápida (Dave Ramsey - Paso de Bebé 1) - Planea Tus Finanzas. Recuperado de <a href="https://planeatusfinanzas.com/pequeno-fondo-de-emergencias-dave-ramsey-paso-1/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
