<% content_for :page_title, 'Finapp - Construye fondo de emergencia' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Crea patrimonio y dona</h3>
          <p class="education__content-description">Nos permite trascender y contribuir a la sociedad que nos ha dado tanto.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-6_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Hemos logrado muchas cosas: estamos totalmente libres de deudas. Nuestro ahorro para el retiro está encaminado y la educación de nuestros hijos asegurada. Tenemos un colchón para emergencias y en general una sensación de libertad y seguridad que no habíamos experimentado antes.
          <br>
          <br>
          El ya no tener que pagar hipoteca, que para muchas familias es un gasto que representa la tercera parte del ingreso familiar, nos permite tener dinero adicional para seguir construyendo esa vida que siempre habíamos soñado.  Para crear nuestro legado. Todo gracias a que durante algunos años creamos buenos hábitos financieros, tuvimos perseverancia. Un enfoque y disciplina a toda prueba, que nos permitió llegar hasta aquí.
          <br>
          <br>
          Ahora es nuestra responsabilidad continuar nuestro camino. Seguir estableciendo metas y planes que nos permitan alcanzarlas. Continuar bajo un presupuesto, porque eso nos ha dejado muchas cosas buenas.
        </p>
        <p class="education__content-blogTitle">Dona parte de lo que es tuyo</p>
        <p class="education__content-blog">
          Nos ha costado tanto trabajo llegar hasta aquí que puede parecer extraño que el último paso implique donar parte de lo que hemos construido. Sobre todo en nuestra cultura. Lo cierto es que hay muchos estudios que demuestran que dar parte de lo que tenemos a otras personas, ayudar, es algo que nos puede causar profunda felicidad.
          <br>
          <br>
          Cuando uno dona, uno se siente bien consigo mismo. Se genera un sentimiento de satisfacción, porque uno ayuda a gente que lo necesita. Cuando uno dona, se dan oportunidades para conocer otras personas que creen en las mismas causas que nos inspiran. El saber que estamos aportando, haciendo una contribución real para algo que nos importa, le da a nuestra vida un mayor significado. Cuando uno dona, le da un ejemplo de generosidad a sus hijos que les ayuda a ser mejores personas.
          <br>
          <br>
          Es importante mencionar que no se necesita dinero para donar: podemos también hacerlo con nuestro tiempo. De hecho, podemos empezar mucho antes y eso nos ayudará a cuidar más lo que estamos construyendo.
          <br>
          <br>
          En mi caso cada vez que escribo sé que ayudo a otras personas. Doy educación, cultura financiera, que les permite vivir una mejor vida. Por eso lo hago.
          <br>
          <br>
          Dona algo hoy, aunque sea un peso a alguna causa que te importa. Dona parte de tu tiempo libre.
        </p>
        <p class="education__content-source">
           Lanzagorta, J. and Lanzagorta, J. (2018). Crea patrimonio y dona (Dave Ramsey - Paso 7) - Planea Tus Finanzas. Recuperado de <a href="https://planeatusfinanzas.com/crea-patrimonio-y-dona-paso-bebe-7/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
