<% content_for :page_title, 'Finapp - Ahorro' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <p class="education__header-subtitle">Mostrando lecciones de:</p>
      <h2 class="education__header-title">Ahorro</h2>
      <p class="education__header-subtitle-text">Ahorrar es muy importante para cualquier persona, pues sirve para sortear dificultades económicas o materializar sueños sin necesidad de endeudarse. Hay muchas razones para realizar un ahorro, como comprar una casa, realizar un viaje, gozar de un buen retiro o simplemente atender los imprevistos.</p>
      <p class="education__header-subtitle"><span>9</span> lecciones</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 class="education__categoryResult-title">Artículos</h2>
      </div>
    </div>
    <section class="education__cardsGrid">
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/no-vivas-del-credito')) do %>
            <%= image_tag("ahorros-1.png", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">No vivas del crédito</p>
          <p class="education__categoryResult-card-description">La alternativa inteligente es más fácil de lo que crees.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/somos-tan-pobres-como-creemos')) do %>
            <%= image_tag("ahorros-2.png", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">¿Somos tan pobres como creemos?</p>
          <p class="education__categoryResult-card-description">¿Cuántas veces hemos escuchado a las personas decir que no les alcanza el dinero?</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/cambiando-tu-situacion-financiera')) do %>
            <%= image_tag("ahorros-3.png", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Cambiando tu situación financiera</p>
          <p class="education__categoryResult-card-description">Controla tus finanzas y que ellas no te controlen a ti.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/no-deudas-buen-fin')) do %>
            <%= image_tag("ahorros-4.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">No te endeudes en el buen fin</p>
          <p class="education__categoryResult-card-description">Cómo no caer en "el fin de semana más barato del año".</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/retiro-de-recursos-afore')) do %>
            <%= image_tag("ahorros-5.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Retiro de recursos en AFORE</p>
          <p class="education__categoryResult-card-description">Lo que necesitas saber acerca del retiro de recursos.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/crea-patrimonio')) do %>
            <%= image_tag("ahorros-6.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Crea patrimonio y dona</p>
          <p class="education__categoryResult-card-description">Trascender y contribuir a la sociedad que nos ha dado tanto.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/construye-fondo-emergencia')) do %>
            <%= image_tag("ahorros-7.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Construye un fondo de emergencia</p>
          <p class="education__categoryResult-card-description">Construye un pequeño fondo de emergencias de manera muy rápida.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/construye-fondo-educacion')) do %>
            <%= image_tag("ahorros-8.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Construye fondo de educación</p>
          <p class="education__categoryResult-card-description">Garantiza la educación de tus hijos, para un mejor futuro.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/ahorro/completa-fondo-emergencia')) do %>
            <%= image_tag("ahorros-9.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Completa fondo de emergencia</p>
          <p class="education__categoryResult-card-description">No volver a tener que adquirir deudas nunca más.</p>
          <p class="education__categoryResult-card-theme">#Ahorros</p>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render 'shared/footer' %>
