<% content_for :page_title, 'Finapp - No te endeudes en Buen Fin' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">No te endeudes en el buen fin</h3>
          <p class="education__content-description">No caigas en "el fin de semana más barato del año".</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-4_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          El Buen Fin se comercializa en México como “el fin de semana más barato del año” aunque desde mi punto de vista no necesariamente lo es. En pasadas ediciones me he dado cuenta que los descuentos son muy parecidos a los que se ofrecen en ventas nocturnas o de liquidación. Aunque muchas tiendas departamentales anuncien “hasta 50% de descuento” en realidad lo que tiene ese nivel de descuento es sólo mercancía muy seleccionada y que no se ha podido vender.
          <br>
          <br>
          En lugar de ello lo que sí abundan son facilidades de pago. Muchos meses sin intereses: 18, 24 o más (he visto hasta 48 en algunos casos). Esto significa que todavía hay personas que siguen pagando lo que compraron en El Buen Fin hace dos o tres años. ¿Te lo imaginas? Cuando compras a meses sin intereses estás comprometiendo tu flujo de efectivo (tus ingresos futuros), dinero que ya no vas a poder utilizar para otras cosas porque tienes que pagar lo que ya compraste.
          <br>
          <br>
          Pero además de manera psicológica son una invitación para endeudarnos de más. ¿Por qué? Simplemente porque las personas piensan en la mensualidad que van a tener que pagar para esa compra, pero no suman las demás compras, también a meses sin intereses, que hicieron ese día (o el día anterior). La sorpresa aparece cuando llega el estado de cuenta y también los problemas.
          <br>
          <br>
        </p>
        <p class="education__content-blog">
          Recordemos: no se trata de no gastar. Se trata de hacerlo de manera inteligente, es decir:
          <br>
          <ul class="education__content-ulist">
            <li>Comprar sólo cosas que verdaderamente necesitamos.</li>
            <li>Que tengan descuentos importantes (sean ofertas reales).</li>
            <li>Muy importante: que podamos pagar.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          De esta manera sacaremos todos los beneficios de El Buen Fin sin los problemas que puede acarrear también.
        </p>
        <p class="education__content-blogTitle">Algunas recomendaciones durante el buen fin</p>
        <p class="education__content-blog">
          1. Piensa bien lo que necesitas y vas a comprar.
          <br>
          <br>
          2. Revisa el precio con anticipación – puedes hacerlo fácilmente en el micrositio de El Buen Fin de la Profeco y utilizar la herramienta de ¿Quién es quién en los precios? Esto además te permitirá saber si hay un descuento real en lo que te están ofreciendo.
          <br>
          <br>
          3. Compara – por lo menos si vas a un centro comercial busca ese mismo producto en distintos lugares para asegurarte que estás aprovechando la mejor promoción.
          <br>
          <br>
          4. No te quedes viendo en el centro comercial otras cosas: sólo a lo que vas. Recuerda que somos humanos y la mercadotecnia es especialista en tentarnos.
          <br>
          <br>
          5. Acude el primer día de El Buen Fin nada más. No vayas los demás. ¿Por qué el primer día? Simplemente, si ves algo más que te gustó y sientes la necesidad de comprar por impulso, puedes detenerte. Siempre puedes volver (lo que no sucede si fuiste el último día). Regresa a tu casa, pensarlo bien, haz números y si todavía lo quieres, por lo menos habrás tomado una decisión consciente.
          <br>
          <br>
          6. El resto del fin de semana evita los centros comerciales. Muchos lugares en la ciudad tendrán menos gente que de costumbre, así que aprovéchalo para pasar días bonitos con tu familia o conocer algo más de tu ciudad.
          <br>
          <br>
          7. Si vas a comprar a meses sin intereses, porque no puedes pagar un artículo de contado, elige la menor cantidad posible, para así no comprometer por demasiado tiempo tu flujo de efectivo.
        </p>
        <p class="education__content-source">
          Lanzagorta, J. and Lanzagorta, J. (2018). No te endeudes en El Buen Fin - Planea Tus Finanzas. Recuperado de <a href="https://planeatusfinanzas.com/no-te-endeudes-en-el-buen-fin/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
