<% content_for :page_title, 'Finapp - No vivas del crédito' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">No vivas del crédito</h3>
          <p class="education__content-description">La alternativa inteligente.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-1_full.png", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Allef Vinicius en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Hoy día se hace muy difícil encontrar a una persona o unidad familiar que no haya de cumplir mensualmente con las obligaciones del préstamo bancario y a todos ellos les invito a que se pasen a la alternativa inteligente. Pero ¿qué es la alternativa inteligente? Pues algo tan sencillo como llevar siempre suficiente dinero en efectivo y pagar todas las compras con éste, suprimiendo el hábito de utilizar las tarjetas de crédito. Por supuesto que no será fácil cambiar un hábito – el malo – por el bueno – pagar en efectivo – .Desde este momento os invito a que tomáis las riendas de vuestro dinero, poder administrarlo mejor y si en la actualidad se mantienen deudas con tercero estudiar e implementar una estrategia de reducción y eliminación de éstas. Y reitero, pasar vuestra gestión y administración del dinero a la alternativa inteligente.
          <br>
          <br>
          Supongo que más de uno ahora mismo estará pensando que esta información ya es conocida y nada nuevo presentamos con pasarse a la alternativa inteligente. Pero he de decir que actualmente la gran mayoría de personas no están desarrollando esta buen estrategia con el dinero (puede que un 90%) y se está beneficiando con esta manera de actual al sistema financiero y bancario cuyos intereses son totalmente opuestos a los nuestros. Parece una obviedad pero no es así y encuentro el problema anclado en la gran mayoría de mis clientes a los que trabajo en el proceso de coaching, los inconvenientes que les provoca y los pocos beneficios que les aporta, me han llevado a denominar pagar en dinero – papel o moneda – las compras habituales, la alternativa inteligente.
        </p>
        <p class="education__content-blog">
          Pero para posicionar a esta estrategia de eliminar en lo posible, si o si, todo concepto de pagar a plazos las compras y no ver incrementada la posición deudora personal o familiar sería adecuado presentar las mayores desventajas de vivir a crédito:
          <br>
          <ul class="education__content-ulist">
            <li>Falsa creencia de poder</li>
            <li>Menor disfrute</li>
            <li>Es algo más caro</li>
            <li>No lo notas tanto ( cuando lo utilizas )</li>
            <li>No controlas con tanto rigor lo que llevas gastado</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Y en ello existe una trampa y de la que Keith J.Cumingham – el padre rico de Kiyosaki – dijo “El crédito nos lleva a una gratificación inmediata y es la raíz de todos los problemas”.  Y en psicología se conoce muy bien que la gratificación inmediata nos hace sentir contrariados y mal momentáneamente pero a medio y largo plazo genera felicidad. Y la gran resistencia y sin duda la peor es el propio “sistema” que necesita de alimentarnos con el crédito y la deuda para su retroalimentación. La tecnología es cierto nos está llevando al mal camino en cuanto a separar a las personas del foco positivo que representa la alternativa inteligente.
          <br>
          <br>
          Y vayamos ahora con las ventajas y beneficios que representa a las personas integrar en sus vidas esta nueva forma de gestionar el dinero que pasa por sus manos.
        </p>
        <ul class="education__content-ulist">
          <li>Pagando en efectivo lo notas de verdad. Notas el dolor de pagar y en el mismo instante.</li>
          <li>Con tarjeta de crédito la gente compra más (incluso utilizando la tarjeta de débito)</li>
          <li>Pagar en efectivo activa la consciencia del verdadero valor de las cosas. Eres consciente de cómo vas, cual es tu situación</li>
          <li>Pagando en efectivo puedes negociar mejor. El efectivo tiene poder.</li>
          <li>Es más fácil administrarse</li>
        </ul>
        <p class="education__content-blog">
          Un ejemplo de grupos que utilizan el dinero efectivo para todo tipo de transacciones de consumo o comerciales son los chinos. En la sociedad china que conozco y vivo muy de cerca no interactúan en absoluto con ningún banco ni entorno financiero. Siempre llevan el dinero con ellos, en el día a día pagan siempre en efectivo y en cuanto a las necesidades que sobrevienen en la generación de flujo comercial y nuevos negocios los préstamos personales y el uso del crédito lo establecen entre las propias familias. Y si estableces cualquier análisis del funcionamiento y de la operatividad de sus negocios el resultado siempre tiende a ser positivo, eso sí también puede haber excepciones que no confirman la regla.
          <br>
          <br>
          Y para acabar dejar un pequeño trabajo a quienes hoy día utilizáis poco el dinero en efectivo. Instaurar desde este momento un nuevo hábito – el bueno – en vuestra vida y es pagar todas vuestras compras del mes en efectivo. No será fácil pero este nuevo hábito,  de superar las resistencias que vais a encontrar estos treinta próximos días, os ayudará mucho a mejorar vuestra actual situación económica y alimentará en vosotros la motivación para continuar con el siguiente paso que es el de generar ahorro. La alternativa inteligente no puede demorarse más en ser implementada en vuestra vida.
        </p>
        <p class="education__content-source">
          Gómez, M. and Gómez, M. (2018). La alternativa inteligente (no vivas del crédito). Recuperado de <a href="https://planeatusfinanzas.com/alternativa-inteligente-no-vivas-del-credito/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
