<% content_for :page_title, 'Finapp - Retiro de recursos afore' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Retiro de recursos en AFORE</h3>
          <p class="education__content-description">Lo que necesitas saber acerca del retiro de recursos para el retiro.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-5_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Un lector nos cuenta que si papá acaba de obtener su resolución de pensión por cesantia en el IMSS, conforme al regimen de 1973, y quiere efectuar un retiro de recursos en Afore – el ahorro acumulado que ahí tiene. Sin embargo, su Afore le indica que del total que tiene en su cuenta, sólo le corresponde aproximadamente un 60%.
          <br>
          <br>
          ¿Es correcta sólo esa devolución? ¿Cómo se aplican los impuestos por estos ingresos? ¿Qué sucede con los ahorros del SAR del 1992 a 1997?
          <br>
          <br>
          Como todos sabemos, la Ley del IMSS cambió en 1997. Los trabajadores que cotizaron en ambos regímenes, tienen derecho a elegir pensionarse por el que más les convenga.
        </p>
        <p class="education__content-blog">
          Si uno se pensiona por la Ley 1973, la Afore debe entregar los recursos que están en las siguientes subcuentas, en una sola exhibición:
          <br>
          <ul class="education__content-ulist">
            <li>SAR 92 – 97 (esto incluye tanto SAR IMSS 1992 como SAR INFONAVIT 1992, este último siempre y cuando el trabajador no haya tenido un crédito de vivienda otorgado por el Infonavit).</li>
            <li>Retiro 97 a la fecha de retiro (2%).</li>
            <li>Aportaciones Voluntarias.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Estos recursos están sujetos a una retención de impuestos de acuerdo a la Ley del ISR. La Afore debe explicarle el procedimiento y darle una constancia por el impuesto retenido.
        </p>
        <p class="education__content-blog">
          Los recursos que están en las siguientes subcuentas se entregan al Gobierno Federal para que se paguen las pensiones de quienes elijan la Ley 1973 (antes de que existieran las Afores, eran recursos que manejaba el IMSS procediente de las cuotas obrero-patronales):
          <br>
          <ul class="education__content-ulist">
            <li>Cesantía en Edad Avanzada y Vejez.</li>
            <li>Cuota Social.</li>
            <li>INFONAVIT 1997.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Es importante mencionar que para el retiro de recursos en Afore, es necesario llevar el resolutivo de pensión emitido por el IMSS – sin importar si es a favor o en contra. De lo contrario el trámite no se puede realizar.
        </p>
        <p class="education__content-source">
          Lanzagorta, J. and Lanzagorta, J. (2018). Retiro de Recursos en Afore por Pensión bajo el Régimen 1973. Recuperado de <a href="https://planeatusfinanzas.com/retiro-de-recursos-en-afore-por-pension-bajo-el-regimen-1973/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
