<% content_for :page_title, 'Finapp - ¿Somos tan pobres como creemos?' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">¿Somos tan pobres como creemos?</h3>
          <p class="education__content-description">¿Cuántas veces hemos escuchado a las personas decir que no les alcanza el dinero?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("ahorros-2_full.png", class: "education__content-imgCover") %>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          ¿Cuántas veces hemos escuchado a las personas decir que no les alcanza el dinero? ¿Cuántas veces lo hemos dicho nosotros mismos? “Si tuviera más dinero”, “si no tuviera tantos gastos”, “si fuera más fácil ahorrar/invertir/ganar dinero”. ¿Cuánto tendríamos si nos dieran un peso cada vez que hemos escuchado esto o lo llegamos a decir?
          La respuesta: más de lo que creemos.
          <br>
          <br>
          Me atrevo a decir que el 50% de la culpa es nuestra y el restante de las circunstancias. Es totalmente cierto que la educación financiera en México deja mucho que desear, y es cierto también que muchas personas no tuvieron ejemplos a seguir para aprender finanzas personales. ¡Sin embargo!, como es increíblemente más fácil culpar a las circunstancias y puede hacerse cuando, donde y con quien sea, ¿por qué no hacemos un esfuerzo esta vez para analizar el lado que nos corresponde? Veamos…
          <br>
          <br>
          Pero para posicionar a esta estrategia de eliminar en lo posible, si o si, todo concepto de pagar a plazos las compras y no ver incrementada la posición deudora personal o familiar sería adecuado presentar las mayores desventajas de vivir a crédito:
        </p>
        <p class="education__content-blogTitle">Soluciones exprés.</p>
        <p class="education__content-blog">
          Si cargamos una deuda o un problema que construimos en meses, ¿quién nos metió la idea de que podemos salir de esta situación en pocos días o con productos mágicos? Mejor tomemos pasos concretos y constantes, y aunque éstos sean pequeños, siempre serán mejores que ningún paso. De esta forma, se los aseguro, obtendremos resultados, saldremos de deudas, cambiaremos malos hábitos y crearemos buenos. No desperdiciemos dinero en soluciones exprés.
        </p>
        <p class="education__content-blogTitle">Control del dinero.</p>
        <p class="education__content-blog">
          Amigos, hay montones y montones de información en esta página y allá afuera sobre cómo hacer un presupuesto, ¡y las diferencias son prácticamente nulas! ¿Quieren la versión más rápida que pueden encontrar?, aquí está: registrar todos los ingresos y sumar, registrar todas las deudas absolutamente obligatorias y sumar, restar el total de deudas del total de ingresos; destinar por lo menos el 10% de esta cantidad a ahorro o inversión y hacer con el resto lo que se guste, siempre y cuando se vigile en qué se está gastando. La próxima vez, si se desea destinar más porcentaje a otras áreas, este registro de los gastos ayudará a saber en dónde se puede recortar. Fin. Controlando el dinero veremos que tenemos más de lo que pensamos.
        </p>
        <p class="education__content-blogTitle">Más dinero.</p>
        <p class="education__content-blog">
          ¿Qué estamos haciendo para conseguirlo? Desear no basta. He aquí la forma más general de hacer dinero: encontrar una necesidad, resolverla y cobrar, repetir. ¿Cómo la aplicamos? Simple, ¿qué habilidad tenemos?, les aseguro que existen personas que pagarán por nuestra habilidad, sin importar lo extraña que sea. Puede venderse como entretenimiento, como curso, como un servicio profesional, ¡hay muchísimas posibilidades!
          <br>
          <br>
          “Es simple, sí, pero no fácil”. Completamente de acuerdo, si fuera tan fácil, todos estaríamos en mejor situación. No necesitamos que sea fácil, necesitamos que sea factible. Lo es.
          <br>
          <br>
          No es estrictamente necesario aprender nuevas habilidades, utilizando las que ya poseemos veremos que podemos hacer más dinero del que pensábamos.
        </p>
        <p class="education__content-blogTitle">No hay tiempo.</p>
        <p class="education__content-blog">
          ¿No hay o no lo estamos administrando? Entonces hagamos un presupuesto de tiempo y, de nuevo, ya hay muchísima información sobre eso que no difiere sustancialmente. ¿La versión más rápida? Claro, aquí está: enumerar las actividades para el día con prioridades en mente, asignar el tiempo que se dedicará a cada tarea sólo para que no surjan problemas (como trabajo o fechas límite), usar el restante para avanzar en cualquier otra cosa que se desee. ¡Listo!
          <br>
          <br>
          Aprendiendo a manejar eficientemente nuestro tiempo veremos que en realidad hemos tenido más del que creíamos, entonces podremos usarlo para pulir las actividades anteriores y verdaderamente dar un cambio a nuestro modo de vivir.
          <br>
          <br>
          Ciertamente esta es una versión muy concisa de una lista que podría extenderse por buen rato, sin embargo, el propósito es hacernos reflexionar aunque sea un poco, porque poco es mejor que nada. Por ejemplo, ¿por qué repito tanto “pensamos” o “creemos”? Bueno, ello se debe a que estoy seguro de que la mayoría de los que hemos ido avanzando en el camino de las finanzas personalescomenzamos así, creyendo o pensando que “algo”, o creyendo y pensando que “esto”, pero cuando por fin decidimos hacer un análisis de nuestra situación financiera, nuestro tiempo y nuestras capacidades, entendimos que sí poseemos muchos recursos que podemos utilizar para cambiar nuestra situación y, ¿por qué no?, la de otros.
          <br>
          <br>
          Entonces, amigos míos, repasemos los hechos: hemos estado pensando y creyendo cosas por un montón de razones que alguien o algo nos metió, quizá hasta nosotros mismos. Estas creencias nos han impedido hacer un análisis apropiado de nuestra situación. La falta de este análisis nos hace imposible ver nuestro verdadero potencial. Tenemos la mitad de la culpa. Tenemos información. Poco es mejor que nada.
          <br>
          <br>
          Estos son los hechos, lo que hagamos con ellos puede llevarnos a un futuro desastroso, mediocre o próspero, más de lo que imaginamos en cualquier caso. La decisión es completamente nuestra, pero ahora que estamos conscientes de esto necesitamos actuar ya, esperar sólo significa continuar desperdiciando recursos.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Ahorro", page_path('financiera/ahorro/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
