<% content_for :page_title, 'Finapp - Creando una empresa' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Creando una empresa</h3>
          <p class="education__content-description">Crear una empresa o negocio propio no es fácil, pero si lo hacemos bien, puede ser una de las mejores decisiones de la vida.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("emprendimiento-2_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Crear una empresa o negocio propio no es fácil, pero puede ser una de las mejores decisiones de la vida.
          <br>
          <br>
          Muchas personas quieren hacerlo, pero no saben cómo. Esto los lleva por un camino equivocado, basado en el ensayo y error, que pocas veces funciona. De hecho, las estadísticas señalan que cerca del 80% de las empresas de nueva creación no sobreviven los primeros dos años de operación
          La razón principal es porque no entendieron, desde el principio, conceptos tan fundamentales como rentabilidad o margen de utilidad, o bien en cuánto tiempo su negocio iba a comenzar a generar beneficios.
        </p>
        <p class="education__content-blogTitle">Algunas ideas para crear una empresa</p>
        <p class="education__content-blog">
          Si ya nos hemos decidido a crear una empresa, tenemos primero que pensar – obviamente – en su objetivo.
          <br>
          <ul class="education__content-ulist">
            <li>¿A qué se va a dedicar?</li>
            <li>¿Qué necesidades va a resolver? ¿De qué manera?</li>
            <li>¿Quiénes son nuestros clientes potenciales?</li>
          </ul>
        </p>
        <p class="education__content-blog">
          También tenemos que pensar en la forma jurídica en la cual habremos de constituirla. En otros países no sucede, pero en México muy pocas personas piensan en esto al momento de crear una empresa. Sin embargo es importantísimo: no queremos estar en la economía informal. Tenemos que investigar bien acerca de qué forma nos conviene más, porque de ahí derivan las principales obligaciones de la empresa e incluso el régimen fiscal al cual estará sujeto. También la aportación de capital inicial.
          <br>
          <br>
          Tenemos que pensar en el aspecto financiero. ¿Cuál es nuestra inversión inicial? ¿Cuál es el costo de nuestras ventas? ¿Cuál será el precio de nuestros productos y servicios? ¿Qué margen de utilidad tendremos? ¿En cuánto tiempo llegaremos al punto de equilibrio, a partir del cual la empresa comenzará a ser rentable? ¿En cuánto tiempo recuperaremos esa inversión? ¿Qué necesidades de capital de trabajo habrá?
          <br>
          <br>
          Para todo ello, antes de crear una empresa se debe elaborar un plan de negocios bien hecho. En él haremos proyecciones de nuestros estados financieros durante los primeros tres a cinco años. Muchas veces podemos pensar en etapas: una de lanzamiento, otra de crecimiento, quizá pensar en rondas de financiamiento posteriores si superamos ciertas métricas, etc.
          <br>
          <br>
          También tendremos que pensar en cómo vamos a comercializar nuestros productos y servicios, cómo nos vamos a dar a conocer. En algunas ocasiones se tendrá que pensar incluso en publicidad, pero no siempre es necesaria.
        </p>
        <p class="education__content-blogTitle">El panorama completo</p>
        <p class="education__content-blog">
          Otro aspecto fundamental es el cumplimiento de nuestras distintas obligaciones, no sólo las fiscales sino también las laborales. ¿Tendremos empleados? Habrá que inscribirlos a la seguridad social por ejemplo. No nos olvidemos de tomar en cuenta estos costos.
          <br>
          <br>
          Pensemos también en la profesionalización. Muchas empresas se benefician de un consejo de administración, que tome decisiones ejecutivas. Para crear una empresa vale la pena encontrar a un mentor (o a varios). Estas personas son precisamente las que necesitamos en el consejo de administración: con su experiencia nos podrán brindar dirección estratégica que puede ser clave.
          <br>
          <br>
          En muchas ocasiones nos podremos beneficiar también de una consultoría empresarial, como Gesdocument.com (para España) que nos puede ayudar desde la definición del plan estratégico, hasta el emprendimiento de estrategias para optimizar nuestros costos. En México y en otros países también hay una gran cantidad de empresas especializadas en consultoría para empresas pequeñas y medianas, incluso hay muchas instituciones que dan asesoría completa para crear una empresa de manera exitosa.
          <br>
          <br>
          Finalmente, no debemos olvidar que las finanzas personales y de la empresa deben estar totalmente separadas. He visto muchas veces cómo personas utilizan su crédito personal, hipotecan su casa o incluso se endeudan con su tarjeta de crédito para adquirir insumos o mobiliario para su negocio. Esto es un grave error: si la empresa fracasa no sólo habremos perdido la inversión inicial sino también nos quedaremos con una gran deuda en nuestro patrimonio personal – el cual estará en grave riesgo.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2015, 13 junio). CREAR UNA EMPRESA TIENE SUS RETOS. Recuperado de <a href="https://planeatusfinanzas.com/crear-una-empresa-tiene-sus-retos/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Emprendimiento", page_path('financiera/emprendimiento/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
