<% content_for :page_title, 'Finapp - El dinero de tu negocio' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">El dinero de tu negocio</h3>
          <p class="education__content-description">Al igual que sucede en nuestras finanzas personales, mucha gente no sabe cómo o hacia dónde se va el dinero de su negocio.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("emprendimiento-3_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Steve Johnson en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Al igual que sucede en nuestras finanzas personales, mucha gente no sabe cómo o hacia dónde se va el dinero de su negocio.
          <br>
          <br>
          Esto desafortunadamente ocurre con demasiada frecuencia. Hay tres razones principales por lo que esto sucede, y que además son la causa de que más de la mitad de los negocios no sobreviven después de los dos primeros años:
          <br>
          <ol class="education__content-list">
            <li>No hicieron un plan de negocios – el cual nos ayuda a tener una idea de si cómo podría funcionar nuestro negocio, antes de ponerlo.</li>
            <li>No llevan una buena contabilidad – lo cual es importante para entender los ingresos y gastos del negocio, cómo se genera la utilidad y cuál es la posición financiera de la empresa. Esto además nos permite poder tomar las decisiones adecuadas.</li>
            <li>Mezclan su propio dinero con el de su negocio. Gastan el dinero de da el negocio para ellos, o adquieren deudas personales para que el negocio salga adelante. Este es uno de los errores más comunes porque no nos permite ver en realidad cómo van las cosas, o si nuestra empresa es auto-suficiente. Por otro lado, también hace que la gente se endeude demasiado y termine en una situación muy comprometida de la cual tardarán muchos años en salir.</li>
          </ol>
        </p>
        <p class="education__content-blog">
          Mientras tanto veamos el caso de Cinthya, lectora quien me inspiró hacer esta serie de posts al dejarme el siguiente comentario en mi artículo sobre ¿Cómo Salir de Deudas?:
          <br>
          <br>
          <i>Tengo un negocio y mis deudas son por préstamos para invertir en el mismo, el problema es que saldo todo el crédito ya que los pagos son semanales pero acabándose mi activo ya o tengo mercancía y tengo que pedir prestado a familiares y amigos, además pagó renta de casa y local no me queda aun una ganancia para desahogarme un poquito más, consejos?…o mi ganancia se va en las rentas, no se?</i>
        </p>
        <p class="education__content-blogTitle">¿Dónde se va el dinero de tu negocio?</p>
        <p class="education__content-blog">
          Cinthya, muchas gracias por el comentario.
          No sé si estés haciendo estados financieros para tu negocio, eso es muy importante porque es precisamente lo que te permitiría conocer con claridad dónde se va el dinero de tu negocio, y tener una idea de qué necesitarías hacer para mejorar tus ganancias. Por lo que me dices, me “suena” que tu negocio apenas está generando el dinero suficiente para pagar los gastos que genera, pero no te está dejando una utilidad. O bien, puede ser que tu margen sea casi cero.
          <br>
          <br>
          Esto te pone en una situación peligrosa porque podría darse el caso de que algún día vendas menos y entonces tus ingresos no te alcancen para pagar tus gastos (deudas).
          <br>
          <br>
          Mi recomendación: haz tus estados financieros. Hay dos que son muy básicos, y es además fácil elaborarlos:
          <br>
          <ol class="education__content-list">
            <li>El balance general es una lista de tus activos (lo que tienes y las cuentas por cobrar) y tus pasivos (las deudas de tu negocio). Eso te puede ayudar a diagnosticar si tu negocio tiene demasiadas deudas y por ello todo el dinero se va en pagarlas.</li>
            <li>El estado de resultados, o de flujo de efectivo, es listar por un lado tus ingresos (tus ventas) y por otro tus gastos (renta, empleados, el costo de la mercancía, pago de deudas, etc.). La resta entre estos dos conceptos es tu utilidad. Pero además te permite visualizar dónde se está yendo el dinero de tu negocio.</li>
          </ol>
        </p>
        <p class="education__content-blog">
          Ahora bien, al principio la utilidad de un negocio no debe servir para ti, sino para hacer el negocio crecer. Muchas veces los emprendedores olvidan esto y piensan que sacarán utilidades desde un principio y vivirán de esas utilidades, pero en la mayoría de los casos, esto no es cierto.
          <br>
          <br>
          Verás: un negocio es como una planta: necesita crecer antes de poder dar sus frutos. Y para ello se necesita paciencia pero también cuidados constantes. Al principio, hay que regarla, ponerle abono, es decir: nos genera gastos por varios meses antes de que tenga el tamaño suficiente para poder rendir frutos.
          <br>
          <br>
          De hecho lo mejor que puedes hacer es no vivir de las utilidades del negocio, sino asignarse un salario como si fueras empleada. Para mantener el dinero de tu negocio, y las ganancias que genera, de manera separada a tu dinero personal.
          <br>
          <br>
          ¿Qué tan grande ese salario? Depende de la situación que puedas determinar en tus estados financieros. En un principio debe ser muy mínimo para que salgas con los gastos y además puedas lograr que las deudas del negocio disminuyan. A medida que tu negocio crece podrás también aumentarlo. Sin embargo, como cualquier otro gasto, siempre será importante mantenerlo bajo control.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2013, 11 febrero). DONDE SE VA EL DINERO DE SU NEGOCIO. Recuperado de <a href="https://planeatusfinanzas.com/dinero-de-tu-negocio/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Emprendimiento", page_path('financiera/emprendimiento/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
