<% content_for :page_title, 'Finapp - Economía colaborativa' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Economía colaborativa</h3>
          <p class="education__content-description">La economía colaborativa es esa tendencia de la últimamente no dejamos de oír hablar, gracias a la cual todo cobra un significado más reciclado y barato.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("emprendimiento-4_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          La economía colaborativa es esa tendencia de la últimamente no dejamos de oír hablar, gracias a la cual todo cobra un significado más reciclado y barato. Seguramente ya conoces a empresas como BlablaCar o Airbnb, cuyas bases de negocio se basan en ejemplos de economía colaborativa: compartir coche para viajar más barato, alquilar habitaciones para viajar por el mundo más barato… son tendencias que, sin duda, se han visto beneficiadas por el contexto socio económico en el que nos encontramos.
          <br>
          <br>
          La economía y el consumo colaborativo se han convertido en la respuesta a la ineficiencia del mundo: el 40% de los alimentos del planeta se desperdician y los coches particulares pasan el 95% de su tiempo parados. Si decidieras alquilar un coche para ir por la ciudad, en vez de tener el tuyo propio, te ahorrarías un 75% de tu dinero. En Barcelona tener un coche en propiedad cuesta 16,62 euros la hora, de media, mientras que en Madrid la cifra sube a 17,33. Si usaras un servicio de carsharing, por el que el conductor puede acceder al vehículo completamente equipado y con gastos de carburante, seguro, etc. incluidos, la hora te costaría solo 4 euros.
          <br>
          <br>
          En respuesta al desperdicio nacen cada día más startups y emprendedores cuya visión es aprovechar los recursos que ya tenemos. En este sentido, vemos como se abre un nicho de mercado muy potente y, de momento, más colaborativo.
          <br>
          <br>
          Hoy te voy a presentar ejemplos de economía colaborativa que seguramente todavía no conoces y que son dignos de tener en cuenta. El concepto de compartir y reciclar se puede aplicar en muchas facetas de nuestra vida y nos pueden servir para ahorrar grandes costes en nuestro día a día.
          <br>
          <br>
          El evento “1010 maneras de comprar sin dinero” hace una propuesta de interesante. Montevideo, Buenos Aires, Madrid, Málaga, Roma, Porto Alegre… son algunas de las ciudades del mundo que ya han  organizado eventos 1010 Ways To Buy Without Money. La idea surgió en la celebración de Sant Jordi, el día del libro en Catalunya, de 2011. ¿Por qué ese día se había convertido en el Día de Comprar Libros (y rosas)? ¿Podría celebrarse el Día del Libro más allá de su faceta mercantil? ¿Se podría lograr que participara todo el mundo, tuviera o no tuviera o dinero para comprar un libro?
          <br>
          <br>
          Con esta idea se llevó a cabo el primer evento de 1010 maneras de comprar sin dinero, hace ya 5 años, en el que se vendieron 105 libros sin gastar ni un duro. La filosofía consiste en que las cosas no son gratis, pero tampoco hace falta dinero para comprarlas o conseguirlas. Se decidió extender la reflexión más allá de un día, un lugar o un objeto determinado, y convertir 1010 Ways To Buy Without Money en una iniciativa abierta y extendible a cualquier ciudad, momento y objeto. En estos eventos, que son libres de ser organizados por cualquiera desde la página web, un libro tiene como precio “Dejar de Fumar” y solo lo puede comprar alguien que fume, o “Colaborar con una causa social”, entre muchas más ideas.
          <br>
          <br>
          Otra idea interesante que reza: “te reformo el piso a cambio del alquiler”. Cualquiera que haya pasado por la fase de tener que buscar piso de alquiler ha tenido que sufrir tener que conformarse con un piso que no está pintado ni decorado a tu gusto, pero al que no le puedes hacer cambios. Pues esta idea ofrece la posibilidad de pagar el alquiler en calidad de “reforma”. Los herederos de un piso en Barcelona, en el barrio de La Verneda i la Pau, tenían la vivienda cerrada a cal y canto sin poder alquilarla por falta de dinero para reformarla, hasta que un matrimonio les propuso una idea loca: se comprometían a hacer mejoras por valor de 12.000 euros si durante 24 meses no tenían que pagar la renta de 460 euros mensuales. De esta manera los herederos cobraban algo por el piso y los inquilinos, que tenían conocimientos de albañilería, podían tenerlo arreglado a su gusto.
          <br>
          <br>
          Al otro lado del mundo, Sabrina Hernández, una estudiante de la Universidad de San Francisco usa la plataforma DogVacay para ofrecer servicios de cuidadora de perros y cobra 40 dólares la noche por ello. Al mes asegura que llega a ganar 1.200 dólares, mientras que Dylan Rogers, un vendedor de coches de Chicago, se embolsa hasta 1.000 dólares mensuales alquilando su BMW usado gracias a la plataforma RelayRides.
          <br>
          <br>
          Otro buen ejemplo es la plataforma “solucionadora de problemas” Etece. En ella te hacen un presupuesto para arreglarte casi cualquier cosa: ¿quieres que alguien haga cola por tí en un concierto? ¿necesitas que lleven tu coche a otra ciudad? Los autónomos que son certificados por la plataforma te preparan un presupuesto de cualquier tipo de tarea y puedes elegir el que más te conviene.
          <br>
          <br>
          Otro ejemplo es la startup española Beetripper, que pone en contacto a turistas o recién llegados a una ciudad con personas locales que hacen de guía turístico.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2016, 16 mayo). LOS MEJORES EJEMPLOS DE ECONOMÍA COLABORATIVA QUE AÚN NO CONOCES. Recuperado de <a href="https://planeatusfinanzas.com/crear-una-empresa-tiene-sus-retos/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Emprendimiento", page_path('financiera/emprendimiento/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
