<% content_for :page_title, 'Finapp - Emprendimiento' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <p class="education__header-subtitle">Mostrando lecciones de:</p>
      <h2 class="education__header-title">Emprendimiento</h2>
      <p class="education__header-subtitle-text">Emprendimiento es aquella actitud y aptitud de la persona que le permite emprender nuevos retos, nuevos proyectos; es lo que le permite avanzar un paso mas, ir mas allá de donde ya ha llegado.</p>
      <p class="education__header-subtitle"><span>3</span> lecciones</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 class="education__categoryResult-title">Artículos</h2>
      </div>
    </div>
    <section class="education__cardsGrid">
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/emprendimiento/plan-de-negocios')) do %>
            <%= image_tag("emprendimiento-1.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Haciendo un plan de negocios</p>
          <p class="education__categoryResult-card-description">¿Por qué es importante hacer un plan de negocios cuando emprendemos?</p>
          <p class="education__categoryResult-card-theme">#Emprendimiento</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/emprendimiento/creando-una-empresa')) do %>
            <%= image_tag("emprendimiento-2.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Creando una empresa</p>
          <p class="education__categoryResult-card-description">Crear una empresa no es fácil, pero puede ser una de las mejores decisiones.</p>
          <p class="education__categoryResult-card-theme">#Emprendimiento</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/emprendimiento/dinero-de-tu-negocio')) do %>
            <%= image_tag("emprendimiento-3.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">El dinero de tu negocio</p>
          <p class="education__categoryResult-card-description">¿Sabes qué pasa o hacia dónde se va el dinero de tu negocio?</p>
          <p class="education__categoryResult-card-theme">#Emprendimiento</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/emprendimiento/economia-colaborativa')) do %>
            <%= image_tag("emprendimiento-4.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Ejemplos de economía colaborativa</p>
          <p class="education__categoryResult-card-description">La economía colaborativa es esa tendencia de la últimamente no dejamos de oír hablar, conoce más.</p>
          <p class="education__categoryResult-card-theme">#Emprendimiento</p>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render 'shared/footer' %>
