<% content_for :page_title, 'Finapp - Haciendo plan de negocios' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Haciendo plan de negocios</h3>
          <p class="education__content-description">¿Por qué es importante hacer un plan de negocios?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("emprendimiento-1_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          En México hay muchísimas personas con espíritu emprendedor y además con mucha creatividad. Pero que lamentablemente, cuando ponen su negocio en marcha, fracasan estrepitosamente.
          <br>
          <br>
          La razón principal es porque no entendieron, desde el principio, conceptos tan fundamentales como rentabilidad o margen de utilidad, o bien en cuánto tiempo su negocio iba a comenzar a generar beneficios.
          <br>
          <br>
          Es decir, no hicieron un plan de negocios.
        </p>
        <p class="education__content-blogTitle">¿Qué es un plan de negocios?</p>
        <p class="education__content-blog">
          Un plan de negocios es un documento en el cual plasmamos, de manera ordenada, la manera como funcionará nuestro negocio. El objetivo del mismo, el mercado potencial, la competencia que enfrentamos, nuestros valores agregados y los productos o servicios que nuestra empresa aportará.
          <br>
          <br>
          En él también se plasma la inversión inicial y cómo vamos a financiarla, así como la forma como pensamos posicionarnos en nuestro mercado objetivo. Pero quizá lo más importante es que incluye un estimado de las ventas (ingresos de nuestro negocio) y de los gastos (agua, luz, costo de ventas, etc.) que enfrentaremos en los primeros 12 meses, así como las proyecciones a 3 y 5 años. Lo cual a su vez nos permitirá darnos una buena idea de la rentabilidad que tendrá nuestro negocio y de cuánto tiempo tardará en empezar a generar utilidades.
          <br>
          <br>
          Es importante mencionar que un plan de negocios puede contener distinto nivel de detalle. Para una microempresa quizá un documento de dos páginas sea suficiente. Pero para un negocio que dará empleo a otras personas y necesitará obtener financiamiento externo, es necesario elaborar un documento mucho más extenso.
        </p>
        <p class="education__content-blogTitle">¿Por qué es importante un plan de negocios?</p>
        <p class="education__content-blog">
          Primero porque nos permite entender desde el principio cuáles serán los gastos y costos a los que nos enfrentaremos.
          <br>
          De esta forma, podremos saber cuánto necesitamos vender para llegar al punto de equilibrio (es decir, para lograr salir “tablas”) y para que el negocio comience a dar utilidades.
          <br>
          <br>
          Lanzarnos a poner un negocio sin tener esto bien claro, es como dar un gran salto al vacío, con los ojos vendados.
          <br>
          <br>
          Pero además un plan de negocios es un documento indispensable en caso de requerir financiamiento, ya sea particular (buscar socios que le entren con nosotros) o bien a través de alguna institución financiera. Ninguna persona seria invertiría en un negocio que no tiene un plan de negocios bien hecho, detallado, que demuestre la rentabilidad potencial.
        </p>
        <p class="education__content-blogTitle">¿Qué incluye un plan de negocios?</p>
        <p class="education__content-blog">
          Un buen plan de negocios debe incluir los siguientes rubros:
          <br>
          <ul class="education__content-list">
            <li><b>Resumen ejecutivo.</b> Aunque va al principio del plan, esto es lo último que se deberá escribir y además debe hacerse de manera muy cuidadosa.</li>
            <li><b>Descripción de la Compañía.</b> ¿Qué es lo que hace, qué diferencia nuestro negocio de la competencia y el mercado objetivo al nos dirigimos?</li>
            <li><b>Análisis del Mercado.</b> Antes de abrir nuestro negocio, es esencial entender nuestra industria, el mercado y los competidores.</li>
            <li><b>Organización y Administración de la Empresa.</b> La forma como la empresa será constituida, los socios que tendrá y cuál será su estructura. También se puede incluir un organigrama así como el currículum de los socios y/o de los principales funcionarios que la manejarán.</li>
            <li><b>Productos y Servicios.</b> ¿Qué es lo que vendemos? ¿De qué forma beneficia a nuestros competidores? Contemos nuestra historia.</li>
            <li><b>Ventas y Marketing.</b> ¿Cómo pensamos vender nuestro producto o servicio? ¿Cómo pensamos posicionar a nuestra empresa en la mente de nuestros consumidores potenciales? ¿Cuál es nuestra estrategia de ventas?</li>
            <li><b>Necesidades de Financiamiento.</b> Si nuestra empresa necesita financiamiento externo (ya sea socios, o bien préstamos para empezar) necesitamos incluir toda la información necesaria.</li>
            <li><b>Proyecciones financieras.</b> Aquí es donde ponemos nuestros gastos iniciales, tanto los fijos (local, luz, agua, etc.) así como el costo de ventas (por ejemplo el costo de la mercancía que venderemos o el costo de generar el servicio que ofrecemos). Pero también nuestros ingresos estimados (volumen de ventas, precio unitario e ingreso total) así como la utilidad. Es importante incluir algunas razones financieras principales, tales como margen de utilidad, retorno sobre capital, entre otras.</li>
            <li><b>Apéndices o documentos anexos,</b> en caso de ser necesarios.</li>
          </ul>
        </p>
        <p class="education__content-blog">
          Poco a poco iremos hablando más acerca de cada uno de los rubros que debe incluir nuestro plan de negocios, y cómo construirlo.
        </p>
        <p class="education__content-source">
          LANZAGORTA, J. O. A. N. (2013, 12 febrero). ¿POR QUÉ ES IMPORTANTE HACER UN PLAN DE NEGOCIOS? Recuperado de <a href="https://planeatusfinanzas.com/importante-hacer-plan-de-negocios/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Emprendimiento", page_path('financiera/emprendimiento/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
