<% content_for :page_title, 'Finapp - Iniciar sesión' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="login-form">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns login-form__card">
        <h2 class="login-form__title">Iniciar sesión</h2>

        <%= link_to "Inicia sesión con Facebook", user_facebook_omniauth_authorize_path, class: "login-form__btn-facebook" %>

        <hr>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "login-form__label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form__input", placeholder: "brunodiaz@mail.com" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "login-form__label" %>
            <%= f.password_field :password, autocomplete: "off", class: "login-form__input", placeholder: "Contraseña" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field remember-field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "remember-label" %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Inicia sesión", class: "button-main" %>
          </div>
        <% end %>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "¿Aun no tienes cuenta? Crea una grátis", new_registration_path(resource_name), class: "login-form__btn-link" %><br />
        <% end -%>

        <br>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class: "login-form__btn-link" %><br />
        <% end -%>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
