<% if user_can_pay? %>
  <% if @payment == "conekta" %>
    $(".signals__plans-paypalForm").html("<%= j render("shared/conekta_form", user: current_user) %>");
    $(".signals__plans-paypalForm").show();
  <% elsif @payment == "paypal" %>
    $(".signals__plans-paypalForm").html("<%= j render("shared/paypal_form", user: current_user) %>")
    $(".signals__plans-paypalForm").show();
  <% end %>
<% end %>
