<%= render 'shared/nav-alt' %>

<div class="education__header">
  <div class="row">
    <div class="six columns">
      <div class="education__header-categories">
        <img class="education__header-cover" src="../assets/images/edu__cover.png" alt="">
      </div>
    </div>
    <div class="six columns">
      <div class="education__header-bg">
        <h2 class="education__header-title">Iniciando tu camino a una mejor cultura financiera,
          con información sencilla que te sorprenderá.</h2>
        <p class="education__header-subtitle">Suscibete a nuestro newsletter y recibe las lecciones más valiosas</p>
        <form class="" action="index.html" method="post">
          <input class="education__header-search" type="email" name="search" placeholder="bernardo@vanfinapp.com">
          <a class="education__header-button button-min" href="../login.html">Suscribir</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="education__top">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns ">
        <h2 class="education__top-title">El conocimiento lleva a buenas decisiones</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-three six columns ">
        <p class="education__top-text">Por medio de cápsulas, folletos, calculadoras y demás herramientas que busquen que el usuario pueda tomar buenas decisiones financieras, tomar el control de su capital y utilizar los diferentes instrumentos que hay en el mercado para ahorrar e invertir.</p>
      </div>
    </div>
  </div>
</div>

<div class="education__top">
  <div class="container">
    <div class="row">
      <div class="offset-by-three six columns ">
        <h2 class="education__top-title">Lecciones por tema</h2>
      </div>
    </div>

    <div class="row">
      <div class="four columns ">
        <div class="education__categoryTheme-card">
          <a href="../educacion/categoria.html">
            <div class="education__categoryTheme-card-wrap">
              <img class="education__categoryTheme-card-icon" src="../assets/images/edu-tema_tarjeta.svg" alt="">
            </div>
            <div class="education__categoryTheme-card-about">
              <h5 class="education__categoryTheme-card-title">Tarjetas</h5>
              <p class="education__categoryTheme-card-description">Aprende todo lo necesario para sacarle el mayor provecho a tu tarjeta, o elegir la correcta para tí.</p>
              <p class="education__categoryTheme-card-type">5 lecciones</p>
            </div>
          </a>
        </div>
      </div>
      <div class="four columns ">
        <div class="education__categoryTheme-card">
          <a href="../educacion/categoria.html">
            <div class="education__categoryTheme-card-wrap">
              <img class="education__categoryTheme-card-icon" src="../assets/images/edu-tema_credito.svg" alt="">
            </div>
            <div class="education__categoryTheme-card-about">
              <h5 class="education__categoryTheme-card-title">Créditos</h5>
              <p class="education__categoryTheme-card-description">Ya sean hipotecários o de automóvil, encuentra todo lo que necesites saber para tu próximo crédito.</p>
              <p class="education__categoryTheme-card-type">8 lecciones</p>
            </div>
          </a>
        </div>
      </div>
      <div class="four columns ">
        <div class="education__categoryTheme-card">
          <a href="../educacion/categoria.html">
            <div class="education__categoryTheme-card-wrap">
              <img class="education__categoryTheme-card-icon" src="../assets/images/edu-tema_admin.svg" alt="">
            </div>
            <div class="education__categoryTheme-card-about">
              <h5 class="education__categoryTheme-card-title">Admin Personal</h5>
              <p class="education__categoryTheme-card-description">Aprende todo lo necesario para sacarle el mayor provecho a tu tarjeta, o elegir la correcta para tí.</p>
              <p class="education__categoryTheme-card-type">3 lecciones</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="education__intro">
  <div class="container">
    <div class="row">
      <div class="twelve columns ">
        <h2 class="education__intro-title">Lo más nuevo</h2>
      </div>
    </div>
    <div class="row ">
      <div class="offset-by-two four columns">
        <h3 class="education__intro-subtitle">"Quiero empezar a ahorrar"</h3>
        <p class="education__intro-about">Ahorrar es una acción muy importante para todas las personas que reciben un ingreso. No siempre es necesario gastarse todo lo que recibimos, ya que más adelante nos puede servir. Aca te decimos como encontrar la mejor manera para ti.</p>
      </div>
      <div class="four columns">
        <div class="education__categoryResult-card">
          <a href="../educacion/video.html">
            <div class="education__categoryResult-card-wrap">
              <img class="education__categoryResult-card-img" src="../assets/images/credit-cover-3.png" alt="">
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Video</p>
              <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
              <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
              <p class="education__categoryResult-card-theme">#Créditos</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="four columns">
        <div class="education__categoryResult-card">
          <a href="../educacion/video.html">
            <div class="education__categoryResult-card-wrap">
              <img class="education__categoryResult-card-img" src="../assets/images/credit-cover-3.png" alt="">
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Video</p>
              <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
              <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
              <p class="education__categoryResult-card-theme">#Créditos</p>
            </div>
          </a>
        </div>
      </div>
      <div class="four columns">
        <div class="education__categoryResult-card">
          <a href="../educacion/articulo.html">
            <div class="education__categoryResult-card-wrap">
              <img class="education__categoryResult-card-img" src="../assets/images/articulo-cover.jpg" alt="">
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Artículo</p>
              <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
              <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
              <p class="education__categoryResult-card-theme">#Créditos</p>
            </div>
          </a>
        </div>
      </div>
      <div class="four columns">
        <div class="education__categoryResult-card">
          <a href="../educacion/video.html">
            <div class="education__categoryResult-card-wrap">
              <img class="education__categoryResult-card-img" src="../assets/images/credit-cover-2.png" alt="">
            </div>
            <div class="education__categoryResult-card-about">
              <p class="education__categoryResult-card-type">Video</p>
              <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
              <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
              <p class="education__categoryResult-card-theme">#Créditos</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="four columns">
        <div class="education__categoryResult-card">
          <div class="education__categoryResult-card-wrap">
            <img class="education__categoryResult-card-img" src="../assets/images/credit-cover-3.png" alt="">
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Video</p>
            <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
            <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
            <p class="education__categoryResult-card-theme">#Créditos</p>
          </div>
        </div>
      </div>
      <div class="four columns">
        <div class="education__categoryResult-card">
          <div class="education__categoryResult-card-wrap">
            <img class="education__categoryResult-card-img" src="../assets/images/credit-cover.png" alt="">
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Artículo</p>
            <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
            <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
            <p class="education__categoryResult-card-theme">#Créditos</p>
          </div>
        </div>
      </div>
      <div class="four columns">
        <div class="education__categoryResult-card">
          <div class="education__categoryResult-card-wrap">
            <img class="education__categoryResult-card-img" src="../assets/images/credit-cover-2.png" alt="">
          </div>
          <div class="education__categoryResult-card-about">
            <p class="education__categoryResult-card-type">Video</p>
            <p class="education__categoryResult-card-title">“Necesito un préstamo”</p>
            <p class="education__categoryResult-card-description">Si tienes la necesidad de un prestamo hay varias cosas que tienes que saber antes de hacerlo, aqui te las explicamos de la mejor manera.</p>
            <p class="education__categoryResult-card-theme">#Créditos</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="education__outro">
  <div class="container">
    <div class="row ">
      <div class="twelve columns">
        <h2 class="landing__outro-title">Lleva tu cultura financiera al siguiente nivel</h2>
        <h5 class="landing__outro-quote">¿En qué tema podemos apoyarte?</h5>
        <div class="education__header-categories-blockC">
          <a class="education__header-categories-link" href="#">
            <div class="">
              <img class="education__header-categories-icon" src="../assets/images/edu-tema_tarjeta.svg" alt="">
              <p class="education__header-categories-sub">Tarjetas</p>
            </div>
          </a>
        </div>
        <div class="education__header-categories-blockC">
          <a class="education__header-categories-link" href="#">
            <div class="">
              <img class="education__header-categories-icon" src="../assets/images/edu-tema_credito.svg" alt="">
              <p class="education__header-categories-sub">Créditos</p>
            </div>
          </a>
        </div>
        <div class="education__header-categories-blockC">
          <a class="education__header-categories-link" href="#">
            <div class="">
              <img class="education__header-categories-icon" src="../assets/images/edu-tema_admin.svg" alt="">
              <p class="education__header-categories-sub">Ahorro</p>
            </div>
          </a>
        </div>

      </div>
    </div>
    <div class="education__suggest">
      <div class="row">
        <div class="six columns ">
          <h2 class="education__suggest-title">¿Te quedaron preguntas?</h2>
          <p class="education__suggest-text">Si aun tienes dudas, o quisieras saber más sobre ciertos temas, dejanos tu correo y cuentanos sobre que te interesa aprender o que temas te gustan más y tomaremos tu opinion en cuenta, ya que todos los días estamos trabajando en contenido de interés.</p>
        </div>
        <div class="six columns ">
          <input class="education__suggest-mail" type="email" name="mail" placeholder="bernardo@finapp.com"> <br>
          <input class="education__suggest-theme" type="text" name="search" placeholder="Me gustaría ver más sobre..."> <br>
          <a class="button-min" href="/login.html">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal(".");
</script>

<h1>Listing Posts</h1>

<% @posts.each do |post| %>
     <h1><%= post.title %></h1>
     <p><%= post.content %></p>
     <%= link_to 'Show', post %>
     <%= link_to 'Edit', edit_post_path(post) %>
     <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'New Post', new_post_path %>
