.button-min {
  border-radius: 30px;
  border: 1px solid $primary-color;
  color: #fff;
  background: $primary-color;
  font-family: $primary-font;
  font-size: 15px;
  line-height: 1.6;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $secondary-color;
    border: 1px solid $secondary-color;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-paypal {
  border-radius: 30px;
  border: none;
  border: 1px solid #fec212;
  color: $secondary-color;
  cursor: pointer;
  display: block;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background: #fec212;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-premiumNav {
  border-radius: 30px;
  border: none;
  border: 1px solid $signal-color;
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background: $signal-color;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;
  max-width: 200px;
  text-align: center;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-premiumNavAlt {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #0f75ff;
  background: #fff;
  font-size: 15px;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;
  line-height: 1.6;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  display: block;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.paypal-big {
  padding: 1.55rem 4.5rem;
  display: block;
  width: 300px;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 15px;
}

.button-min-alt {
  border-radius: 50px;
  color: #fff;
  background: $secondary-color;
  font-size: 15px;
  margin-left: 2rem;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-min-white {
  border-radius: 30px;
  border: 1px solid #fff;
  color: $primary-color;
  background: #fff;
  font-size: 15px;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $secondary-color;
    border: 1px solid $secondary-color;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-disable {
  border-radius: 30px;
  color: #000;
  background: #e5e5e5;
  font-size: 15px;
  padding: 1rem 2.5rem;
  text-decoration: none;
  margin-bottom: 0;
}

.button-white {
  border-radius: 100px;
  color: $primary-color;
  background: #fff;
  padding: 2rem 4.5rem;
  position: absolute;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $secondary-color;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-edu {
  border-radius: 100px;
  color: #fff;
  background: #2dce89;
  padding: 2rem 4.5rem;
  position: absolute;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $secondary-color;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-sign {
  border-radius: 100px;
  color: #fff;
  background: $signal-color;
  padding: 2rem 4.5rem;
  position: absolute;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $secondary-color;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-min-alpha {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  background: transparent;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-min-alphaBlue {
  border: 1px solid $primary-color;
  border-radius: 30px;
  color: $primary-color;
  background: transparent;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: #fff;
    border: 1px solid #fff;
    color: $primary-color;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
}

.button-main {
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  background: $primary-color;
  padding: 2rem 4.5rem;
  position: absolute;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background: $secondary-color;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

.facebook {
  background: #3b5998;
  max-width: 300px;
  margin: 2rem auto;

  i {
    margin-right: 2rem;
  }

  &:hover {
    color: #3b5998;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    span {
      background: #fff;
    }
  }
}

.google {
  background: #d62d20;
  max-width: 300px;
  margin: 2rem auto;

  i {
    margin-right: 2rem;
  }

  &:hover {
    color: #d62d20;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    span {
      background: #fff;
    }
  }
}

.linkedin {
  background: #0077b5;
  max-width: 300px;
  margin: 2rem auto;

  i {
    margin-right: 2rem;
  }

  &:hover {
    color: #0077b5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    span {
      background: #fff;
    }
  }
}

@mixin button-gradient($gradient-outline) {
  background: #fff;
  background-image: $gradient-outline;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: $primary-color;
  display: block;
  margin: 2rem 0;
  padding: 3px;
  position: relative;
  text-decoration: none;
  z-index: 2;
  max-width: 250px;
  height: 60px;

  span {
    align-items: center;
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease;
  }
}

.button-gradient__edu {
  @include button-gradient(linear-gradient(to right, #0f75ff 0%, #0ad345 100%));

  &:hover {
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    span {
      background: transparent;
    }
  }
}

.button-gradient__sign {
  @include button-gradient(linear-gradient(to right, #0f75ff 0%, #7964ff 100%));

  &:hover {
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    span {
      background: transparent;
    }
  }
}
