.clickable {
  color: $primary-color;
  cursor: pointer;
}

.dashboard {
  &__welcome {
    display: flex;
    padding-top: 2rem;
    align-content: center;
    align-items: center;

    &-title {
      color: $primary-color;
    }

    &-back {
      text-decoration: none;
      color: #0f75ff;
    }

    &-backText {
      display: inline;
      margin-left: 1rem;
    }

    &-img {
      height: 65px;
      margin-right: 1.5rem;
    }
  }

  &__intro {
    &-profile {
      margin-top: 3rem;
    }

    &-profileOverview {
      margin-top: 3rem;
    }

    input[type="text"] {
      background: url(asset-path("user-icon.svg"));
      background-repeat: no-repeat;
      background-position: 25px 14px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 50px;
      width: 100%;
      max-width: 400px;
      padding: 6px 20px 6px 60px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin-bottom: 3rem;
    }

    input[type="text"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
      border: 1px solid #fff;
    }

    input[type="email"] {
      background: url(asset-path("mail-icon.svg"));
      background-repeat: no-repeat;
      background-position: 20px 14px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 50px;
      width: 100%;
      max-width: 400px;
      padding: 6px 20px 6px 60px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin-bottom: 3rem;
    }

    input[type="email"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
      border: 1px solid #fff;
    }

    input[type="password"] {
      background: url(asset-path("pass-icon.svg"));
      background-repeat: no-repeat;
      background-position: 20px 12px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 50px;
      width: 100%;
      max-width: 400px;
      padding: 6px 20px 6px 60px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin-bottom: 3rem;
    }

    input[type="password"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
      border: 1px solid #fff;
    }

    .button-main {
      border: none;
      position: relative;
      outline: none;
      width: 300px;
    }

    .alert {
      background: #ff0e0e;
    }
  }

  &__success {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    &-cards {
      margin: 0;
    }
    &-title {
      color: #0f75ff;
      margin-bottom: 3rem;
    }
  }

  &__education-featured {
    &-card {
      background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.1)
        ),
        url(asset-path("academy-atecnico_full.jpg"));
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      padding: 15rem 3rem 3rem 3rem;
      margin-bottom: 5rem;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
        transform: translateY(-20px);
      }
    }

    &-subtitle {
      color: #fff;
      font-size: 12px;
      letter-spacing: 0.4rem;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &-title {
      color: #fff;
      display: inline-block;
    }

    &-link {
      text-decoration: none;
    }
  }

  &__updates {
    &-comment {
      display: none;
      margin-top: 1rem;
      font-size: 1.8rem;
      text-align: justify;
    }
    .signal-tag {
      background: #08418c;
      border-radius: 25px;
      color: #fff;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
      padding: 1rem 3rem;
      text-decoration: none;
    }
  }
}

.viewMore-tag {
  color: $secondary-color;
  text-decoration: none;
}
.miniserie__header {
  margin-top: -1em;
  margin-bottom: 4em;
}

.toolbar-none {
  display: none !important;
}

@media only screen and (max-width: 780px) {
  .dashboard__welcome-img {
    height: 35px;
    display: flex;
    align-self: flex-start;
  }

  .profile__intro-videos-description {
    margin: 1rem 0;
  }
}
