.education {
  &__cardsGrid {
    margin: 0 auto;
    width: 99%;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    &-dashboard {
      margin: 0 auto;
      width: 100%;
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &-main {
      margin-top: 5rem;
    }
  }

  &__header {
    &-result {
      padding: 15rem 7rem;
    }

    &-video {
      padding: 7rem 0 0 6rem;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-button {
      background-color: #fff;
      color: $secondary-color;
      margin-left: 0;
      text-decoration: none;
      position: relative;
      max-width: 250px;
      text-align: center;
    }

    &-cover {
      width: 100%;
    }

    &-bg {
      background: linear-gradient(270deg, #0f75ff, #7964ff);
      padding: 7rem;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-bg2 {
      background: linear-gradient(270deg, #0f75ff, #7964ff);
      padding: 6rem 7rem;
      text-align: center;
    }

    &-bg3 {
      background: linear-gradient(270deg, #0f75ff, #7964ff);
      padding: 6rem 7rem;
      text-align: center;
    }

    &-bg4 {
      background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.1)
        ),
        url(asset-path("academy-atecnico_full.jpg"));
      background-position: center;
      background-size: cover;
      padding: 6rem 7rem;
      text-align: center;
    }

    &-bgResp {
      display: none;
    }

    &-title {
      color: #fff;
      font-family: $secondary-font;
      line-height: 6.2rem;
      margin: 0 auto;
    }

    &-subtitle {
      color: #fff;
      margin-top: 4rem;

      span {
        font-weight: 700;
      }

      &-text {
        color: #fff;
        max-width: 600px;
        margin: 2rem auto;
        line-height: 1.8;
      }
    }

    &-subtitleAlt {
      color: $secondary-color;
      margin-top: 4rem;

      span {
        color: $primary-color;
      }
    }

    input[type="email"] {
      background: url("../images/mail-icon2.svg");
      background-repeat: no-repeat;
      background-position: 20px 16px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 60px;
      width: 100%;
      margin-bottom: 2.5rem;
      padding: 6px 20px 6px 65px;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
    }

    input[type="email"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    }

    &-categories {
      margin-top: 5rem;
      padding: 20rem 7rem 0;
      text-align: center;

      &-title {
        color: $primary-color;
        font-family: $secondary-font;
        margin-bottom: 5rem;
      }

      &-blockA {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        height: 150px;
        width: 150px;
        margin: 0 auto;
        margin-bottom: 5rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
          border: 3px solid $primary-color;
        }
      }

      &-blockB {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        height: 150px;
        width: 150px;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
          border: 3px solid $primary-color;
        }
      }

      &-blockC {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        height: 150px;
        width: 150px;
        margin: 3rem 2rem;
        padding: 1rem;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
          border: 3px solid $primary-color;
        }
      }

      &-icon {
        margin: 0;
        width: 50px;
      }

      &-link {
        text-decoration: none;
      }

      &-sub {
        color: $primary-color;
        margin: 0;
        text-decoration: none;
      }
    }
  }

  &__top {
    margin: 5rem 0;
    text-align: center;

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
      margin-top: 5rem;
    }

    &-text {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }

    &-textLink {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__intro {
    margin-bottom: 7rem;
    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
      text-align: center;
    }

    &-subtitle {
      margin-bottom: 1rem;
      margin-top: 3rem;
    }

    &-card {
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      height: 220px;
      margin-top: 3rem;

      &-wrap {
        display: inline-block;
      }

      &-img {
        border-radius: 25px 0 0 25px;
        height: 220px;
        width: 100%;
        display: inline-block;
      }

      &-about {
        display: inline-block;
        margin-top: 2rem;
      }

      &-title {
        color: $primary-color;
        display: inline-block;
      }

      &-description {
        display: inline-block;
      }

      &-type {
        color: #9b9b9b;
        display: inline-block;
      }
    }

    .button-gradient__edu {
      margin: 2rem auto;
    }
  }

  &__mid {
    background: #e7ffee;
    margin-top: 10rem;
    padding: 5rem 0;

    &-title {
      color: $primary-color;
    }
  }

  &__outro {
    margin-top: 10rem;
    text-align: center;
  }

  &__suggest {
    padding: 5rem 0;
    text-align: left;

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
    }

    &-text {
      width: 80%;
    }

    input[type="email"] {
      background: url(asset-path("mail-icon.svg"));
      background-repeat: no-repeat;
      background-position: 20px 19px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 60px;
      width: 80%;
      padding: 6px 20px 6px 60px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin: 5rem 0 3rem;
    }

    input[type="email"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
      border-color: #fff;
    }

    input[type="text"] {
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 60px;
      width: 80%;
      padding: 6px 25px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin-bottom: 3rem;
    }

    input[type="text"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
      border-color: #fff;
    }

    .button-min {
      margin-left: 0;
      border: none;
    }
  }

  &__categoryResult {
    margin-top: 5rem;

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
      text-align: center;
    }

    &-subtitle {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
      text-align: center;
    }

    &-card {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      margin: 0 auto;
      margin-bottom: 5rem;
      margin-top: 3rem;
      max-width: 300px;
      text-align: center;
      display: flex;
      flex-direction: column;

      &-wrap {
        display: inline-block;
      }

      &-img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        max-width: 300px;
        height: auto;
        display: inline-block;
      }

      &-icon {
        width: 70%;
        max-width: 300px;
        max-height: 215px;
        display: inline-block;
        margin: 0 auto;
        margin-top: 5rem;
      }

      &-about {
        display: inline-block;
        color: #000;

        padding: 2rem;
      }

      &-title {
        color: $primary-color;
        display: inline-block;
        margin-bottom: 3rem;
        text-decoration: none;
      }

      &-type {
        color: #000;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        margin-bottom: 1rem;
      }

      &-description {
        height: 75px;
      }

      &-theme {
        color: #9b9b9b;
        margin-bottom: 1rem;
      }
    }

    .button-gradient__edu {
      margin: 2rem auto;
      margin-bottom: 5rem;
    }
  }

  &__categoryTheme {
    &-link {
      text-decoration: none;
    }

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
    }

    &-subtitle {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
      text-align: center;
    }

    &-card {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      margin: 0 auto;
      margin-bottom: 3rem;
      margin-top: 3rem;
      width: 90%;
      max-width: 380px;
      padding: 3rem;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
        transform: translateY(-20px);
      }

      &-wrap {
        display: inline-block;
      }

      &-img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        max-width: 300px;
        max-height: 215px;
        display: inline-block;
      }

      &-icon {
        width: 100%;
        max-height: 50px;
        display: inline-block;
        margin: 0 auto;
        height: 100px;
      }

      &-about {
        display: inline-block;
        padding: 3rem;
        text-align: left;
        margin-right: 3rem;
      }

      &-title {
        color: $primary-color;
        margin: 1rem 0;
        text-decoration: none;
      }

      &-type {
        color: #4a4a4a;
        margin-bottom: 0;
        text-decoration: none;
      }
    }

    &-card2 {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;
      margin-top: 0;
      text-align: center;
      width: 90%;
      max-width: 380px;
      padding: 3rem;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
        transform: translateY(-20px);
      }
    }

    &-card3 {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;
      margin-top: 0;
      text-align: center;
      width: 100%;
      padding: 3rem;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
        transform: translateY(-20px);
      }
    }

    .button-gradient__edu {
      margin: 2rem auto;
      margin-bottom: 5rem;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 5rem;

    &-action {
      width: 49%;
      display: inline-block;
      margin: 3rem 0 5rem;
    }

    &-actionText {
      margin-top: 1rem;
    }

    &-caption {
      margin: 3rem 0 5rem;
    }

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 2rem;
      text-align: left;
    }

    &-description {
      text-align: left;
    }

    &-icon {
      padding: 1rem;
    }

    &-btn {
      border: 1px solid $primary-color;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;

      &:hover {
        border: 1px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      }
    }

    &-imgCover {
      width: 50%;
    }

    &-blogWrap {
      margin-bottom: 5rem;
    }

    &-list {
      text-align: left;
    }

    &-ulist {
      text-align: left;
      list-style: none;
    }

    &-blog {
      text-align: left;
      font-size: 1.8rem;
      line-height: 3.3rem;
    }

    &-source {
      font-style: italic;
      font-size: 1.2rem;
      text-align: left;
    }

    &-sourcePhoto {
      font-style: italic;
      font-size: 1.2rem;
      margin-bottom: 5rem;
    }

    &-blogTitle {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 700;
      text-align: left;
    }

    &-blogCaption {
      font-size: 3rem;
      font-style: italic;
      line-height: 5.3rem;
      margin: 5rem 0;
    }
  }
}

@media only screen and (max-width: 780px) {
  .education__header-bg {
    background: linear-gradient(270deg, #0f75ff, #7964ff);
    padding: 5rem 3rem;
    height: auto;
  }

  .education__header-video {
    background: linear-gradient(270deg, #0f75ff, #7964ff);
    padding: 5rem 3rem 0 3rem;
    height: auto;
  }

  .education__header-title {
    margin-top: 2rem;
    line-height: 5.2rem;
  }

  .education__header-categories {
    display: none;
  }

  .education__header-video {
    display: block;
  }

  .education__intro-card,
  .education__recently-sidebar-card {
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 3rem;

    &-img {
      border-radius: 25px 25px 0 0;
    }

    &-about {
      padding: 2rem;
    }
  }

  .education__recently-sidebar {
    border-right: none;
  }

  .education__header-categories-blockC {
    margin: 3rem 1rem;
  }

  .education__header-bg2 {
    display: none;
  }

  .education__header-result {
    padding: 5rem 3rem;
  }

  .education__header-bgResp {
    display: block;
    background: $edu-color;
    padding: 3rem;
  }

  .education__content {
    padding-top: 3rem;
    text-align: center;
  }

  .education__content-video {
    width: 100%;
  }

  .education__content-action {
    margin: 2rem 0 5rem;
  }

  .education__content-caption {
    margin: 2rem 0 2rem;
  }

  .education__mid-title {
    margin-bottom: 3rem;
  }
}
