.landing__hero {
  position: relative;

  &-section {
    margin: 0 !important;
  }

  &-quote {
    padding-top: 180px !important;
    padding-bottom: 100px !important;
  }

  &-title {
    margin-top: 1rem;
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: normal;
  }

  &-subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
  }

  &-button {
    margin-top: 2rem;
  }
}

.landing__intro-cards {
  margin: 10rem 0;
  display: inline-block;

  &-single {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 2rem 3rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin: 3rem 0;
  }

  &-link {
    text-decoration: none;
  }

  &-title {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  &-text {
    margin-bottom: 4rem;
  }

  &-button-edu {
    background-color: #2dce89 !important;
  }

  &-button-sign {
    background-color: $signal-color !important;
  }

  .title-edu {
    color: #2dce89;
  }

  .title-sign {
    color: $signal-color;
  }
}

.landing__education {
  display: block;
  margin-bottom: 20rem;

  &-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &-list {
    font-weight: 700;
    list-style-image: url(asset-path("money_bullet.svg"));
    margin-bottom: 3rem;
  }

  &-listCategory {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  &-image {
    margin-top: 3rem;
    width: 100%;
  }

  &-featured {
    margin-top: 20rem;

    &-card {
      background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.1)
        ),
        url(asset-path("emprendimiento-2.jpg"));
      background-size: cover;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      padding: 9rem 3rem 3rem 3rem;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
        transform: translateY(-20px);
      }
    }

    &-card2 {
      background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.1)
        ),
        url(asset-path("ahorros-3.png"));
      background-size: cover;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      padding: 9rem 3rem 3rem 3rem;

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
        transform: translateY(-20px);
      }
    }

    &-subtitle {
      color: #fff;
      font-size: 12px;
      letter-spacing: 0.4rem;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &-title {
      color: #fff;
      display: inline-block;
    }

    &-button {
      float: right;
    }
  }
}

.landing__signals {
  background: #f3f3f3;

  &-cover {
    transform: translateY(-7rem);
    width: 100%;
  }

  &-title {
    margin-bottom: 2rem;
  }

  &-subtitle {
    margin-bottom: 4rem;
  }

  &-quote {
    text-align: center;
    transform: translateY(-2rem);
  }

  &-top {
    text-align: center;
  }
}

.landing__signals2 {
  margin: 7rem 0;

  &-about {
    margin: 2rem 0;
    text-align: center;
  }

  &-icon {
    margin-bottom: 2rem;
    height: 100px;
  }

  &-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
  }

  .title-sign {
    color: $signal-color;
    margin-bottom: 1rem;
  }

  .subtitle-sign {
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.landing__outro {
  display: block;
  margin-top: 10rem;
  text-align: center;

  &-title {
    margin-bottom: 1rem;
  }

  &-quote {
    color: $secondary-color;
    margin-bottom: 3rem;
  }

  &-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.section-shaped {
  position: relative;
  margin: 180px 0;
}

.section-shaped .stars-and-coded {
  margin-top: 8rem;
}

.section-shaped .shape {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.section-shaped .shape + .container {
  position: relative;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 0rem;
}

.section-shaped .shape.shape-skew + .container {
  padding-top: 0;
}

.section-shaped .shape.shape-skew + .container .col {
  margin-top: -100px;
}

.section-shaped .shape.shape-skew + .shape-container {
  padding-top: 18rem;
  padding-bottom: 19rem;
}

.section-shaped .shape-skew {
  transform: skewY(-8deg);
  transform-origin: 0;
}

.section-shaped .shape-style-1 :nth-child(1) {
  bottom: auto;
  background: rgba(255, 255, 255, 0.1);
}

.plyr__landing {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-top: 7rem;
}

@media (max-width: 991.98px) {
  .section-shaped .shape-style-1 span {
    height: 120px;
  }
}

@media (max-width: 767.98px) {
  .section-shaped .shape-style-1 span {
    height: 90px;
  }
}

.section-shaped .shape-style-1.shape-default {
  background: linear-gradient(-134deg, #0f75ff 0%, #7964ff 100%);
  height: 100vh;
  max-height: 800px;
}

@media only screen and (max-width: 780px) {
  .landing__header {
    margin-top: 5rem;

    &-section {
      text-align: right;
      padding-right: 2rem;
    }

    &-section-cta {
      position: absolute;
      left: 20px;
      text-align: center;
    }
  }

  .landing__education {
    margin-top: 7rem;

    &-image {
      margin-top: 10rem;
    }

    &-featured {
      margin-top: 10rem;
    }

    &-featured-title {
      display: block;
      margin-bottom: 1rem;
    }

    &-featured-button {
      float: none;
    }
  }

  .landing__hero-quote {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .plyr__landing {
    margin-top: 0;
  }

  .landing__education-featured-card,
  .landing__education-featured-card2 {
    margin: 1rem;
  }

  .footer-land {
    text-align: center;
  }

  .footer__title {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}
