.login-form {
  text-align: center;
  background: linear-gradient(270deg, #0f75ff, #7964ff);
  background-size: 200% 200%;

  -webkit-animation: GradientAnimation 13s ease infinite;
  -moz-animation: GradientAnimation 13s ease infinite;
  animation: GradientAnimation 13s ease infinite;

  margin-bottom: -15rem;
  padding: 5rem 0;
  text-align: center;

  @-webkit-keyframes GradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 93% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @-moz-keyframes GradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 93% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @keyframes GradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 93% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  &__card {
    background: #fff;
    border-radius: 15px;
    padding: 4rem 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  }

  &__title {
    font-family: $secondary-font;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__label {
    font-weight: 400;
  }

  .remember-field {
    margin-bottom: 3rem;
  }

  .remember-label {
    display: inline;
  }

  input[type="text"] {
    background: url(asset-path("user-icon.svg"));
    background-repeat: no-repeat;
    background-position: 25px 12px;
    font-family: $primary-font;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    max-width: 400px;
    padding: 6px 20px 6px 60px;
    background-color: #fff;
    border: 1px solid $primary-color;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-bottom: 3rem;
  }

  input[type="text"]:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #fff;
  }

  input[type="email"] {
    background: url(asset-path("mail-icon.svg"));
    background-repeat: no-repeat;
    background-position: 20px 14px;
    font-family: $primary-font;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    max-width: 400px;
    padding: 6px 20px 6px 60px;
    background-color: #fff;
    border: 1px solid $primary-color;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-bottom: 3rem;
  }

  input[type="email"]:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #fff;
  }

  input[type="password"] {
    background: url(asset-path("pass-icon.svg"));
    background-repeat: no-repeat;
    background-position: 20px 12px;
    font-family: $primary-font;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    max-width: 400px;
    padding: 6px 20px 6px 60px;
    background-color: #fff;
    border: 1px solid $primary-color;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-bottom: 3rem;
  }

  input[type="password"]:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #fff;
  }

  .button-main {
    border: none;
    position: relative;
    outline: none;
    width: 300px;
    font-size: 1.5rem;
    font-family: $primary-font;
  }

  .button-link {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
  }

  &__join {
    margin-top: 5rem;
  }

  &__btn {
    &-facebook {
      border: 1px solid #3b5998;
      border-radius: 30px;
      background: #3b5998;
      color: #fff;
      padding: 1rem 2.5rem;
      text-decoration: none;
      transition: all 0.2s ease;
      width: 300px;
      text-align: center;
      margin: 1rem auto;
      display: block;

      &:hover {
        border: 1px solid #3b5998;
        color: #3b5998;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      }
    }

    &-twitter {
      border: 1px solid #08a0e9;
      border-radius: 30px;
      background: #08a0e9;
      color: #fff;
      padding: 1rem 2.5rem;
      text-decoration: none;
      transition: all 0.2s ease;
      width: 300px;
      text-align: center;
      margin: 1rem auto;
      display: block;

      &:hover {
        border: 1px solid #08a0e9;
        color: #08a0e9;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      }
    }

    &-link {
      color: #000;
      text-decoration: none;
      margin-bottom: 1rem;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.login {
  &__modal-block {
    background: #fff;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: 6rem auto;
    padding: 3rem;
    width: 50%;
    text-align: center;
  }
}

.plans-container {
  margin-bottom: -15rem;
}

.plans-container__edu {
  margin-bottom: 5rem;
}

.premium {
  &__header {
    text-align: center;
    background: linear-gradient(270deg, #0f75ff, #7964ff);
    padding: 3rem 0;
    &-intro {
      padding-top: 10rem;
    }
  }
}

.paypal {
  &__table {
    width: 100%;
    justify-content: center;
    display: flex;

    td {
      border: none;
    }
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(asset-path("arrow-down.svg"));
    background-repeat: no-repeat;
    background-position: 15px 21px;
    font-family: $primary-font;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    max-width: 400px;
    padding: 6px 20px;
    background-color: #fff;
    border: 1px solid $primary-color;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-bottom: 0;
    background-size: 15px;
    padding: 6px 20px 6px 40px;
  }
}

.conekta-paymentForm {
  padding: 2rem;
  text-align: left;
  width: 95%;
  margin: 0 auto;

  &__title {
    color: $primary-color;
    font-family: $primary-font;
    margin: 2rem 0;
  }

  &__icon {
    margin-left: 0.5rem;
  }

  &__input {
    font-family: $primary-font;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    max-width: 400px;
    padding: 6px 20px 6px 60px;
    background-color: #fff;
    border: 1px solid $primary-color;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-top: 1rem;
    padding: 2rem 2.5rem !important;
    display: block;
  }

  &__divider {
    border-right: 1px solid #d1d1d1;
  }

  &__select {
    margin-bottom: 2rem;
  }

  .small-input {
    display: inline;
    max-width: 190px;
    width: 50% !important;
  }

  .medium-input {
    display: inline;
    max-width: 190px;
    width: 100% !important;
  }
}

#card-form {
  margin-bottom: 0;
}
