.navbar {
  width: 100%;

  &__container {
    display: flex;
    height: 110px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5%;
    transition: 0.3s;
    width: 100%;
  }

  &__icon {
    margin-left: 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      height: 60px;
    }

    &-small {
      height: 30px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    &-link {
      color: #000;
      margin-right: 2rem;
      text-decoration: none;
    }
  }
}

.scrolled {
  background-color: #fff;
  height: 100px;
  position: fixed;
  transition: 0.3s;
  width: 100%;

  .navbar-sign__menu-link {
    color: $primary-color;
  }

  .button-min-alpha {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  .button-min-white {
    background: $primary-color;
    color: #fff;
  }
}

.navbar-edu {
  position: absolute;
  z-index: 1;

  &__menu {
    display: flex;
    align-items: center;

    &-link {
      color: $secondary-color;
      margin-right: 2rem;
      text-decoration: none;
    }

    &-linkMain {
      color: $primary-color;
      margin-left: 3rem;
      text-decoration: none;
    }
  }
}

.navbar-sign {
  position: absolute;
  z-index: 1;

  &__menu {
    display: flex;
    align-items: center;

    &-link {
      color: #fff;
      margin-right: 2rem;
      text-decoration: none;
    }
  }
}

.fa-star {
  color: #fff;
}

.navbar-upgrade__menu-link {
  color: $signal-color;
  text-decoration: none;
}

.sidebar {
  background: linear-gradient(-134deg, #0f75ff 0%, #7964ff 100%);
  padding: 0 1rem;
  position: fixed;
  height: 100vh;
  min-width: 250px;
  width: 20%;
  z-index: 9999;

  &__logo {
    text-align: center;
    padding-top: 4rem;
  }

  &__menu {
    margin-top: 5rem;

    &-list {
      list-style: none;
    }

    &-listItem {
      display: flex;
      padding: 1rem;
      align-content: center;
      align-items: center;
      text-decoration: none;

      span {
        color: #fff;
        padding-left: 1rem;
        text-decoration: none;
      }
    }

    &-listItem:hover {
      background: #fff;

      span {
        color: $primary-color;
      }
    }

    &-img {
      height: 40px;
    }
  }
}

.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #fff;
  z-index: 99;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: $primary-color;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  background: linear-gradient(-134deg, #0f75ff 0%, #7964ff 100%);
  padding: 0 1rem;
  height: 100vh;
  z-index: 98;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  list-style: none;
  position: absolute;
  top: 5em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 17em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
}

.s-sidebar__nav-link span {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: #fff;
}

.s-sidebar__nav-link > i {
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__logo,
.sidebar__logo-icon {
  display: none;
}

.dashboard-container {
  margin-top: 1em;
}

@media (min-width: 23em) {
  .dashboard-container {
    margin-left: 4em;
  }

  .s-layout__content {
    margin-left: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__trigger {
    width: 4em;
  }

  .sidebar__logo-icon {
    position: fixed;
    display: flex;
    padding: 1rem;
    bottom: 0;
    height: 60px;
  }

  .sidebar__trigger-extended {
    width: 17em;
  }

  .sidebar__nav-extended {
    width: 17em;
  }
}

@media (min-width: 50em) {
  .dashboard-container {
    margin-left: 15em;
  }

  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 17em;
  }

  .s-sidebar__nav ul {
    top: 8.3em;
  }

  .sidebar__logo {
    display: block;
  }
}

.footer {
  background: #e5edf9;
  margin-top: 15rem;
  padding: 5rem 0;

  &__logo {
    height: 60px;
    margin-bottom: 3rem;
  }

  &__title {
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__text {
    color: #000;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
  }

  &__social {
    margin-top: 2rem;
  }

  &__icon {
    color: #000;
    font-size: 2rem;
    margin-right: 1.5rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.footer-land {
  background: #fff;
  margin-top: 15rem;
  padding: 5rem 0;

  &__logo {
    height: 60px;
    margin-bottom: 3rem;
  }

  &__title {
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
  }

  &__social {
    margin-top: 2rem;
  }

  &__icon {
    color: #000;
    font-size: 2rem;
    margin-right: 1.5rem;

    &:hover {
      color: $primary-color;
    }
  }
}

@media only screen and (max-width: 780px) {
  .navbar {
    display: none;
  }
}
