.notice {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background: #23ce55;
  color: #fff;
  margin-bottom: 0;
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background: #ff0e0e;
  color: #fff;
  margin-bottom: 0;
}
