.profile {
  &__recently-sidebar {
    border-right: 1px solid $primary-color;
    margin-top: 3rem;

    &-title {
      color: $primary-color;
      margin-bottom: 3rem;
    }

    &-category {
      display: flex;
      text-decoration: none;
    }

    &-icon {
      color: #000;
      height: 20px;
      display: inline;
      margin-right: 1rem;
    }

    &-link {
      display: inline;
      color: #000;
      text-decoration: none;
    }

    &-plans {
      margin-top: 3rem;
    }

    &-plansTitle {
      color: $signal-color;
      margin-bottom: 1rem;
    }

    &-plansLink {
      background: (linear-gradient(to right, #0f75ff 0%, #7964ff 100%));
      margin-left: 0;
    }

    &-card {
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      height: 220px;
      margin-bottom: 5rem;
      margin-top: 3rem;

      &-wrap {
        display: inline-block;
      }

      &-img {
        border-radius: 25px 0 0 25px;
        height: 220px;
        width: 100%;
        display: inline-block;
      }

      &-about {
        display: inline-block;
        margin-top: 2rem;
      }

      &-title {
        color: $primary-color;
        display: inline-block;
      }

      &-description {
        display: inline-block;
      }

      &-type {
        color: #9b9b9b;
        display: inline-block;
      }
    }
  }

  &__intro {
    &-videoTitle {
      color: #0f75ff;
      font-family: $primary-font;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-top: 3rem;
    }

    &-subtitle {
      font-weight: 700;
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 0;

      span {
        color: #5dae04;
      }
    }

    &-date {
      color: #9b9b9b;
      font-size: 1.3rem;
      margin-top: 1rem;
    }

    &-emisoras {
      margin: 0 auto;
      margin-top: 3rem;
      width: 99%;
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    &-emisoras-logo {
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      padding: 1rem 2rem;
      display: flex;
      align-content: center;
      justify-content: center;
      height: 120px;
      margin-bottom: 2rem;
      margin: 0 auto;

      a {
        display: flex;
        align-content: center;
        justify-content: center;
      }

      &-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &-text {
      margin-top: 1rem;
    }
  }

  &__education {
    margin: 2rem 0;
  }

  &__intro-watchlist {
    margin-top: 2rem;

    &-table {
      list-style: none;
    }

    &-table-element {
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      padding: 1rem 2rem;

      p {
        display: inline-block;
        margin-bottom: 0;
      }

      .watchlist-percentage {
        margin-left: 2rem;
        float: right;
      }

      .watchlist-price {
        float: right;
      }

      .watchlist-company {
        align-self: flex-start;
      }

      .watchlist-icon {
        margin-right: 1rem;
      }

      .up {
        color: #5dae04;
        font-weight: 700;
        float: right;
      }

      .down {
        color: #ff0e0e;
        font-weight: 700;
        float: right;
      }
    }
  }

  &__intro-señales {
    &-block {
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      margin: 4rem auto;
      padding: 2rem;
      width: 80%;
      text-align: center;
    }

    &-title {
      color: $primary-color;
      font-weight: 700;
      margin-bottom: 0;
    }

    &-date {
      color: #9b9b9b;
      font-size: 1.3rem;
    }

    &-list {
      list-style: none;
      margin-bottom: 0;
      max-width: 350px;
      margin: 0 auto;
    }

    &-listElement {
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 1rem;
      }

      &-price {
        font-weight: 700;
      }
    }

    &-graph {
      max-width: 400px;
      margin: 0 auto 2rem auto;
    }
  }

  &__intro-videos {
    .profile__intro-table {
      width: 100%;
      margin-bottom: 5rem;
    }

    .profile__intro-tableTitle {
      color: $primary-color;
      font-weight: 400;
    }

    &-tag {
      background: $secondary-color;
      border-radius: 25px;
      color: #fff;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
      padding: 0 1rem;
    }

    &-row {
      margin-bottom: 5rem;
    }
  }

  &__intro-señales {
    .profile__intro-table {
      width: 100%;
      margin-bottom: 5rem;

      p {
        margin-bottom: 0;
      }
    }

    .profile__intro-tableTitle {
      color: $primary-color;
      font-weight: 400;
    }

    .signal-date {
      color: #9b9b9b;
      font-size: 1.3rem;
    }

    .signal-loss {
      color: #ff0e0e;
    }

    .signal-company {
      display: inline-block;
      font-weight: 700;
    }

    .signal-reached {
      color: #5dae04;
    }

    .signal-notReached {
      color: #9b9b9b;
      opacity: 0.5;
    }

    .signal-graph {
      width: 100%;
      max-width: 50px;
      cursor: pointer;
    }

    .signal-tag {
      background: $secondary-color;
      border-radius: 25px;
      color: #fff;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
      padding: 0 1rem;
      text-decoration: none;
    }
  }
}

.signal-tag {
  background: $secondary-color;
  border-radius: 25px;
  color: #fff;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-decoration: none;
}

.expanded {
  width: 100% !important;
  max-width: none !important;
  position: fixed;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10%;
  height: 100%;
  top: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 83%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  margin-left: 17em;
}

.payment-modal {
  border-radius: 15px;
  margin: 2rem auto;
  padding: 2rem;
  width: 100%;
  position: relative;
  text-align: left;
  display: inline-block;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeAlt {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: fixed;
}

.close:hover,
.close:focus {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.closeAlt:hover,
.closeAlt:focus {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 3rem 5rem;
  text-align: center;
  color: white;
  background: #000;
}

.modal-body {
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.modal-footer {
  color: white;
  width: 70%;
  margin: 0 auto;
  max-width: 600px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 780px) {
  .modal-content {
    margin-left: 4em;
    width: 96%;
  }

  .payment-modal {
    margin: 0 auto;
  }

  .conekta-paymentForm__divider {
    border: none;
  }
}
