.signals {
  &__header {
    margin: 5rem 0;

    &-cover {
      width: 100%;
    }

    &-button {
      background-color: #fff;
      color: $secondary-color;
      margin-left: 0;
      margin-top: 2rem;
      text-decoration: none;
    }
    &-video {
      padding: 7rem 0 0 6rem;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-result {
      padding: 15rem 7rem;
    }

    &-bg {
      background: linear-gradient(270deg, #0f75ff, #7964ff);
      padding: 7rem;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-title {
      color: #fff;
      font-family: $secondary-font;
      line-height: 6.2rem;
      margin: 0 auto;
      margin-top: 5rem;
    }

    &-subtitle {
      color: #000;
      margin-top: 3rem;

      span {
        color: $primary-color;
      }
    }

    input[type="email"] {
      background: url("../assets/images/search-icon.svg");
      background-repeat: no-repeat;
      background-position: 20px 16px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 60px;
      width: 100%;
      padding: 6px 20px 6px 60px;
      margin-bottom: 2.5rem;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
    }

    input[type="email"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    }
  }

  &__intro {
    text-align: center;
    margin-bottom: 5rem;

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin-bottom: 3rem;
      margin-top: 5rem;
    }

    &-about {
      display: inline-block;
      font-size: 1.8rem;
      line-height: 3.2rem;
      text-align: center;
      margin-top: 3rem;
    }

    &-step-title {
      font-weight: 700;
      padding: 0 1rem;
    }

    &-step-subtitle {
      padding: 0 1rem;
    }

    &-step-image {
      padding: 2rem;
      width: 75%;
    }

    &-service {
      align-items: center;
      display: flex;
      margin: 5rem 0;
    }
  }

  &__plansAlt {
    background: linear-gradient(270deg, #0f75ff, #7964ff);
    background-size: 200% 200%;
    padding: 5rem 0;
    margin-top: 10rem;
    margin-bottom: -15rem;
  }

  &__plans {
    background: linear-gradient(270deg, #0f75ff, #7964ff);
    background-size: 200% 200%;
    padding: 5rem 0;
    text-align: center;

    &-headerTitle {
      color: #fff;
      font-family: $secondary-font;
    }

    &-about {
      text-align: left;
    }

    &-quote {
      color: #fff;
      line-height: 6.2rem;
      margin-bottom: 3rem;
    }

    &-button {
      margin-top: 1rem;
    }

    &-benefits {
      text-align: left;
      color: #fff !important;
    }

    &-benefitsList {
      color: #fff;
    }

    &-benefitsTitle {
      color: #fff;
      margin-bottom: 3rem;
    }

    &-benefitsSubtitle {
      color: #fff;
      font-weight: 700;
    }

    &-headerText {
      color: #fff;
      margin-top: 1rem;
    }

    &-title {
      color: $signal-color;
      font-family: $secondary-font;
      font-size: 2rem;
    }

    &-subtitle {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 0;
    }

    &-subtitleAlt {
      color: #9b9b9b;
    }

    &-icon {
      margin-bottom: 2.5rem;
    }

    &-description {
      list-style: none;
    }

    &-able {
      color: #000;
      font-weight: 700;
    }

    &-unable {
      color: #9b9b9b;
      text-decoration: line-through;
    }

    &-card {
      &-sideA {
        background: #fff;
        border-radius: 25px;
        width: 100%;
        max-width: 350px;
        margin: 2rem auto;
        padding: 3rem;
      }

      &-sideB {
        background: #fff;
        border-radius: 25px;
        width: 90%;
        max-width: 350px;
        margin: 2rem auto;
        padding: 2rem;
      }

      &-sideC {
        background: #fff;
        border-radius: 25px;
        width: 90%;
        max-width: 350px;
        margin: 2rem auto;
        padding: 2rem;
      }
    }

    &-paypalForm {
      display: none;
      margin-bottom: 0;
    }

    .button-gradient__sign {
      margin: 0 auto;
    }
  }

  &__payments {
    display: none;
    margin-bottom: 0;
  }

  &__outro {
    padding-top: 5rem;
    text-align: left;

    &-title {
      color: $primary-color;
      font-family: $secondary-font;
      margin: 3rem 0;
    }

    &-text {
      width: 80%;
    }

    input[type="email"] {
      background: url(asset-path("mail-icon.svg"));
      background-repeat: no-repeat;
      background-position: 20px 19px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 60px;
      width: 80%;
      padding: 6px 20px 6px 60px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin: 15rem 0 3rem;
    }

    input[type="email"]:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
      border: 1px solid #fff;
    }

    .button-min {
      margin-left: 0;
    }
  }
}

.premium-toggle {
  cursor: pointer;
  display: block;
}

.paypal-logo {
  height: 25px;
}

@media only screen and (max-width: 780px) {
  .signals__header-video {
    display: none;
  }
  .signals__header-bg {
    padding: 5rem 3rem;
    height: auto;
  }

  .signals__outro {
    input[type="email"] {
      background: url(asset-path("mail-icon.svg"));
      background-repeat: no-repeat;
      background-position: 20px 19px;
      font-family: $primary-font;
      font-size: 1.5rem;
      height: 60px;
      width: 80%;
      padding: 6px 20px 6px 60px;
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 30px;
      box-shadow: none;
      transition: all 0.3s ease;
      margin: 5rem 0 3rem;
    }
  }
}
