$primary-font: "Karla", sans-serif;
$secondary-font: "Karla", serif;
$primary-color: #0f75ff;
$secondary-color: #08418c;
$edu-color: #6ee691;
$signal-color: #fb6340;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "skeleton";
@import "navbar";
@import "responsive-navbar";
@import "landing";
@import "buttons";
@import "education";
@import "signals";
@import "login";
@import "profile";
@import "notifications";
@import "dashboard";
@import "lightbox";
