<p>Hello <%= @resource.email %>!</p>

<p>Has solicitado un cambio de contraseña. Puedes continuar con el enlace a continuación.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no has hecho esta solicitud, favor de ignorar este correo.</p>
<p>Tu contraseña no cambiará hasta acceder al enlace y generar una nueva.</p>
