<% content_for :page_title, 'Finapp - Podcasts' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= image_tag("sidebar-podcast__icon.png", class: "dashboard__welcome-img") %>
          <span>
            Podcasts
            <h3 class="dashboard__welcome-title">Podcasts Financieros</h3>
          </span>

        </div>
        <div class="dashboard__intro">
          <h4 class="profile__intro-title">Nuevos episodios</h4>
          <div class="dashboard__intro-profile">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
