<% content_for :page_title, 'Finapp - Aviso de privacidad' %>
<%= render 'shared/nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <h2 class="education__header-title">Aviso de privacidad</h2>
      <p class="education__header-subtitle-text">Salir de una deuda y mantenerse sin una deuda no es fácil.  Aprende a dejar de contraer nuevas deudas y cambiar tu vida para siempre.</p>
      <p class="education__header-subtitle"><span>Última actualización:</span> Agosto 2018</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blogTitle">1. Monitorea tus gastos.</p>
        <p class="education__content-blog">
          Comienza con escribir todas las compras que haces, sin importar qué tan pequeñas sean. Hay que escribir estas cosas para poder usar los números e identificar cuáles son tus hábitos de gastos.
        </p>
        <p class="education__content-blogTitle">2. Evaluar los gastos.</p>
        <p class="education__content-blog">
          Los gastos son todas las salidas de dinero. Para saber en realidad en qué situación se está, hay que incluir todos los gastos actuales, desde la vivienda hasta los pequeños desembolsos diarios. Y no se deben olvidar otros ocasionales como las vacaciones, los regalos de cumpleaños y las compras navideñas o las rebajas. Cuanta más información contenga el presupuesto, más válido es. Por ello, conviene recopilar los documentos necesarios: recibos de domiciliaciones, compras, extractos de bancos, libretas, talones y facturas.
          <br>
          Es aconsejable que los gastos no superen el 90% de los ingresos, para poder ahorrar, como mínimo, el 10% restante cada mes. Este 10% se puede destinar a reducir deudas, crear un fondo para emergencias o acumular capital para hacer una adquisición importante y preparar la jubilación. Cuanto más se ahorra, más opciones se tienen de inversión y se dispone de más control sobre el futuro.
        </p>
        <p class="education__content-blogCaption">
          "Es aconsejable que los gastos no superen el 90% de los ingresos, para poder ahorrar, como mínimo, el 10% restante cada mes"
        </p>
        <p class="education__content-blogTitle">3. Reducir los gastos.</p>
        <p class="education__content-blog">
          Para lograr una situación financiera sana se requiere recortar los gastos. Hay que registrar todos los gastos que se realizan cada mes y diferenciarlos según el tipo de desembolso. Conviene distinguir entre:
          <br>
          <b>Gastos fijos obligatorios:</b> su importe no suele variar mucho mes a mes y no pueden dejarse de pagar. Entre ellos figuran la hipoteca o el alquiler de la vivienda, los gastos de comunidad o los préstamos bancarios. Si no se abonan en los plazos establecidos, se aplican gastos adicionales de demora y la cantidad que se paga y la deuda aumentan demasiado. Además, puede verse afectado el historial crediticio del deudor, con lo que se dificulta la obtención de préstamos en el futuro. En el peor de los casos, si no se cumple con los pagos, se puede perder la vivienda, o afrontar juicios y demandas, con sus correspondientes costes.
          <br>
          <b>Gastos variables necesarios:</b> son los suministros (agua, gas, electricidad, teléfono, etc.), la comida, la ropa o el transporte. Son gastos necesarios en la vida diaria, que se pueden reducir si se hace un consumo más moderado.
          <br>
          <b>Gastos discrecionales:</b> son todos los demás desembolsos que, en caso de necesidad, se podrían reducir o eliminar. Cuando hay que economizar, en general, es más fácil empezar con este tipo de gastos, en los que están las comidas fuera de casa, las actividades de ocio, la compra de discos y películas, el tabaco, etc
        </p>
        <p class="education__content-blogTitle">4. Aplicar el nuevo presupuesto de acuerdo a los ajustes necesarios.</p>
        <p class="education__content-blog">
          La finalidad de un presupuesto es que los ingresos cubran todos los gastos, hasta el 10% destinado al ahorro mensual. Una vez identificados los recortes necesarios, hay que elaborar el presupuesto, comprometerse a cumplirlo y revisarlo para que se ajuste a la realidad con objetivos alcanzables. Por ello, si se consigue un aumento de sueldo, no conviene incrementar los gastos en la misma cantidad. Es mejor destinar una parte de esa subida al ahorro.
          <br>
          Además, para que el presupuesto funcione, hay que actualizarlo mes a mes. Es importante mantener el presupuesto familiar actualizado, en especial, los primeros meses en los que se pone en marcha y cuando es más que probable que no se tengan identificados todos los posibles gastos.
        </p>
      </div>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>
