<% content_for :page_title, 'Finapp - Terminos y Condiciones' %>
<%= render 'shared/nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <h2 class="education__header-title">Términos y condiciones</h2>
      <p class="education__header-subtitle-text">Salir de una deuda y mantenerse sin una deuda no es fácil.  Aprende a dejar de contraer nuevas deudas y cambiar tu vida para siempre.</p>
      <p class="education__header-subtitle"><span>Última actualización:</span> Agosto 2018</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Los presentes términos y condiciones regulan el uso y acceso a la plataforma de información financiera (en lo sucesivo “FINAPP”) ofrecida por VANFINTEC, S.A.P.I. DE C.V. (en lo sucesivo “VANFINTEC”) el cual, tiene como finalidad poner a disposición del USUARIO videos y artículos sobre información financiera y bursátil y noticias y/o avisos en la Bolsa Mexicana de Valores que le permitan desarrollar habilidades financieras en pro del bienestar de sus finanzas personales.
          VANFINTEC no recibió, recibe ni tampoco recibirá contraprestación económica alguna por las oportunidades de inversión en la Bolsa Mexicana de Valores que cualquier USUARIO decida tomar bajo su propia responsabilidad.
          VANFINTEC tampoco asume responsabilidad por cualquier acción tomada por los usuarios en relación a la información que aparezca en FINAPP. Queda expresamente establecido que VANFINTEC no proporciona servicios de asesoría financiera para inversionistas, no llevará a cabo recomendaciones sobre cualquier tipo de valor y se limitará a publicar información financiera disponible al público en general. VANFINTEC bajo ningún caso prestará servicios financieros reservados para casas de bolsa o instituciones financieras.
          <br>
          <br>
          El acceso a la plataforma es puesto a disposición en la dirección electrónica: https://www.finapp.mx La calidad de USUARIO se le atribuye a la persona que acceda y haga uso de la plataforma, mismos que pueden ser clientes o no clientes de VANFINTEC, éstos se encuentran sujetos de conformidad a los presentes términos y condiciones, así como a las modificaciones que pudieran llegar a tener lugar.
          El USUARIO es responsable de leer con detenimiento el presente documento el cual, puede estar sujeto a futuras modificaciones, por lo que será obligación del usuario consultar periódicamente la versión vigente, la cual se encontrará disponible en el sitio web antes mencionado. En caso de que el USUARIO, en cualquier momento, se encuentre inconforme de manera total o parcial con los presentes TÉRMINOS Y CONDICIONES, así como con sus modificaciones, deberá de abstenerse de manera inmediata de hacer uso de la plataforma.
          Derivado de lo anterior, el usuario que acceda y haga uso de la plataforma y de los servicios o herramientas puestas a disposición en la misma, acepta que las actividades que se lleven a cabo al amparo de lo anterior serán regidas por los presentes términos y condiciones, así como las leyes y disposiciones vigentes, los cuales el usuario en este acto reconoce que ha leído, entendido y, por lo tanto, se obliga al cumplimiento de los mismos.
          <br>
          <br>
          <br>
          <br>
          1. SERVICIO
          A través de la red global de información conocida como “Internet”, el sitio web de VANFINTEC le ofrece al usuario la posibilidad de hacer uso de la plataforma, de la manera que mejor corresponda a su perfil. A efecto de acceder a ciertos servicios puestos a disposición en línea para los usuarios, éstos deberán registrarse en la plataforma y proporcionar los datos que le sean solicitados de acuerdo a los servicios que pretenda utilizar. Las herramientas y servicios varían tal y como se detalla a continuación:
          1.1 Servicio Básico: Acceso a videos, artículos y audio de información financiera general gratuita.
          1.2 Servicio Premium (Suscripción): Acceso a videos, artículos y audio de información financiera y mentoría bursátil. Adicionalmente, tendrá acceso a avisos y videos de seguimiento de la situación del mercado.
          El costo de dicho servicio será la cantidad de $750.00 mxn mensual. La suscripción a este servicio será mensual (calendario) y se renovará automáticamente para los usuarios. El servicio se cobrará por mes calendario, independientemente si el usuario únicamente utilizó el servicio parte de un mes. El usuario podrá cancelar la suscripción en cualquier momento, lo que evitará la renovación automática y ocasionará la cancelación de su suscripción después del vencimiento del mes correspondiente.
          Vanfintec, S.A.PI. DE C.V. no hace recomendaciones de venta o compra en el mercado bursátil ni tiene la finalidad de obtener algún beneficio de cualquier operación. Los avisos que se envían son meramente informativos con información general para el público inversionista. Cualquier operación financiera o cualquier pérdida o ganancia relacionado con alguna operación financiera es bajo responsabilidad del usuario.
          <br>
          <br>
          2. RESPONSABILIDAD DE LOS USUARIOS.
          Cada USUARIO es responsable del uso y acceso a la plataforma, por lo que en términos del presente instrumento el usuario se obliga a no hacer uso incorrecto o no autorizado de la misma. VANFINTEC se reserva el derecho, en todo momento, de suspender el acceso y uso de la plataforma en caso de detectar el uso incorrecto o no autorizado de la misma por parte de los usuarios, así como de los servicios y herramientas puestos a disposición de éstos.
          Los usuarios se obligan a sacar en paz y a salvo a VANFINTEC de cualquier controversia y/o litigio, de cualquier índole que se genere con motivo del uso indebido y/o no autorizado del presente servicio.
          El usuario será responsable del funcionamiento o compatibilidad de sus equipos de computación, conexión o cualquier otro componente para accesar a los servicios de VANFINTEC.
          Cada USUARIO es responsable de sus portafolios de Inversión y VANFINTEC es únicamente un instrumento por el cual los USUARIOS pueden mantenerse enterados de acontecimientos del mercado así como de nuevas metodologías de inversión las cuales son compartidas por medio de señales para dar una realidad y practicidad a la metodología.
          <br>
          <br>
          3. RESPONSABILIDAD DE VANFINTEC.
          VANFINTEC no se hace responsable bajo ninguna circunstancia de lo siguiente:
          I. Fallas de la plataforma, que representen la imposibilidad total o parcial de los usuarios para hacer uso de la misma, en este caso, se realizarán los mejores esfuerzos para rehabilitar el funcionamiento lo más pronto posible.
          II. Daños que el servicio pueda ocasionar a los sistemas, dispositivos y conexiones del usuario, éste último será el único responsable de cerciorarse que los medios que se utilicen sean compatibles con la plataforma.
          III. Que el contenido de la plataforma se encuentre totalmente libre de virus, es responsabilidad del usuario contar con las herramientas necesarias para la protección de sus dispositivos de acceso.
          IV. El envío incompleto de información ocasionado por problemas de velocidad en la conexión de internet, conexión interrumpida, errores o virus.
          V. Costos asociados al acceso y conectividad a internet de los usuarios.
          <br>
          <br>
          4. DATOS PERSONALES Y AVISO DE PRIVACIDAD
          VANFINTEC, S.A.P.I. DE C.V. está comprometido con la protección de tus datos personales, al ser responsable de su uso, manejo y confidencialidad, el uso y protección de tus datos personales, así como nuestro AVISO DE PRIVACIDAD se pone a disposición para consulta de los USUARIOS en la siguiente dirección electrónica: www.finapp.mx
          <br>
          <br>
          5. VIGENCIA DE LOS TÉRMINOS Y CONDICIONES
          Los presentes Términos y Condiciones tendrán una duración indefinida, por lo que los usuarios aceptan y reconocen que VANFINTEC puede, en cualquier momento y sin previa notificación a los mismos, establecer prácticas y políticas generales, así como limitaciones a las ya existentes, respecto de los servicios ofrecidos, dichas modificaciones serán puestas a disposición del usuario para su consulta en el sitio web antes mencionado por lo que, 10 (diez) días posteriores a la fecha de publicación, las mismas serán aplicables para los usuarios. En caso que el usuario no acepte dicho términos y condiciones, deberá abstenerse de utilizar los servicios y/o podrá informar a VANFINTEC a través de los medios pactados la inconformidad con los términos y condiciones para proceder a la disolución del presente vínculo y su inhabilitación como Usuario Registrado de FINAPP.
          <br>
          <br>
          6. JURISDICCIÓN Y LEY APLICABLE.
          Este acuerdo estará regido en todos sus puntos por las leyes vigentes en los Estados Unidos Mexicanos y por la legislación mexicana correspondiente. Cualquier controversia derivada de los presentes términos y condiciones respecto de su validez, interpretación, alcance o cumplimiento, será sometida a las leyes aplicables y a los Tribunales competentes.
          Para la interpretación, cumplimiento y ejecución de los presentes términos y condiciones, las partes expresamente se someten a la jurisdicción de los tribunales competentes de la Ciudad de Monterrey, Nuevo León, renunciando en consecuencia a cualquier fuero que en razón de su domicilio presente o futuro pudiera corresponderles.
        </p>

      </div>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>
