<% content_for :page_title, 'Finapp - Dashboard' %>
<%= render 'shared/sidebar' %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="dashboard__welcome">
          <%= link_to(dashboard_info_path, class: "dashboard__welcome-back") do %>
            <i class="fas fa-chevron-left"></i>
            <p class="dashboard__welcome-backText">Regresar a emisoras</p>
          <% end %>
        </div>
        <div class="profile__intro">
          <h2 class="profile__intro-title">Bimbo - BIMBOA</h2>
          <p class="profile__intro-subtitle">Prospecto</p>
          <div class="profile__intro-señales">
            <table class="profile__intro-table">
              <tbody>
                <tr>
                  <th><i class="fas fa-paperclip"></i></th>
                  <th>Título</th>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/prospecto/BIMBOA_PROSPECTO.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBOA_PROSPECTO.pdf</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="profile__intro-subtitle">Reportes trimestrales</p>
          <div class="profile__intro-señales">
            <table class="profile__intro-table">
              <tbody>
                <tr>
                  <th><i class="fas fa-paperclip"></i></th>
                  <th>Título</th>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2018_2T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2018_2T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2018_1T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2018_1T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2017_4T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2017_4T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2017_3T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2017_3T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2017_2T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2017_2T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2017_1T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2017_1T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2016_4T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2016_4T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2016_3T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2016_3T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2016_2T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2016_2T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2016_1T_XBRL.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2016_1T_XBRL.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2015_4T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2015_4T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2015_3T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2015_3T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2015_2T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2015_2T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2015_1T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2015_1T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2014_4T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2014_4T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2014_3T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2014_3T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2014_2T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2014_2T.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/trimestrales/BIMBO_RT_2014_1T.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_RT_2014_1T.pdf</td>
                </tr>
              </tbody>
            </table>
          </div>

          <p class="profile__intro-subtitle">Reportes anuales</p>
          <div class="profile__intro-señales">
            <table class="profile__intro-table">
              <tbody>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/anuales/BIMBO_REPORTEANUAL_2017.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_REPORTEANUAL_2017.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/anuales/BIMBO_REPORTEANUAL_2016.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_REPORTEANUAL_2016.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/anuales/BIMBO_REPORTEANUAL_2015.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_REPORTEANUAL_2015.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/anuales/BIMBO_REPORTEANUAL_2014.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_REPORTEANUAL_2014.pdf</td>
                </tr>
                <tr>
                  <td><%= link_to "Ver", pdfjs.minimal_path(file: "https://s3.us-east-2.amazonaws.com/info-funamental-ipc/GrupoBimbo-BIMBOA/anuales/BIMBO_REPORTEANUAL_2013.pdf"), target: :_blank, class: 'signal-tag' %></td>
                  <td>BIMBO_REPORTEANUAL_2013.pdf</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
