<% content_for :page_title, 'Finapp - ¿Me pueden embargar el salario?' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">¿Me pueden embargar el salario?</h3>
          <p class="education__content-description">Embargar el salario para garantizar el pago de deudas es normal en algunos países.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("deudas-4_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Embargar el salario – o una parte de él – para garantizar el pago de deudas es normal en algunos países. En México sin embargo no es tan común – e incluso varios tribunales han interpretado la legislación al  de manera distinta.
          <br>
          <br>
          Pues bien, la Suprema Corte de Justicia de la Nación (SCJN) acaba de pronunciarse al respecto.
        </p>
        <p class="education__content-blogTitle">¿Se puede embargar el salario por deudas?</p>
        <p class="education__content-blog">
          Hay personas que piensan que el salario es inembargable, de hecho en la Ley se señala expresamente. Sin embargo, de acuerdo con los ministros de la segunda sala de la Suprema Corte de Justicia, esto se refiere únicamente al salario mínimo.
          <br>
          <br>
          Por lo tanto un juez sí puede otorgar un fallo que implique embargar el salario para garantizar el pago de deudas de carácter civil o mercantil, pero sólo hasta un 30% de lo que exceda al salario mínimo. Pero – repito – se requiere la orden de un juez.
          <br>
          <br>
          Sin embargo el caso de una pensión alimenticia, el embargo puede ser hasta el 100% de lo que exceda al salario mínimo, con el fin de proteger a la familia, principalmente a los hijos. Ya que al final el salario es precisamente para cubrir las necesidades de una familia.
          <br>
          <br>
          Vale la pena leer este post de Isela Muñoz de El Peso Nuestro al respecto.
        </p>
        <p class="education__content-blogTitle">Los cobradores no pueden embargar salario</p>
        <p class="education__content-blog">
          Es importante mencionar que para que un embargo pueda proceder – de cualquier tipo – se requiere la orden de un juez. Para ello tiene que haber una demanda en tu contra y se te debe haber notificado. En ese sentido, un cobrador no puede amenazarte con que te va a embargar el salario, como tampoco te puede embargar tus bienes. Si lo hacen no te intimides.
          <br>
          <br>
          Repito y enfatizo: para que te puedan embargar el salario se requiere la orden de un juez y para que ésta sea emitida, se tiene que haber iniciado una demanda legal en tu contra.
          <br>
          <br>
          No obstante, sí esperaría que con este fallo de la corte, muchos bancos decidan empezar a establecer un mayor número de demandas, ya que ahora tienen la certidumbre de que podrán pedirle al juez embargar el salario de las personas morosas, para de esta manera garantizar el pago de esas deudas.
        </p>
        <p class="education__content-blogTitle">¿Es justo que me puedan embargar el salario?</p>
        <p class="education__content-blog">
          Esta es una pregunta muy difícil de responder. Hay personas que caen en un alto nivel de endeudamiento por irresponsabilidad, pero hay también mucha gente que lo hace por otras razones, como por ejemplo una emergencia familiar.
          <br>
          <br>
          De la misma forma hay personas que se esfuerzan por pagar sus deudas – aunque sea difícil. Pero está el otro lado de la moneda: quienes buscan – de manera cínica e irresponsable – evitar cumplir con sus compromisos.
          <br>
          <br>
          ¿Crees que a los dos se les deba medir con la misma vara? Yo creo que no.
          Me preocupa que en muchas ocasiones aquellas personas que muestran deseos de pagar – y piden una reestructura – se encuentran con la puerta cerrada. Los propios bancos muchas veces cierran el camino de la gente que es responsable y tiene buenas intenciones de arreglar – de común acuerdo – su problema de liquidez.
          <br>
          <br>
          Embargar el salario debería ser el último recurso de las instituciones financieras. No debería ser usado como un elemento de amenaza o de intimidación para los deudores de buena voluntad. Por otro lado, los jueces deberían tomar en cuenta la situación de cada persona – o familia – y antes de ordenar el embargo del salario deberían buscar una solución que sea lo más justo posible para ambas partes.
          <br>
          <br>
          Lo malo es que muchas veces en México esto no es así.
        </p>
        <p class="education__content-source">
           LANZAGORTA, J. O. A. N. (2014, 31 marzo). ¿ME PUEDEN EMBARGAR EL SALARIO POR DEUDAS? Recuperado de <a href="https://planeatusfinanzas.com/embargar-el-salario-por-deudas/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Deudas", page_path('financiera/deudas/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
