<% content_for :page_title, 'Finapp - Errores comunes al consolidar deudas' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Errores comunes al consolidar deudas</h3>
          <p class="education__content-description">Consolidar deudas generalmente es una buena idea siempre y cuando no cometas ciertos errores.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("deudas-2_full.png", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Fabian Blank en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blogTitle">Consolidar por sobreendeudamiento</p>
        <p class="education__content-blog">
          Contrario a lo que muchos creen, la consolidación no suele ser una idea efectiva para resolver casos de sobreendeudamiento. ¿Por qué? Principalmente por dos razones:
        </p>
        <ol>
          <li>Porque cuando te endeudas más de la cuenta difícilmente puedes encontrar un préstamo o crédito que te permita cubrir tus pagos con tasas y plazos que en realidad te resulten convenientes.</li>
          <li>Porque en estos casos puedes creer que el problema desapareció y que puedes seguir endeudándote, cuando en realidad no es así.</li>
        </ol>
        <p class="education__content-blog">
          ¿Entonces cuándo es buena idea? Cuando mes a mes tienes la capacidad de cubrir tus deudas puntualmente y con cierto margen de comodidad. En ese caso sí es posible encontrar alternativas que te permitan pagar menos intereses y con un mejor plazo.
        </p>
        <p class="education__content-blogTitle">No comparar tasas.</p>
        <p class="education__content-blog">
          Desafortunadamente, y por increíble que parezca, muchas personas pagan más intereses de la cuenta porque acostumbran contratar todo tipo de servicios financieros sin antes comparar sus opciones. Triste, pero cierto.
          <br>
          <br>
          Si partimos del hecho de que uno de los principales objetivos de la consolidación de deudas es pagar menos intereses, resulta lógico pensar que la mejor alternativa es optar por la tasa de interés más baja. No obstante, esa costumbre de no comparar diferentes opciones muchas veces ocasiona que seleccionemos una que no necesariamente es la mejor.
          <br>
          <br>
          ¿Realmente quieres sacarle el máximo provecho a la consolidación de deudas? Compara las tasas y selecciona la más baja, así de fácil.
        </p>
        <p class="education__content-blogTitle">Conclusión</p>
        <p class="education__content-blog">
          La consolidación de deudas es una excelente alternativa para pagar menos intereses. Sin embargo, también es pertinente aclarar que no se aconseja para solucionar problemas financieros ocasionados por sobreendeudamientos. Si este no es tu caso, evalúa la posibilidad de cambiar tu deuda. Una alternativa para hacerlo pueden ser los préstamos de persona a persona, a través de plataformas como yotepresto.com, las cuales te permiten disminuir hasta el 50 por ciento los intereses que le pagas al banco. ¿Quieres calcular cuánto podrías ahorrar? Puedes usar su simulador aquí.
        </p>
        <p class="education__content-source">
          ARENAS, Ricardo (2014, 31 marzo). 3 ERRORES COMUNES AL CONSOLIDAR DEUDAS. Recuperado de  <a href="https://planeatusfinanzas.com/3-errores-comunes-al-consolidar-deudas/"  target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Deudas", page_path('financiera/deudas/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
