<% content_for :page_title, 'Finapp - Hasta que las deudas nos alcanzan' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Hasta que las deudas nos alcanzan</h3>
          <p class="education__content-description">Cuando vas a hacer tus compras para el mes, terminas con más deudas en la tarjeta de crédito.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("deudas-6_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          A veces pensamos que podemos gastar de más durante mucho tiempo… hasta que las deudas nos alcanzan. Quiero compartirles una historia real, que me llegó a mi correo electrónico:
          <br>
          <br>
          Aunque preparo mi presupuesto mensual y tengo un flujo de caja, los egresos son superiores a los ingresos. Obligándolos a utilizar la tarjeta de crédito para comprar comida y el día a día. Pero se gasta incluso más de lo estimado.
          <br>
          <br>
          Tenemos muchas deudas y ya no logro aguantar la presión. Necesito consejos (aunque tengo algunas ideas, que mi esposa no comparte) que podrían ayudar a enderezar la situación, pero quisiera saber vuestros consejos y sugerencias.
          <br>
          <br>
          Lamentablemente situaciones como estas son muy comunes. Ya lo he dicho antes: el crédito nunca es una alternativa para completar nuestro gasto diario. Lo narré en este post. No se puede vivir así de manera indefinida, porque llega un momento en que las deudas nos alcanzan.
        </p>
        <p class="education__content-blogTitle">Hasta que las deudas nos alcanzan</p>
        <p class="education__content-blog">
          Lo curioso es que el propio lector ha diagnosticado su problema: gasta mucho más de lo que gana. Eso no es sostenible, no se puede continuar viviendo así de manera indefinida porque pasa lo que le ha sucedido: ya no puede aguantar la presión, ya las deudas lo han alcanzado.
          <br>
          <br>
          No hay soluciones mágicas. Sólo hay una forma de salir: o incrementa sus ingresos o reduce sus gastos – ambos a un nivel que le permitan pagar sus deudas actuales hasta salir de ellas. Y no repetir ese patrón negativo.
          <br>
          <br>
          Sé que es sumamente difícil hacerlo. Cuando las deudas nos alcanzan, estamos demasiado acostumbrados a una vida en la cual gastamos más de lo que ganamos. Es un golpe de realidad que nos obliga no sólo a dejar el estilo de vida que nos llevó hasta donde ahora estamos, sino a recortarlo de manera drástica. Además, a utilizar cualquier dinero extra que podamos generar al pago de esas deudas hasta terminarlas. ¿Nuestras demás metas de vida? Pospuestas también.
          <br>
          <br>
          Mientras tanto, si ese lector tiene algún bien que pueda vender para con ello pagar alguna de sus deudas y disminuir la presión, es una posible alternativa de corto plazo. Si puede conseguir un crédito más barato o a mayor plazo para disminuir su carga, también.
          <br>
          <br>
          Pero eso no soluciona el problema de fondo y es importante que lo comprenda. De lo contrario el “remedio” será peor que la enfermedad.
        </p>
        <p class="education__content-source">
           Lanzagorta, J. O. A. N. (2015, 7 abril). HASTA QUE LAS DEUDAS NOS ALCANZAN. Recuperado de <a href="https://planeatusfinanzas.com/crea-patrimonio-y-dona-paso-bebe-7/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Deudas", page_path('financiera/deudas/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
