<% content_for :page_title, 'Finapp - Deudas' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__header">
  <div class="row education__header-bg3">
    <div class="eight columns offset-by-two">
      <p class="education__header-subtitle">Mostrando lecciones de:</p>
      <h2 class="education__header-title">Deudas</h2>
      <p class="education__header-subtitle-text">Salir de una deuda y mantenerse sin una deuda no es fácil.  Aprende a dejar de contraer nuevas deudas y cambiar tu vida para siempre.</p>
      <p class="education__header-subtitle"><span>6</span> lecciones</p>
    </div>
  </div>
</div>

<div class="education__categoryResult">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 class="education__categoryResult-title">Artículos</h2>
      </div>
    </div>
    <section class="education__cardsGrid">
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/deudas/tarjetas-bancarias')) do %>
            <%= image_tag("deudas-1.png", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Tarjetas bancarias</p>
          <p class="education__categoryResult-card-description">Existen en el mundo muchos tipos de tarjetas bancarias. ¿Cómo elegir la indicada?</p>
          <p class="education__categoryResult-card-theme">#Deudas</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/deudas/errores-comunes-deudas')) do %>
            <%= image_tag("deudas-2.png", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Errores comunes con deudas</p>
          <p class="education__categoryResult-card-description">Consolidar deudas generalmente es una buena idea siempre y cuando no cometas ciertos errores.</p>
          <p class="education__categoryResult-card-theme">#Deudas</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/deudas/tarjeta-endeuda-mas')) do %>
            <%= image_tag("deudas-3.png", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Con tarjeta te endeudas más</p>
          <p class="education__categoryResult-card-description">Cuando vas a hacer tus gastos para el mes, terminas con más deudas en la tarjeta de crédito.</p>
          <p class="education__categoryResult-card-theme">#Deudas</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/deudas/embargar-el-salario')) do %>
            <%= image_tag("deudas-4.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">¿Me pueden embargar el salario?</p>
          <p class="education__categoryResult-card-description">Embargar el salario para garantizar el pago de deudas es normal en algunos países.</p>
          <p class="education__categoryResult-card-theme">#Deudas</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/deudas/traspaso-credito-hipotecario')) do %>
            <%= image_tag("deudas-5.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Traspaso de crédito hipotecario</p>
          <p class="education__categoryResult-card-description">Lo que necesitas saber al respecto de un traspaso de crédito.</p>
          <p class="education__categoryResult-card-theme">#Deudas</p>
        </div>
      </article>
      <article class="education__categoryResult-card">
        <div class="education__categoryResult-card-wrap">
          <%= link_to(page_path('financiera/deudas/hasta-que-las-deudas-nos-alcanzan')) do %>
            <%= image_tag("deudas-6.jpg", class: "education__categoryResult-card-img") %>
          <% end %>
        </div>
        <div class="education__categoryResult-card-about">
          <p class="education__categoryResult-card-type">Artículo</p>
          <p class="education__categoryResult-card-title">Hasta que las deudas nos alcanzan</p>
          <p class="education__categoryResult-card-description">Cuando vas a hacer tus compras para el mes, terminas con más deudas en la tarjeta de crédito.</p>
          <p class="education__categoryResult-card-theme">#Deudas</p>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render 'shared/footer' %>
