<% content_for :page_title, 'Finapp - Tarjetas bancarias' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Tarjetas bancarias</h3>
          <p class="education__content-description">Existen en el mundo muchos tipos de tarjetas bancarias. ¿Cómo elegir la indicada?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("deudas-1_full.png", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Ryan Born en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Existen en el mundo muchos tipos de tarjetas bancarias. Cada una de ellas está pensada con base en las distintas necesidades que los clientes podrían tener. Sin embargo, muchas personas se sienten confundidas entre tantas opciones.
          <br>
          <br>
          Por eso he pensado en hacer este post, como una guía que nos ayudará elegir.
        </p>
        <p class="education__content-blogTitle">Tarjetas bancarias por tipo</p>
        <p class="education__content-blog">
          Lo primero que necesitamos hacer es comprender qué tipo de tarjeta queremos. Existen sólo dos opciones:
        </p>
        <p class="education__content-blogTitle">Control del dinero.</p>
        <p class="education__content-blog">
          Amigos, hay montones y montones de información en esta página y allá afuera sobre cómo hacer un presupuesto, ¡y las diferencias son prácticamente nulas! ¿Quieren la versión más rápida que pueden encontrar?, aquí está: registrar todos los ingresos y sumar, registrar todas las deudas absolutamente obligatorias y sumar, restar el total de deudas del total de ingresos; destinar por lo menos el 10% de esta cantidad a ahorro o inversión y hacer con el resto lo que se guste, siempre y cuando se vigile en qué se está gastando. La próxima vez, si se desea destinar más porcentaje a otras áreas, este registro de los gastos ayudará a saber en dónde se puede recortar. Fin. Controlando el dinero veremos que tenemos más de lo que pensamos.
        </p>
        <p class="education__content-blogTitle">Más dinero.</p>
        <p class="education__content-blog">
          ¿Qué estamos haciendo para conseguirlo? Desear no basta. He aquí la forma más general de hacer dinero: encontrar una necesidad, resolverla y cobrar, repetir. ¿Cómo la aplicamos? Simple, ¿qué habilidad tenemos?, les aseguro que existen personas que pagarán por nuestra habilidad, sin importar lo extraña que sea. Puede venderse como entretenimiento, como curso, como un servicio profesional, ¡hay muchísimas posibilidades!
          <br>
          <br>
          “Es simple, sí, pero no fácil”. Completamente de acuerdo, si fuera tan fácil, todos estaríamos en mejor situación. No necesitamos que sea fácil, necesitamos que sea factible. Lo es.
          <br>
          <br>
          No es estrictamente necesario aprender nuevas habilidades, utilizando las que ya poseemos veremos que podemos hacer más dinero del que pensábamos.
        </p>
        <p class="education__content-blogTitle">No hay tiempo.</p>
        <p class="education__content-blog">
          ¿No hay o no lo estamos administrando? Entonces hagamos un presupuesto de tiempo y, de nuevo, ya hay muchísima información sobre eso que no difiere sustancialmente. ¿La versión más rápida? Claro, aquí está: enumerar las actividades para el día con prioridades en mente, asignar el tiempo que se dedicará a cada tarea sólo para que no surjan problemas (como trabajo o fechas límite), usar el restante para avanzar en cualquier otra cosa que se desee. ¡Listo!
          <br>
          <br>
          Aprendiendo a manejar eficientemente nuestro tiempo veremos que en realidad hemos tenido más del que creíamos, entonces podremos usarlo para pulir las actividades anteriores y verdaderamente dar un cambio a nuestro modo de vivir.
          <br>
          <br>
          Ciertamente esta es una versión muy concisa de una lista que podría extenderse por buen rato, sin embargo, el propósito es hacernos reflexionar aunque sea un poco, porque poco es mejor que nada. Por ejemplo, ¿por qué repito tanto “pensamos” o “creemos”? Bueno, ello se debe a que estoy seguro de que la mayoría de los que hemos ido avanzando en el camino de las finanzas personalescomenzamos así, creyendo o pensando que “algo”, o creyendo y pensando que “esto”, pero cuando por fin decidimos hacer un análisis de nuestra situación financiera, nuestro tiempo y nuestras capacidades, entendimos que sí poseemos muchos recursos que podemos utilizar para cambiar nuestra situación y, ¿por qué no?, la de otros.
          <br>
          <br>
          Entonces, amigos míos, repasemos los hechos: hemos estado pensando y creyendo cosas por un montón de razones que alguien o algo nos metió, quizá hasta nosotros mismos. Estas creencias nos han impedido hacer un análisis apropiado de nuestra situación. La falta de este análisis nos hace imposible ver nuestro verdadero potencial. Tenemos la mitad de la culpa. Tenemos información. Poco es mejor que nada.
          <br>
          <br>
          Estos son los hechos, lo que hagamos con ellos puede llevarnos a un futuro desastroso, mediocre o próspero, más de lo que imaginamos en cualquier caso. La decisión es completamente nuestra, pero ahora que estamos conscientes de esto necesitamos actuar ya, esperar sólo significa continuar desperdiciando recursos.
          <br>
          <br>
          Invito a todos ustedes a comentar cuáles son sus habilidades, cómo creen que pueden transformarlas en dinero, cómo lograron cambiar sus malos hábitos, cómo administran su tiempo, los invito a todos a preguntar, a criticar, a discutir, a que den el primer paso, sea cual sea que estén pensando. Yo les aseguro: poco es mejor que nada. No son tan pobres como creen.
        </p>
        <p class="education__content-source">
          Lanzagorta, Joan (2015, 1 mayo). TARJETAS BANCARIAS ¿CÓMO ELEGIR? Recuperado de  <a href="https://planeatusfinanzas.com/tarjetas-bancarias-como-elegir/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Deudas", page_path('financiera/deudas/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
