<% content_for :page_title, 'Finapp - Con tarjeta de crédito te endeudas más' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Con tarjeta de crédito te endeudas más.</h3>
          <p class="education__content-description">Cuando vas a hacer tus compras para el mes, terminas con más deudas en la tarjeta de crédito.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("deudas-3_full.png", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Jimi Filipovski en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          Al ir de compras te recomiendo pagues en efectivo y dejes la tarjeta de crédito.
          <br>
          <br>
          Vas a ir de compras porque tienes que hacer la despensa de la quincena, así que llevas una lista de lo que te hace falta (lo cual es plausible), pero antes de salir prometes, casi lo firmas ante notario, que no compraras cosas que no estén en tu lista, ¡vaya reto!
          <br>
          <br>
          La finalidad de hacer un presupuesto es no generar más deudas en tu tarjeta de crédito.
          <br>
          <br>
          El primer paso, cuando te diriges a la tienda de autoservicio con lista en mano, es mentalizarse con dos frases “no gastos absurdos” “no más deudas”.
          <br>
          <br>
          De pronto, el estómago te recuerda que no desayunaste y eres de las personas que no pueden hacer nada si no come algo; decides comprarte un jugo. ¿Por qué no? ¿Qué son 15 pesos? Pero ¡Aquí empezamos con los gastos hormiga!
          <br>
          <br>
          Los gastos hormiga son esos pequeños gastos que haces en el café, las galletas, los cigarros, los chicles, la botella de agua, etc. en éste ejemplo es el jugo; porque bien pudiste haber desayunado en casa, ¿No crees?
          <br>
          <br>
          Checa estos tips que nos da la Revista del Consumidor:
          <br>
          <br>
          ¡Extra, extra hormigas que vacían tu cartera!
          <br>
          <br>
          Entonces seguimos. Vas por el pasillo tomando cada artículo que aparece en la lista y de pronto se te cruza el desodorante que viste anunciado en la televisión, el cual te promete que ¡Domesticarás a tu hombre! Los hombres no se quedan atrás en estos deslices de compras no necesarias. y así se te presentan más tentaciones y piensas “¡Traigo la tarjeta de crédito!” OK, me lo llevo.
          <br>
          <br>
          Bueno pues el punto es que caes en la tentación de la compra de eso que no necesitas, por ello vale la pena preguntarse ¿Lo necesito? o ¿Lo quiero? Si lo necesitas adelante pero si sólo lo quieres ¡cuidado! Tu tarjeta de crédito puede resentirlo. (No la dejaste en casa).
          <br>
          <br>
          El tema del presupuesto puede ser aburrido, es por ello que te comparto la siguiente presentación “Misiones de compra” donde nos ayudan a distinguir algunos tópicos de manera didáctica; por ejemplo:
          <br>
          <br>
          Cada viaje tiene una motivación distinta.<br>
          ¿Qué llevamos?<br>
          ¿Cuánto llevamos?<br>
          ¿En dónde compramos?<br>
          <br>
          Ahora ya tenemos una idea de qué tenemos que hacer para evitar más deudas en la tarjeta de crédito, y como te das cuenta, los pequeños gustos que parecen menores a la larga afectan nuestro presupuesto.<br>
        </p>
        <p class="education__content-source">
          FRANCO, Leticia (2013, 22 marzo). CON TARJETA DE CRÉDITO TE ENDEUDAS MÁS. Recuperado de <a href="https://planeatusfinanzas.com/tarjeta-de-credito-endeudas-mas/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Deudas", page_path('financiera/deudas/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
