<% content_for :page_title, 'Finapp - Cambiando tu situación financiera' %>
<%= render 'shared/nav' %>
<%= render 'shared/responsive-nav' %>

<div class="education__content">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="education__content-caption">
          <h3 class="education__content-title">Traspaso de crédito hipotecario</h3>
          <p class="education__content-description">Lo que necesitas saber al respecto de un traspaso de crédito.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag("deudas-5_full.jpg", class: "education__content-imgCover") %>
        <p class="education__content-sourcePhoto">Foto por Rawpixel en Unsplash</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns education__content-blogWrap">
        <p class="education__content-blog">
          He recibido recientemente varias preguntas sobre gente que quiere hacer un traspaso de crédito hipotecario a otra persona. Principalmente lectores que cuentan con algún crédito Infonavit.
          <br>
          <br>
          Algunos ya no pueden pagar y prefieren entonces buscar esto como alternativa, mientras que otros simplemente quieren adquirir otro bien inmueble mejor ubicado. Hay personas que están pasando por un trámite de divorcio y requieren liquidar su propiedad.
          <br>
          <br>
          Cualquiera que sea la razón, el traspaso de crédito no es la única alternativa. De hecho, puede ser la opción más complicada y la peor. Hay formas mucho más sencillas de hacer esta operación.
        </p>
        <p class="education__content-blogTitle">¿Qué es un Traspaso de Crédito Hipotecario?</p>
        <p class="education__content-blog">
          Un traspaso de crédito hipotecario también se conoce en el medio financiero como “sustitución de deudor”. Es el acto mediante el cual cedes o transmites los derechos y obligaciones de tu crédito hipotecario actual a otra persona. El comprador asume la responsabilidad de continuar pagando el crédito original – el cual debe quedar a su nombre.
          <br>
          <br>
          El traspaso de crédito hipotecario es complicado por las siguientes razones:
          <br>
          <br>
          1. Como se trata de una sustitución del deudor, debe ser autorizado por la institución financiera (banco, hipotecaria o Infonavit) a la cual le debes. Esto significa que la persona que se quedará con la vivienda tiene pasar los criterios que establece el banco para el otorgamiento de créditos, como cualquier otro solicitante. Si no es sujeto de crédito, si el banco no quiere prestarle a esa otra persona o no autoriza el traspaso, entonces no se puede realizar.
          <br>
          <br>
          La operación tiene muchas implicaciones legales y en ocasiones se cometen muchos fraudes. El trámite se tiene que hacer ante notario público y con la presencia de la institución financiera que tiene la hipoteca. Tanto la propiedad como el crédito deben quedar a nombre del comprador. Muchas veces personas que no están bien informadas resultan engañadas por contratos que no tienen validez jurídica alguna, al no haber sido realizados ante notario y con verificación completa de la identidad y de los gravámenes que tiene la propiedad.
          <br>
          <br>
          Además es muy frecuente que el dueño del inmueble piense, de manera equivocada, que sólo se traspasa la hipoteca y ya. Esto en muchos casos es un error muy grave – independientemente del traspaso de crédito, uno debe pactar el precio de acuerdo al valor real de la vivienda. El comprador debe liquidar en efectivo la diferencia entre el precio pactado, y el monto que se adeuda a la institución financiera.
        </p>
        <p class="education__content-blogTitle">¿Hay una opción más sencilla que el traspaso de crédito? ¿Cuál es?</p>
        <p class="education__content-blog">
          Simplemente poner a la venta la propiedad. A veces se nos olvida que una casa o departamento se puede vender aunque esté hipotecada. Se pacta un precio justo por la vivienda y al momento de la firma ante notario, se liquida en primer lugar la hipoteca y el resto se lo queda el vendedor.
          <br>
          <br>
          El comprador puede pagar la vivienda con su propio dinero, o puede también utilizar un crédito hipotecario: el que más le convenga. No es necesario traspasar el crédito actual.
          <br>
          <br>
          A veces se piensa que una casa hipotecada vale menos: esto es un mito y una gran falsedad: esto no influye para nada en el valor de la propiedad. Uno nunca debe dejarse engañar por esto.
          <br>
          <br>
          Lo que sí es importante es que todo se realice ante notario – es la única forma de garantizar que la persona que vende es realmente el dueño de la casa, y que ésta está actualmente hipotecada. El notario tiene que citar al banco que otorga la hipoteca para que reciba el pago completo de la deuda, y se proceda a la cancelación de hipoteca en el mismo acto.
          <br>
          <br>
          Incluso si el comprador utilizará un crédito hipotecario, en el mismo acto de compra-venta se constituye la hipoteca a favor del comprador, quien queda como propietario del inmueble y también como deudor de su propia hipoteca.
          <br>
          <br>
          Así que no es forzoso hacer un traspaso de crédito hipotecario, tampoco es la única opción. Si queremos vender nuestra propiedad simplemente hay que hacer eso: ponerla a la venta. Y asesorarse bien.
        </p>
        <p class="education__content-source">
           Lanzagorta, J. and Lanzagorta, J. (2018). Traspaso de crédito hipotecario - Planea Tus Finanzas. Recuperado de <a href="https://planeatusfinanzas.com/crea-patrimonio-y-dona-paso-bebe-7/" target="_blank">Planea tus finanzas</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-four four columns  landing__outro-button">
        <%= link_to "Volver a artículos de Deudas", page_path('financiera/deudas/index'), class: "button-main landing__outro-button" %>
      </div>
    </div>
  </div>
</div>
<div class="signals__plansAlt">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="signals__plans-benefits">
          <h4 class="signals__plans-benefitsTitle">Con Finapp Premium lleva tu cultura financiera a donde siempre has querido</h4>
          <ul class="signals__plans-description">
            <li class="signals__plans-benefitsSubtitle">Beneficios:</li>
            <li class="signals__plans-benefitsList">Acceso a artículos exclusivos de cultura financiera</li>
            <li class="signals__plans-benefitsList">Acceso a educación de cultura bursátil</li>
            <li class="signals__plans-benefitsList">Señales de inversión</li>
            <li class="signals__plans-benefitsList">Morning Call</li>
            <li class="signals__plans-benefitsList">Videos de seguimiento de operaciones</li>
            <li class="signals__plans-benefitsList">Videos de Estado del Mercado</li>
          </ul>
        </div>
      </div>
      <div class="four columns offset-by-two">
        <div class="signals__plans-about">
          <h2 class="signals__plans-quote">
            Únete por solo $490 al mes
          </h2>
          <%= link_to "¡Únete a premium!", premium_main_path, class: "button-min-white signals__plans-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
