<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126969564-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126969564-1');

      document.addEventListener('turbolinks:load', event => {
        if (typeof gtag === 'function') {
          gtag('config', 'UA-126969564-1', {
            'page_location': event.data.url
          });
        }
      });
    </script>

    <title><%= yield(:page_title) %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Aprende, ahorra, y lleva una mejor cultura financiera con nuestra plataforma multi-servicio." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Open Graph data -->
    <meta property="og:title" content="Finapp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.finapp.mx/" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="Aprende, ahorra, y lleva una mejor cultura financiera con nuestra plataforma multi-servicio." />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.3.23/plyr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="https://cdn.plyr.io/3.3.23/plyr.polyfilled.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'responsive-nav', 'signals-table', 'videos-table', 'updates-table', 'ratios-table', 'application', 'lightboxJquery', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
  </head>

  <body>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5bedbfd90e6b3311cb796d81/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    </script>

    <script>
      $(document).ready(function(){
        $(".notice" ).delay(2000).slideUp(500);
      });
    </script>
  </body>
</html>
